<h1>{{ list_head_txt }}</h1>


        {% render '../components/table/fieldset-legend', slot: '{{ list_head_txt }}' %}
            <div class="table-wrapper mt-1">
<table class='table w-full'>
                <thead class="dark">
                    <tr>
                        <th>{{ name_txt }}</th>
                        <th>{{ version_txt }}</th>
                        {% if is_noclient %}
                        <!--<th>{{ customer_txt }}</th>-->
                        {% endif %}
                        <th>{{ install_location_txt }}</th>
                        <th>{{ status_txt }}</th>
                        <th class="small-col text-right" >&nbsp;</th>
                    </tr>
                    <tr>
                        <td><input class="form-control" type="text" name="search_name" value="{{ search_name }}" /></td>
                        <td><input class="form-control" type="text" name="search_version" value="{{ search_version }}" /></td>
                        {% if is_noclient %}
                        <!--<td><input class="form-control" type="text" name="search_customer_name" value="{{ search_customer_name }}" /></td>-->
                        {% endif %}
                        <td>&nbsp;</td>
                        <td><select class="form-control" name="search_instance_status" onChange="ISPConfig.submitForm('pageForm','sites/aps_installedpackages_list.php');">{{ search_instance_status }}</select></td>
                        <td class="text-right">
                            <button type="button" class="btn btn-default formbutton-default formbutton-narrow" name="Filter" id="Filter" value="{{ filter_txt }}" data-submit-form="pageForm" data-form-action="sites/aps_installedpackages_list.php"><span class="icon icon-filter"></span></button>
                        </td>
                    </tr>
{% render '../components/table/head-body' %}
                    {% loop records %}
                        <tr>
                            <td><a href="#" data-load-content="sites/aps_packagedetails_show.php?id={{ package_id }}">{{ package_name }}</a></td>
                            <td>{{ package_version }}-{{ package_release }}</td>
                            {% if is_noclient %}
                                <!--<td><a href="#" data-load-content="sites/aps_packagedetails_show.php?id={{ package_id }}">{{ customer_name }}</a></td>-->
                            {% endif %}
                            <td><a href="http://{{ install_location }}" target="_blank">{{ install_location_short }}</a></td>
                            <td><span id="status_content{{ __ROWNUM__ }}">{{ instance_status }}</span></td>
                            <td class="text-right">
                                {% if delete_possible %}
                                    <a class="btn btn-default formbutton-danger formbutton-narrow" href="javascript: ISPConfig.confirm_action('sites/aps_do_operation.php?action=delete_instance&id={{ id }}&_csrf_id={{ csrf_id }}&_csrf_key={{ csrf_key }}','{{ pkg_delete_confirmation }}')"><span class="icon icon-delete"></span></button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endloop %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">{{ paging }}</td>
                    </tr>
                </tfoot>
            </table>
</div>

    </div>
