            <div class="form-group">
                <label for="dir" class="col-sm-3 control-label">{{ dir_txt }}</label>
                <div class="col-sm-9"><input type="text" name="dir" id="dir" value="{{ dir }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="expires" class="col-sm-3 control-label">{{ expires_txt }}</label>
                <div class="col-sm-9">{{ expires }}</div>
            </div>
        

        <input type="hidden" name="id" value="{{ id }}">

        {% render '../components/form-submit-buttons', cancel_load_content: 'sites/ftp_user_list.php', save_form_action: 'sites/ftp_user_edit.php' %}
