<h3>{{ manual_backup_title_txt }}</h3>
<button class="btn btn-default formbutton-default" type="button" onclick="ISPConfig.confirm_action('sites/web_vhost_domain_edit.php?id={{ parent_id }}&next_tab=backup&make_backup=database','{{ make_backup_confirm_txt }}');">{{ make_backup_database_txt }}</button>
<button class="btn btn-default formbutton-default" type="button" onclick="ISPConfig.confirm_action('sites/web_vhost_domain_edit.php?id={{ parent_id }}&next_tab=backup&make_backup=web','{{ make_backup_confirm_txt }}');">{{ make_backup_web_txt }}</button>

{% if msg %}
  <br><br>
  <div id="OKMsg" class="tab-content alert alert-success text-center"><p>{{ msg }}</p></div>
{% endif %}
{% if error %}
  <br><br>
  <div id="errorMsg" class="tab-content alert alert-danger text-center">
    <h4>{{ error_txt }}</h4>
    <p>{{ error }}</p>
  </div>
{% endif %}
<h3>{{ list_head_txt }}</h3>

{% render '../components/table/fieldset-legend', slot: '{{ list_head_txt }}' %}
{% render '../components/table/start' %}
{% render '../components/table/head-start' %}
    <tr>
        {% render '../components/table/th', name: 'date', label: '{{ date_txt }}'%}
        {% render '../components/table/th', name: 'backup_type', label: '{{ backup_type_txt }}'%}
        {% render '../components/table/th', name: 'backup_format', label: '{{ backup_format_txt }}'%}
        {% render '../components/table/th', name: 'backup_job', label: '{{ backup_job_txt }}'%}
        {% render '../components/table/th', name: 'backup_encrypted', label: '{{ backup_is_encrypted_txt }}'%}
        {% render '../components/table/th', name: 'filename', label: '{{ filename_txt }}'%}
        {% render '../components/table/th', name: 'filesize', label: '{{ filesize_txt }}'%}
        {% render '../components/table/th-search-limit' %}
    </tr>
{% render '../components/table/head-body' %}
    {% loop records %}
        <tr>
            <td>{{ date }}</td>
            <td>{{ backup_type }}</td>
            <td>{{ backup_format }}</td>
            <td>{{ backup_job }}</td>
            <td>{{ backup_encrypted }}</td>
            <td>{{ filename }}</td>
            <td>{{ filesize }}</td>
            <td class="text-center">
                <div class="buttons">
                    <button class="btn btn-default formbutton-default" type="button" onclick="ISPConfig.confirm_action('sites/web_vhost_domain_edit.php?id={{ parent_id }}&next_tab=backup&backup_action=restore&backup_id={{ backup_id }}','{{ restore_confirm_txt }}');">{{ restore_backup_txt }}</button>
                    {% if download_available %}
                        <button class="btn btn-default formbutton-default" type="button" data-load-content="sites/web_vhost_domain_edit.php?id={{ parent_id }}&next_tab=backup&backup_action=download&backup_id={{ backup_id }}">{{ download_backup_txt }}</button>
                    {% endif %}
                    <button class="btn btn-default formbutton-default" type="button" onclick="ISPConfig.confirm_action('sites/web_vhost_domain_edit.php?id={{ parent_id }}&next_tab=backup&backup_action=delete&backup_id={{ backup_id }}','{{ delete_confirm_txt }}');"><span>{{ delete_backup_txt }}</span></button>
                </div>
            </td>
        </tr>
    {% endloop %}
{% render '../components/table/end', colspan: '8' %}
