{% if childdomain_type == 'aliasdomain' %}
    {% render '../components/heading/h1', slot: '{{ aliasdomain_list_head_txt }}' %}
{% else %}
    {% render '../components/heading/h1', slot: '{{ subdomain_list_head_txt }}' %}
{% endif %}
<p>{{ list_desc_txt }}</p>

{% if datalog_changes_count > '0' %}
    <div>
        <div class="systemmonitor-state state-info">
            <div class="status"></div>
            <div class="statusMsg">
                {{ datalog_changes_txt }}
                <ul>
                    {% loop datalog_changes %}
                    <li><strong>{{ text }}:</strong> {{ count }}</li>
                    {% endloop %}
                </ul>
                {{ datalog_changes_end_txt }}
            </div>
        </div><br />
    </div>
{% endif %}
<p class="fieldset-legend">{{ toolsarea_head_txt }}</p>

{% if childdomain_type == 'aliasdomain' %}
    {% render '../components/button/primary', {
        "slot": "{{ add_new_aliasdomain_txt }}",
        "attributes": [
            [ "type", "button" ],
            [ "value", "{{ add_new_aliasdomain_txt }}" ],
            [ "data-load-content", "sites/web_childdomain_edit.php?type={{ childdomain_type }}"]
        ]
    } %}
{% else %}
    {% render '../components/button/primary', {
        "slot": "{{ add_new_subdomain_txt }}",
        "attributes": [
            [ "type", "button" ],
            [ "value", "{{ add_new_subdomain_txt }}" ],
            [ "data-load-content", "sites/web_childdomain_edit.php?type={{ childdomain_type }}"]
        ]
    } %}
{% endif %}

{% render '../components/table/fieldset-legend', slot: '{{ list_head_txt }}' %}
{% render '../components/table/start' %}
{% render '../components/table/head-start' %}
    <tr>
        <th class="tiny-col"
            data-column="active">{{ active_txt }}</th>
        <th data-column="server_id">{{ server_id_txt }}</th>
        <th data-column="parent_domain_id">{{ parent_domain_id_txt }}</th>
        <th data-column="domain">{% if childdomain_type == 'aliasdomain' %}{{ aliasdomain_txt }}{% else %}{{ subdomain_txt }}{% endif %}</th>
        <th class="small-col text-right">{{ search_limit }}</th>
    </tr>
    <tr>
        <td><select class="form-control"
                    name="search_active">{{ search_active }}</select></td>
        <td><select class="form-control"
                    name="search_server_id">{{ search_server_id }}</select></td>
        <td><select class="form-control"
                    name="search_parent_domain_id">{{ search_parent_domain_id }}</select></td>
        <td><input class="form-control"
                    type="text"
                    name="search_domain"
                    value="{{ search_domain }}" /></td>
        <td class="text-right">
            <button type="button"
                    class="btn btn-default formbutton-default formbutton-narrow"
                    name="Filter"
                    id="Filter"
                    value="{{ filter_txt }}"
                    data-submit-form="pageForm"
                    data-form-action="sites/web_childdomain_list.php?type={{ childdomain_type }}"><span class="icon icon-filter"></span></button>
        </td>
    </tr>
{% render '../components/table/head-body' %}
    {% loop records %}
    <tr>
        <td><a href="#"
                data-load-content="sites/web_childdomain_edit.php?id={{ id }}">{{ active }}</a></td>
        <td><a href="#"
                data-load-content="sites/web_childdomain_edit.php?id={{ id }}">{{ server_id }}</a></td>
        <td><a href="#"
                data-load-content="sites/web_childdomain_edit.php?id={{ id }}">{{ parent_domain_id }}</a></td>
        <td><a href="#"
                data-load-content="sites/web_childdomain_edit.php?id={{ id }}">{{ domain }}</a></td>
        <td class="text-right">
            <a class="btn btn-default formbutton-danger formbutton-narrow"
                href="javascript: ISPConfig.confirm_action('sites/web_childdomain_del.php?id={{ id }}&_csrf_id={{ csrf_id }}&_csrf_key={{ csrf_key }}&phpsessid={{ phpsessid }}','{{ delete_confirmation }}');"><span class="icon icon-delete"></span></a>
        </td>
    </tr>
    {% endloop %}
{% render '../components/table/end', colspan: '5' %}
