{% render '../components/h1', slot: '{{ list_head_txt }}' %}
<p>{{ list_desc_txt }}</p>


        <p class="fieldset-legend">{{ list_head_txt }}</p>
            <div class="table-wrapper marginTop15">
<table class='table w-full'>
                <thead class="dark">
					<tr>
						<th class="tiny-col" data-column="active">{{ active_txt }}</th>
						<th data-column="domain">{{ domain_txt }}</th>
						<th data-column="backup_server">{{ backup_server_txt }}</th>
						<th data-column="backup_interval">{{ backup_interval_txt }}</th>
						<th data-column="backup_count">{{ backup_count_txt }}</th>
						<th data-column="backup_size">{{ backup_size_txt }}</th>
					</tr>
                </thead>
				<tbody>
					{% loop records %}
					<tr class="tbl_row_{% if __EVEN__ %}even{% else %}uneven{% endif %}">
						<td> <a href="#" data-load-content="mail/mail_user_edit.php?id={{ id }}">{{ active }}</a> </td>
						<td> <a href="#" data-load-content="mail/mail_user_edit.php?id={{ id }}">{{ email }}</a> </td>
						<td> <a href="#" data-load-content="mail/mail_user_edit.php?id={{ id }}">{{ server_id }}</a> </td>
						<td> <a href="#" data-load-content="mail/mail_user_edit.php?id={{ id }}">{{ backup_interval }}</a> /  <a href="#" data-load-content="mail/mail_user_edit.php?id={{ id }}">{{ backup_copies }}</a> </td>
						<td> <a href="#" data-load-content="mail/mail_user_edit.php?id={{ id }}">{{ backup_copies_exists }}</a> </td>
						<td> <a href="#" data-load-content="mail/mail_user_edit.php?id={{ id }}">{{ backup_size }}</a> </td>
					</tr>
					{% endloop %}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="5">
							{{ paging }}
						</td>
					</tr>
				</tfoot>
            </table>
</div>

    </div>
