            <div class="form-group">
                <label for="destination" class="col-sm-3 control-label">{{ source_txt }}</label>
                <div class="col-sm-9"><select name="source" id="source" class="form-control" autofocus>
                    {{ source_domain }}
                </select></div>
            </div>
            <div class="form-group">
                <label for="destination" class="col-sm-3 control-label">{{ destination_txt }}</label>
                <div class="col-sm-9"><select name="destination" id="destination" class="form-control">
                    {{ destination_domain }}
                </select></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ active_txt }}</label>
                <div class="col-sm-9">
                    {{ active }}
                </div>
            </div>
        

        <input type="hidden" name="id" value="{{ id }}">
        <input type="hidden" name="type" value="aliasdomain">

        {% render '../components/form-submit-buttons', cancel_load_content: 'mail/mail_aliasdomain_list.php', save_form_action: 'mail/mail_aliasdomain_edit.php' %}
