<div class="pnl_toolsarea">
    {% if datalog_changes_count > '0' %}
    <div>
        <div class="systemmonitor-state state-info">
            <div class="status"></div>
            <div class="statusMsg">
                {{ datalog_changes_txt }}
                <ul>
                    {% loop datalog_changes %}
                    <li><strong>{{ text }}:</strong> {{ count }}</li>
                    {% endloop %}
                </ul>
                {{ datalog_changes_end_txt }}
            </div>
        </div><br />
    </div>
    {% endif %}

    <p class="fieldset-legend">{{ toolsarea_head_txt }}</p>

    {% render '../components/button/primary', {
        "slot": "{{ add_new_record_txt }}",
        "attributes": [
            [ "type", "button" ],
            [ "value", "{{ add_new_record_txt }}" ],
            [ "data-load-content", "mail/mail_user_filter_edit.php?mailuser_id={{ parent_id }}"]
        ]
    } %}

    {% render '../components/table/fieldset-legend', slot: '{{ list_head_txt }}' %}
    {% render '../components/table/start' %}
    {% render '../components/table/head-start' %}
        <tr>
            {% render '../components/table/th', name: 'rulename', label: '{{ rulename_txt }}', class: '' %}
            <th class="text-right">{{ search_limit }}</th>
        </tr>
        <tr>
            <td><input class="form-control"
                        type="text"
                        name="search_rulename"
                        value="{{ search_rulename }}" /></td>
            <td class="text-right">
                <button type="button"
                        class="btn btn-default formbutton-default formbutton-narrow"
                        name="Filter"
                        id="Filter"
                        value="{{ filter_txt }}"
                        onclick="return ISPConfig.changeTab('filter_records','mail/mail_user_edit.php');"><span class="icon icon-filter"></span></button>
            </td>
        </tr>
    {% render '../components/table/head-body' %}
        {% loop records %}
        <tr>
            <td><a href="#"
                    data-load-content="mail/mail_user_filter_edit.php?id={{ id }}">{{ rulename }}</a></td>
            <td class="text-right">
                <a class="btn btn-default formbutton-danger formbutton-narrow"
                    href="javascript: ISPConfig.confirm_action('mail/mail_user_filter_del.php?id={{ id }}&_csrf_id={{ csrf_id }}&_csrf_key={{ csrf_key }}&phpsessid={{ phpsessid }}','{{ delete_confirmation }}');"><span class="icon icon-delete"></span></a>
            </td>
        </tr>
        {% endloop %}
    {% render '../components/table/end', colspan: '2' %}
</div>
