{% render '../components/heading/h1', slot: '{{ list_head_txt }}' %}

{% if datalog_changes_count > '0' %}
    <div>
        <div class="systemmonitor-state state-info">
            <div class="status"></div>
            <div class="statusMsg">
                {{ datalog_changes_txt }}
                <ul>
                    {% loop datalog_changes %}
                    <li><strong>{{ text }}:</strong> {{ count }}</li>
                    {% endloop %}
                </ul>
                {{ datalog_changes_end_txt }}
            </div>
        </div><br />
    </div>
{% endif %}

<p class="fieldset-legend">{{ toolsarea_head_txt }}</p>

{% render '../components/button/primary', {
    "slot": "{{ add_new_record_txt }}",
    "attributes": [
        [ "type", "button" ],
        [ "value", "{{ add_new_record_txt }}" ],
        [ "data-load-content", "mail/mail_relay_domain_edit.php"]
    ]
} %}

{% render '../components/table/fieldset-legend', slot: '{{ list_head_txt }}' %}
{% render '../components/table/start' %}
{% render '../components/table/head-start' %}
    <tr>
        {% render '../components/table/th', name: 'active', label: '{{ active_txt }}', class: 'w-[8%]' %}
        {% render '../components/table/th', name: 'server_id', label: '{{ server_id_txt }}', class: '' %}
        {% render '../components/table/th', name: 'domain', label: '{{ domain_txt }}', class: '' %}
        {% render '../components/table/th-search-limit' %}
    </tr>
    <tr>
        <td><select class="form-control"
                    name="search_active">{{ search_active }}</select></td>
        <td><select class="form-control"
                    name="search_server_id">{{ search_server_id }}</select></td>
        <td><input class="form-control"
                    type="text"
                    name="search_domain"
                    value="{{ search_domain }}" /></td>
        <td class="text-right">
            <button type="button"
                    class="btn btn-default formbutton-default formbutton-narrow"
                    name="Filter"
                    id="Filter"
                    value="{{ filter_txt }}"
                    data-submit-form="pageForm"
                    data-form-action="mail/mail_relay_domain_list.php"><span
                        class="icon icon-filter"></span></button>
        </td>
    </tr>
{% render '../components/table/head-body' %}
    {% loop records %}
    <tr>
        <td><a href="#"
                data-load-content="mail/mail_relay_domain_edit.php?id={{ id }}">{{ active }}</a></td>
        <td><a href="#"
                data-load-content="mail/mail_relay_domain_edit.php?id={{ id }}">{{ server_id }}</a></td>
        <td><a href="#"
                data-load-content="mail/mail_relay_domain_edit.php?id={{ id }}">{{ domain }}</a></td>
        <td class="text-right">
            <a class="btn btn-default formbutton-danger formbutton-narrow"
                href="javascript: ISPConfig.confirm_action('mail/mail_relay_domain_del.php?id={{ id }}&_csrf_id={{ csrf_id }}&_csrf_key={{ csrf_key }}&phpsessid={{ phpsessid }}','{{ delete_confirmation }}');"><span
                        class="icon icon-delete"></span></a>
        </td>
    </tr>
    {% endloop %}
{% render '../components/table/end', colspan: '4' %}
