{% render '../components/heading/h1', slot: '{{ list_head_txt }}' %}
<p>{{ list_desc_txt }}</p>

{% render '../components/table/fieldset-legend', slot: '{{ list_head_txt }}' %}
{% render '../components/table/start' %}
{% render '../components/table/head-start' %}
    <tr>
        <th data-column="email">{{ email_txt }}</th>
        <th data-column="this_month">{{ this_month_txt }}</th>
        <th data-column="last_month">{{ last_month_txt }}</th>
        <th data-column="this_year">{{ this_year_txt }}</th>
        <th data-column="last_year">{{ last_year_txt }}</th>
        <th class="small-col text-right">{{ search_limit }}</th>
    </tr>
    <tr>
        <td><input class="form-control" type="text" name="search_email" value="{{ search_email }}" /></td>
        <td class="this_month"></td>
        <td class="last_month"></td>
        <td class="this_year"></td>
        <td class="last_year"></td>
        <td class="text-right">
            <button type="button" class="btn btn-default formbutton-default formbutton-narrow" name="Filter" id="Filter" value="{{ filter_txt }}" data-submit-form="pageForm" data-form-action="mail/mail_user_stats.php"><span class="icon icon-filter"></span></button>
        </td>
    </tr>
{% render '../components/table/head-body' %}
    {% loop records %}
        <tr>
            <td><a href="#" data-load-content="mail/mail_user_edit.php?id={{ id }}">{{ email }}</a></td>
            <td><a href="#" data-load-content="mail/mail_user_edit.php?id={{ id }}">{{ this_month }}</a></td>
            <td><a href="#" data-load-content="mail/mail_user_edit.php?id={{ id }}">{{ last_month }}</a></td>
            <td><a href="#" data-load-content="mail/mail_user_edit.php?id={{ id }}">{{ this_year }}</a></td>
            <td><a href="#" data-load-content="mail/mail_user_edit.php?id={{ id }}">{{ last_year }}</a></td>
            <td class="text-right"></td>
        </tr>
    {% endloop %}
{% render '../components/table/end', colspan: '6' %}
