			<div class="form-group">
                <label for="email_domain" class="col-sm-3 control-label">{{ source_txt }}</label>
                <div class="col-sm-9">
					<div class="input-group">
						<span class="input-group-addon" id="domain-desc">* @</span>
						<select name="email_domain" id="email_domain" class="form-control" aria-describedby="domain-desc">{{ email_domain }}</select>
					</div>
				</div>
            </div>
            <div class="form-group">
                <label for="destination" class="col-sm-3 control-label">{{ destination_txt }}</label>
                <div class="col-sm-9"><input type="text" name="destination" id="destination" value="{{ destination }}" class="form-control" /></div></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ send_as_txt }}</label>
                <div class="col-sm-9">
                    {{ allow_send_as }} <small> {{ send_as_exp }}</small>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ greylisting_txt }}</label>
                <div class="col-sm-9">
                    {{ greylisting }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ active_txt }}</label>
                <div class="col-sm-9">
                    {{ active }}
                </div>
            </div>

        <input type="hidden" name="id" value="{{ id }}">
        <input type="hidden" name="type" value="catchall">

        {% render '../components/form-submit-buttons', cancel_load_content: 'mail/mail_domain_catchall_list.php', save_form_action: 'mail/mail_domain_catchall_edit.php' %}
