{% render '../components/heading/h1', slot: '{{ list_head_txt }}' %}
<p>{{ list_desc_txt }}</p>

{% if datalog_changes_count > '0' %}
    <div>
        <div class="systemmonitor-state state-info">
            <div class="status"></div>
            <div class="statusMsg">
                {{ datalog_changes_txt }}
                <ul>
                    {% loop datalog_changes %}
                    <li><strong>{{ text }}:</strong> {{ count }}</li>
                    {% endloop %}
                </ul>
                {{ datalog_changes_end_txt }}
            </div>
        </div><br />
    </div>
{% endif %}

<div class="flex flex-row justify-end gap-4">

{% render '../components/button/primary', {
    "slot": "{{ add_new_record_txt }}",
    "attributes": [
        [ "type", "button" ],
        [ "value", "{{ add_new_record_txt }}" ],
        [ "data-load-content", "mail/mail_domain_catchall_edit.php"]
    ]
} %}
</div>
{% render '../components/table/fieldset-legend', slot: '{{ list_head_txt }}' %}
{% render '../components/table/start' %}
{% render '../components/table/head-start' %}
    <tr>
        {% render '../components/table/th', name: 'active', label: '{{ active_txt }}', class: 'w-[8%]' %}
        {% render '../components/table/th', name: 'source', label: '{{ source_txt }}', class: '' %}
        {% render '../components/table/th', name: 'destination', label: '{{ destination_txt }}', class: '' %}
        {% render '../components/table/th-search-limit' %}
    </tr>
    <tr>
        <td><select class="form-control"
                    name="search_active">{{ search_active }}</select></td>
        <td><input class="form-control"
                    type="text"
                    name="search_source"
                    value="{{ search_source }}" /></td>
        <td><input class="form-control"
                    type="text"
                    name="search_destination"
                    value="{{ search_destination }}" /></td>
        <td class="text-right">
            <button type="button"
                    class="btn btn-default formbutton-default formbutton-narrow"
                    name="Filter"
                    id="Filter"
                    value="{{ filter_txt }}"
                    data-submit-form="pageForm"
                    data-form-action="mail/mail_domain_catchall_list.php"><span
                        class="icon icon-filter"></span></button>
        </td>
    </tr>
{% render '../components/table/head-body' %}
    {% loop records %}
    <tr>
        <td><a href="#"
                data-load-content="mail/mail_domain_catchall_edit.php?id={{ id }}">{{ active }}</a></td>
        <td><a href="#"
                data-load-content="mail/mail_domain_catchall_edit.php?id={{ id }}">{{ source }}</a></td>
        <td><a href="#"
                data-load-content="mail/mail_domain_catchall_edit.php?id={{ id }}">{{ destination }}</a></td>
        <td class="text-right">
            <a class="btn btn-default formbutton-danger formbutton-narrow"
                href="javascript: ISPConfig.confirm_action('mail/mail_domain_catchall_del.php?id={{ id }}&_csrf_id={{ csrf_id }}&_csrf_key={{ csrf_key }}&phpsessid={{ phpsessid }}','{{ delete_confirmation }}');"><span
                        class="icon icon-delete"></span></a>
        </td>
    </tr>
    {% endloop %}
{% render '../components/table/end', colspan: '4' %}
