            <div class="form-group">
                <label for="rulename" class="col-sm-3 control-label">{{ rulename_txt }}</label>
                <div class="col-sm-9"><input type="text" id="rulename" name="rulename" value="{{ rulename }}" class="form-control"></div>
			</div>
            <div class="form-group">
                <label for="source" class="col-sm-3 control-label">{{ source_txt }}</label>
                <div class="col-sm-9" style="margin-bottom:10px"><select id="source" name="source" class="form-control">{{ source }}</select></div>
                <div class="col-sm-3"></div><div class="col-sm-9" style="margin-bottom:10px"><select id="op" name="op" class="form-control">{{ op }}</select></div>
				<div class="col-sm-3"></div><div class="col-sm-9"><input type="text" id="searchterm" name="searchterm" value="{{ searchterm }}" class="form-control"></div>
            </div>
            <div class="form-group">
                <label for="action" class="col-sm-3 control-label">{{ action_txt }}</label>
                <div class="col-sm-9" style="margin-bottom:10px"><select id="action" name="action" class="form-control">{{ action }}</select></div>
                <div class="col-sm-3"></div><div class="col-sm-9"><input type="text" id="target" name="target" value="{{ target }}" class="form-control"></div>
            </div>
            <div class="form-group">
                <label for="active" class="col-sm-3 control-label">{{ active_txt }}</label>
                <div class="col-sm-9"><span class="">{{ active }}</span></div>
            </div>
        

        <input type="hidden" name="id" value="{{ id }}">
        <input name="mailuser_id" type="hidden" value="{{ mailuser_id }}">

        {% render '../components/form-submit-buttons', cancel_load_content: 'mail/mail_user_edit.php?id={{ mailuser_id }}', save_form_action: 'mail/mail_user_filter_edit.php' %}
