{% if config_error_msg %}
<div class="alert alert-danger">
    <p>
      {{ configuration_error_txt }}
        <div>
          <div style="float:left;width:150px;">{{ config_error_tstamp }} :&nbsp;</div>
          <div style="padding-left:150px;">{{ config_error_msg }}</div>
        </div>
    </p>
  </div>
{% endif %}

            <div class="form-group">
                <label for="backup_interval" class="col-sm-3 control-label">{{ backup_interval_txt }}</label>
                <div class="col-sm-9"><select name="backup_interval" id="backup_interval" class="form-control">
                    {{ backup_interval }}
                </select></div>
            </div>
            <div class="form-group">
                <label for="backup_copies" class="col-sm-3 control-label">{{ backup_copies_txt }}</label>
                <div class="col-sm-9"><select name="backup_copies" id="backup_copies" class="form-control">
                    {{ backup_copies }}
                </select></div>
            </div>

        {{ backup_records }}
        <input type="hidden" name="id" value="{{ id }}">

        {% render '../components/form-submit-buttons', cancel_load_content: 'mail/mail_user_list.php', save_form_action: 'mail/mail_user_edit.php' %}
