<div class="form-group">
	<label class="col-sm-3 control-label">{{ move_junk_txt }}</label>
	<div class="col-sm-9"><select name="move_junk" id="move_junk" class="disableChangeEvent form-control">
	    {{ move_junk }}
	</select></div>

</div>

<div class="form-group">
	<label for="purge_trash_days" class="col-sm-3 control-label">{{ purge_trash_days_txt }}</label>
	<div class="col-sm-9">
		<div class="input-group">
        {% if show_config_info %}
			<input type="text" name="purge_trash_days" id="purge_trash_days" value="{{ purge_trash_days }}" class="form-control" x-tooltip.raw="{{ tooltip_purge_trash_days_txt }}">
        {% else %}
			<input type="text" name="purge_trash_days" id="purge_trash_days" value="{{ purge_trash_days }}" class="form-control">
        {% endif %}
		</div>
	</div>
</div>

<div class="form-group">
	<label for="purge_junk_days" class="col-sm-3 control-label">{{ purge_junk_days_txt }}</label>
	<div class="col-sm-9">
		<div class="input-group">
        {% if show_config_info %}
			<input type="text" name="purge_junk_days" id="purge_junk_days" value="{{ purge_junk_days }}" class="form-control" x-tooltip.raw="{{ tooltip_purge_junk_days_txt }}">
        {% else %}
			<input type="text" name="purge_junk_days" id="purge_junk_days" value="{{ purge_junk_days }}" class="form-control">
        {% endif %}
		</div>
	</div>
</div>

{{ filter_records }}

<input type="hidden" name="id" value="{{ id }}">

{% render '../components/form-submit-buttons', cancel_load_content: 'mail/mail_user_list.php', save_form_action: 'mail/mail_user_edit.php' %}
