{% render '../components/heading/h1', slot: '{{ list_head_txt }}' %}
<p>{{ list_desc_txt }}</p>


        <fieldset id="wf_area_spamfilter_config">
            <span class="wf_oneField">
                <label for="getmail_config_dir" class="col-sm-3 control-label">{{ getmail_config_dir_txt }}</label>
                <div class="col-sm-9"><input class="form-control" type="text" id="getmail_config_dir" name="getmail_config_dir" value="{{ getmail_config_dir }}"></div></span>
        </fieldset>

        <input type="hidden" name="id" value="{{ id }}">

        {% render '../components/form-submit-buttons', cancel_load_content: 'mail/spamfilter_config_list.php', save_form_action: 'mail/spamfilter_config_edit.php' %}
