{% render '../components/h1', slot: '{{ list_head_txt }}' %}
<p>{{ list_desc_txt }}</p>


        <fieldset id="wf_area_spamfilter_config">
            <span class="wf_oneField">
                <label for="ip_address" class="col-sm-3 control-label">{{ ip_address_txt }}</label>
                <div class="col-sm-9"><input class="form-control" type="text" id="ip_address" name="ip_address" value="{{ ip_address }}"></div></span>
            <span class="wf_oneField">
                <label for="netmask" class="col-sm-3 control-label">{{ netmask_txt }}</label>
                <div class="col-sm-9"><input class="form-control" type="text" id="netmask" name="netmask" value="{{ netmask }}"></div></span>
            <span class="wf_oneField">
                <label for="gateway" class="col-sm-3 control-label">{{ gateway_txt }}</label>
                <div class="col-sm-9"><input class="form-control" type="text" id="gateway" name="gateway" value="{{ gateway }}"></div></span>
            <span class="wf_oneField">
                <label for="hostname" class="col-sm-3 control-label">{{ hostname_txt }}</label>
                <div class="col-sm-9"><input class="form-control" type="text" id="hostname" name="hostname" value="{{ hostname }}"></div></span>
            <span class="wf_oneField">
                <label for="nameservers" class="col-sm-3 control-label">{{ nameservers_txt }}</label>
                <div class="col-sm-9"><input class="form-control" type="text" id="nameservers" name="nameservers" value="{{ nameservers }}"></div></span>
        </fieldset>

        <input type="hidden" name="id" value="{{ id }}">

        <div class="wf_actions buttons">
            <button class="btn btn-default formbutton-success" type="button" value="{{ btn_save_txt }}" data-submit-form="pageForm" data-form-action="mail/spamfilter_config_edit.php">{{ btn_save_txt }}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{{ btn_cancel_txt }}" data-load-content="mail/spamfilter_config_list.php">{{ btn_cancel_txt }}</button>
        </div>
