			<div class="form-group">
                <label for="rspamd_spam_greylisting_level" class="col-sm-3 control-label">{{ rspamd_spam_greylisting_level_txt }}</label>
                <div class="col-sm-9"><input type="text" name="rspamd_spam_greylisting_level" id="rspamd_spam_greylisting_level" value="{{ rspamd_spam_greylisting_level }}" class="form-control" /></div>
			</div>
			<div class="form-group">
                <label for="rspamd_spam_tag_level" class="col-sm-3 control-label">{{ rspamd_spam_tag_level_txt }}</label>
                <div class="col-sm-9"><input type="text" name="rspamd_spam_tag_level" id="rspamd_spam_tag_level" value="{{ rspamd_spam_tag_level }}" class="form-control" /></div>
			</div>
			<div class="form-group">
                <label for="rspamd_spam_tag_method" class="col-sm-3 control-label">{{ rspamd_spam_tag_method_txt }}</label>
                <div class="col-sm-9"><select name="rspamd_spam_tag_method" id="rspamd_spam_tag_method" class="form-control">
                    {{ rspamd_spam_tag_method }}
                </select></div>
            </div>
			<div class="form-group">
                <label for="rspamd_spam_kill_level" class="col-sm-3 control-label">{{ rspamd_spam_kill_level_txt }}</label>
                <div class="col-sm-9"><input type="text" name="rspamd_spam_kill_level" id="rspamd_spam_kill_level" value="{{ rspamd_spam_kill_level }}" class="form-control" /></div>
			</div>

        <input type="hidden" name="id" value="{{ id }}">

        {% render '../components/form-submit-buttons', cancel_load_content: 'mail/spamfilter_policy_list.php', save_form_action: 'mail/spamfilter_policy_edit.php' %}
