<div class="form-group">
    <label class="col-sm-3 control-label">{{ use_muc_host_txt }}</label>
    <div class="col-sm-9">
        {{ use_muc_host }}
    </div>
</div>

<div id="toggle-use-muc" class="collapse">
    <div class="form-group">
        <label for="muc_name" class="col-sm-3 control-label">{{ muc_name_txt }}</label>
        <div class="col-sm-9">
            <input type="text" name="muc_name" id="muc_name" value="{{ muc_name }}" class="form-control" maxlength="30" />
        </div>
    </div>

    <div class="form-group">
        <label for="muc_restrict_room_creation" class="col-sm-3 control-label">{{ muc_restrict_room_creation_txt }}</label>
        <div class="col-sm-3"><select name="muc_restrict_room_creation" id="muc_restrict_room_creation" class="form-control">
            {{ muc_restrict_room_creation }}
        </select></div>
    </div>
    <div class="form-group">
        <div class="form-group">
            <label class="col-sm-3 control-label">{{ muc_admins_txt }}</label>
            <div class="col-sm-9"><textarea class="form-control" name="muc_admins" id="muc_admins" rows='3' cols='30'>{{ muc_admins }}</textarea></div>
        </div>
    </div>

    {% if limit_xmpp_pastebin == 'y' %}
        <div class="form-group">
            <label class="col-sm-3 control-label">{{ use_pastebin_txt }}</label>
            <div class="col-sm-9">
                {{ use_pastebin }}
            </div>
        </div>
        <div id="toggle-use-pastebin" class="collapse">
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ pastebin_expire_after_txt }}</label>
                <div class="col-sm-3">
                    <input type="number" name="pastebin_expire_after" id="pastebin_expire_after" value="{{ pastebin_expire_after }}" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ pastebin_trigger_txt }}</label>
                <div class="col-sm-3">
                    <input type="text" name="pastebin_trigger" id="pastebin_trigger" value="{{ pastebin_trigger }}" class="form-control" />
                </div>
            </div>
        </div>
    {% endif %}

    {% if limit_xmpp_httparchive == 'y' %}
        <div class="form-group">
            <label class="col-sm-3 control-label">{{ use_http_archive_txt }}</label>
            <div class="col-sm-9">
                {{ use_http_archive }}
            </div>
        </div>
        <div id="toggle-use-archive" class="collapse">
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ http_archive_show_join_txt }}</label>
                <div class="col-sm-9">
                    {{ http_archive_show_join }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ http_archive_show_status_txt }}</label>
                <div class="col-sm-9">
                    {{ http_archive_show_status }}
                </div>
            </div>
        </div>
    {% endif %}

</div>


        <input type="hidden" name="id" value="{{ id }}">
        <input type="hidden" name="type" value="muc" />
        {% render '../components/form-submit-buttons', cancel_load_content: 'mail/xmpp_domain_list.php', save_form_action: 'mail/xmpp_domain_edit.php' %}
<script language="JavaScript" type="text/javascript" src="js/xmpp_domain_muc.js"></script>
