{% render '../components/heading/h1', slot: '{{ head_txt }}' %}
<p>{{ list_desc_txt }}</p>

<div class="panel panel_language_import">
    <div class="pnl_formsarea">
        <legend>{{ legend_txt }}</legend>
        <div class="form-group">
            <label class="col-sm-3 control-label"
                   for="db_hostname">Database Hostname</label>
            <div class="col-sm-9"><input class="form-control"
                       type="text"
                       id="db_hostname"
                       value="{{ db_hostname }}"
                       name="db_hostname" /></div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"
                   for="db_name">Database Name</label>
            <div class="col-sm-9"><input class="form-control"
                       type="text"
                       id="db_name"
                       value="{{ db_name }}"
                       name="db_name" /></div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"
                   for="db_user">Database User</label>
            <div class="col-sm-9"><input class="form-control"
                       type="text"
                       id="db_user"
                       value="{{ db_user }}"
                       name="db_user" /></div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"
                   for="db_password">Database password</label>
            <div class="col-sm-9"><input class="form-control"
                       type="text"
                       id="db_password"
                       value="{{ db_password }}"
                       name="db_password" /></div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"
                   for="db_options">Tupa database options</label>
            <div class="col-sm-9"
                 id="db_options">
                <label class="checkbox-inline"
                       for="db_ssl"><input type="checkbox"
                           id="db_ssl"
                           value="1"
                           name="db_ssl"
                           {% if db_ssl == 'true' %}checked{% endif %} /> Use SSL</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"
                   for="local_server_id">Server ID of local mailserver</label>
            <div class="col-sm-9"><input class="form-control"
                       type="text"
                       id="local_server_id"
                       value="{{ local_server_id }}"
                       name="local_server_id" /></div>
        </div>
    </div>

    {% if msg %}
        {% render '../components/msg', id: 'OKMsg', slot: '{{ msg }}' %}
    {% endif %}
    {% render '../components/error' %}

    <input type="hidden"
           name="remote_session_id"
           value="{{ remote_session_id }}">

    <div class="flex flex-row justify-between gap-4">
        {% render '../components/button/primary', {
            "slot": "{{ btn_cancel_txt }}",
            "attributes": [
                [ "type", "button" ],
                [ "value", "{{ btn_cancel_txt }}" ],
                [ "data-load-content", "tools/index.php" ]
            ]
        } %}
    
        {% render '../components/button/success', {
            "slot": "{{ btn_start_txt }}",
            "attributes": [
                [ "type", "button" ],
                [ "value", "Import" ],
                [ "data-submit-form", "pageForm" ],
                [ "data-form-action", "tools/import_vpopmail.php" ]
            ]
        } %}
    </div>
</div>
