{% render '../components/h1', slot: '{{ head_txt }}' %}
<p>{{ list_desc_txt }}</p>

<div class="panel panel_language_import" style="padding:20px;">
    <div class="pnl_formsarea">
        <legend>{{ legend_txt }}</legend>
            <div class="form-group">
                <label class="col-sm-3 control-label">Remote API URL</label>
                <div class="col-sm-9"><input class="form-control" type="text" id="remote_server" value="{{ remote_server }}" placeholder="https://www.example.com:8080/remote/" name="remote_server" /></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Remote User</label>
                <div class="col-sm-9"><input class="form-control" type="text" id="remote_user" value="{{ remote_user }}" name="remote_user" /></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Remote password</label>
                <div class="col-sm-9"><input class="form-control" type="text" id="remote_password" value="{{ remote_password }}" name="remote_password" /></div>
            </div>

    </div>
    {% if connected %}
        <div class="pnl_formsarea">
            <legend>{{ legend2_txt }}</legend>
                <div class="form-group">
                    <label for="mail_domain" class="col-sm-3 control-label">{{ mail_domain_txt }}</label>
                    <div class="col-sm-9"><select name="mail_domain" id="mail_domain" class="form-control">
                        {{ mail_domain }}
                    </select></div>
                </div>
                <div class="form-group">
                    <label for="client_group_id" class="col-sm-3 control-label">{{ client_group_id_txt }}</label>
                    <div class="col-sm-9"><select name="client_group_id" id="client_group_id" class="form-control">
                        {{ client_group_id }}
                    </select></div>
                </div>
                <div class="form-group">
                    <label for="local_server_id" class="col-sm-3 control-label">{{ local_server_txt }}</label>
                    <div class="col-sm-9"><select name="local_server_id" id="local_server_id" class="form-control">
                        {{ local_server_id }}
                    </select></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ import_mailbox_txt }}</label>
                    <div class="col-sm-9"><input class="form-control" type="checkbox" id="import_mailbox" value="1" name="import_mailbox" checked="checked" /></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ import_user_filter_txt }}</label>
                    <div class="col-sm-9"><input class="form-control" type="checkbox" id="import_user_filter" value="1" name="import_user_filter" checked="checked" /></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ import_spamfilter_txt }}</label>
                    <div class="col-sm-9"><input class="form-control" type="checkbox" id="import_spamfilter" value="1" name="import_spamfilter" checked="checked" /></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ import_alias_txt }}</label>
                    <div class="col-sm-9"><input class="form-control" type="checkbox" id="import_alias" value="1" name="import_alias" checked="checked" /></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ import_forward_txt }}</label>
                    <div class="col-sm-9"><input class="form-control" type="checkbox" id="import_forward" value="1" name="import_forward" checked="checked" /></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ import_aliasdomain_txt }}</label>
                    <div class="col-sm-9"><input class="form-control" type="checkbox" id="import_aliasdomain" value="1" name="import_aliasdomain" checked="checked" /></div>
                </div>

        </div>
    {% endif %}

    {% if msg %}
        <div id="OKMsg"><p>{{ msg }}</p></div>
    {% endif %}
    {% if error %}
			<div class='alert alert-danger clear'>
				<div class='alert-label'>
					<strong>{{ error_txt }}</strong>
					</div>
				<div class='alert-content'>
					<ul style="list-style-type:none">
						{{ error }}
					</ul>
				</div>
			</div>
    {% endif %}

    <input type="hidden" name="remote_session_id" value="{{ remote_session_id }}">
    <input type="hidden" name="connected" value="{{ connected }}">
    {% if connected %}
        <div class="clear"><div class="right">
            <button class="btn btn-default formbutton-success" type="button" value="Import" data-submit-form="pageForm" data-form-action="tools/import_ispconfig.php">{{ btn_start_txt }}</button>
            <button class="btn btn-default formbutton-default" type="button" value="Cancel" data-load-content="tools/index.php">{{ btn_cancel_txt }}</button>
        </div></div>
    {% else %}
        <div class="clear"><div class="right">
            <button class="btn btn-default formbutton-success" type="button" value="Import" data-submit-form="pageForm" data-form-action="tools/import_ispconfig.php">{{ btn_connect_txt }}</button>
            <button class="btn btn-default formbutton-default" type="button" value="Cancel" data-load-content="tools/index.php">{{ btn_cancel_txt }}</button>
        </div></div>
    {% endif %}
  </div>
