<div class='page-header'>
  <h1 class="text-4xl pb-4 border-b">{{ welcome_user }}</h1>
</div>

{% if error %}
	<div class="alert alert-danger">
		{% loop error %}
			{{ error_msg }}
		{% endloop %}
	</div>
{% endif %}
{% if warning %}
	<div class="alert alert-danger">
		{% loop warning %}
			{{ warning_msg }}
		{% endloop %}
	</div>
{% endif %}
{% if info %}
	<div class="alert alert-notification">
		{% loop info %}
			{{ info_msg }}
		{% endloop %}
	</div>
{% endif %}

{% loop leftcol %}
	{{ content }}
{% endloop %}
{% loop rightcol %}
	{{ content }}
{% endloop %}
