            <div class="form-group">
                <label for="hf_section" class="col-sm-3 control-label">{{ faq_section_txt }}</label>
                <div class="col-sm-9"><select name="hf_section" id="hf_section" class="form-control">
                    {{ hf_section }}
                </select></div>
            </div>
            <div class="form-group">
                <label for="hf_question" class="col-sm-3 control-label">{{ faq_question_txt }}</label>
                <div class="col-sm-9"><input type="text" name="hf_question" id="hf_question" value="{{ hf_question }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="hf_answer" class="col-sm-3 control-label">{{ faq_answer_txt }}</label>
                <div class="col-sm-9"><textarea class="form-control" name="hf_answer" id="hf_answer" rows='10' cols='30'>{{ hf_answer }}</textarea></div>
            </div>
        

        <input type="hidden" name="id" value="{{ id }}">

        {% render '../components/form-submit-buttons', cancel_load_content: 'help/faq_list.php', save_form_action: 'help/faq_edit.php' %}
