            <div class="form-group">
                <label for="hfs_name" class="col-sm-3 control-label">{{ faq_section_name_txt }}</label>
                <div class="col-sm-9"><input type="text" name="hfs_name" id="hfs_name" value="{{ hfs_name }}" class="form-control" /></div></div>
        

        <input type="hidden" name="id" value="{{ id }}">

        <div class="clear"><div class="right">
            <button class="btn btn-default formbutton-success" type="button" value="{{ btn_save_txt }}" data-submit-form="pageForm" data-form-action="help/faq_sections_edit.php">{{ btn_save_txt }}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{{ btn_cancel_txt }}" data-load-content="help/faq_sections_list.php">{{ btn_cancel_txt }}</button>
        </div></div>
