{% render '../components/heading/h1', slot: '{{ faq_faq_sections_txt }}' %}
<p>{{ list_desc_txt }}</p>

<p class="fieldset-legend">{{ toolsarea_head_txt }}</p>

{% render_json '../components/button/primary', {
    "slot": "{{ faq_new_section_txt }}",
    "attributes": [
        [ "type", "button" ],
        [ "value", "{{ faq_new_section_txt }}" ],
        [ "data-load-content", "help/faq_sections_edit.php"]
    ]
} %}

<p class="fieldset-legend">{{ faq_sections_txt }}</p>
{% render '../components/table/start' %}
{% render '../components/table/head-start' %}
    <tr>
        <th>{{ faq_section_name_txt }}</th>
        <th class="text-right">{{ faq_delete_txt }}</th>
        <th class="text-right">{{ faq_edit_txt }}</th>
    </tr>
{% render '../components/table/head-body' %}
    {% loop records %}
    <tr>
        <td><b>{{ hfs_name }}</b></td>
        <td class="text-right">
            <a class="btn btn-default formbutton-danger formbutton-narrow"
                href="javascript: ISPConfig.confirm_action('help/faq_sections_delete.php?id={{ id }}&_csrf_id={{ csrf_id }}&_csrf_key={{ csrf_key }}&phpsessid={{ phpsessid }}','{{ delete_confirmation }}');"><span
                        class="icon icon-delete"></span></a>
        </td>
        <td class="text-right">
            <a class="btn btn-default formbutton-default formbutton-narrow"
                data-load-content="help/faq_sections_edit.php?id={{ id }}"><span
                        class="icon icon-edit"></span></a>
        </td>
    </tr>
    {% endloop %}
{% render '../components/table/end' %}
