{% render '../components/heading/h1', slot: '{{ list_head_txt }}' %}
<p>{{ list_desc_txt }}</p>

<p class="fieldset-legend">{{ toolsarea_head_txt }}</p>

{% render '../components/button/primary', {
    "slot": "{{ add_new_record_txt }}",
    "attributes": [
        [ "type", "button" ],
        [ "value", "{{ add_new_record_txt }}" ],
        [ "data-load-content", "help/support_message_edit.php"]
    ]
} %}

{% render '../components/table/fieldset-legend', slot: '{{ list_head_txt }}' %}
{% render '../components/table/start' %}
{% render '../components/table/head-start' %}
    <tr>
        {% if is_admin %}<th data-column="sender_id">{{ sender_id_txt }}</th>{% endif %}
        <th data-column="subject">{{ subject_txt }}</th>
        <th data-column="tstamp">{{ date_txt }}</th>
        <th class="small-col text-right">{{ search_limit }}</th>
    </tr>
    <tr>
        {% if is_admin %}<td><select class="form-control"
                    name="search_sender_id">{{ search_sender_id }}</select></td>{% endif %}
        <td><input class="form-control"
                    type="text"
                    name="search_subject"
                    value="{{ search_subject }}" /></td>
        <td>&nbsp;</td>
        <td class="text-right">
            <button type="button"
                    class="btn btn-default formbutton-default formbutton-narrow"
                    name="Filter"
                    id="Filter"
                    value="{{ filter_txt }}"
                    data-submit-form="pageForm"
                    data-form-action="help/support_message_list.php"><span
                        class="icon icon-filter"></span></button>
        </td>
    </tr>
{% render '../components/table/head-body' %}
    {% loop records %}
    <tr>
        {% if is_admin %}<td><a href="#"
                data-load-content="help/support_message_edit.php?id={{ id }}">{{ sender_id }}</a></td>{% endif %}
        <td><a href="#"
                data-load-content="help/support_message_edit.php?id={{ id }}">{{ subject }}</a></td>
        <td><a href="#"
                data-load-content="help/support_message_edit.php?id={{ id }}">{{ tstamp }}</a></td>
        <td class="text-right">
            <a class="btn btn-default formbutton-danger formbutton-narrow"
                href="javascript: ISPConfig.confirm_action('help/support_message_del.php?id={{ id }}&_csrf_id={{ csrf_id }}&_csrf_key={{ csrf_key }}&phpsessid={{ phpsessid }}','{{ delete_confirmation }}');"><span
                        class="icon icon-delete"></span></a>
        </td>
    </tr>
    {% endloop %}
{% if is_admin %}
    {% render '../components/table/end', colspan: '4' %}
{% else %}
    {% render '../components/table/end', colspan: '3' %}
{% endif %}
