{% render '../components/heading/h1', slot: '{{ list_head_txt }} {{ contactname }}' %}
{% if number_records %}
	{{ delete_explanation }}:<br /><br />
    {% render '../components/table/start' %}
    {% render '../components/table/head-start' %}
        <tr>
            <th class="tiny-col">{{ table_txt }}</th>
            <th class="tiny-col">{{ data_txt }}</th>
        </tr>
    {% render '../components/table/head-body' %}
		{% loop records %}
			<tr>
				<td>{{ table }} ({{ count }})</td>
				<td>{{ data }}</td>
			</tr>
		{% endloop %}
    {% render '../components/table/end', colspan: '2' %}
{% else %}
	<h3>{{ confirm_client_delete_txt }}</h3>
{% endif %}
&nbsp;
<div> <input type="checkbox" name="confirm" value="yes" /> <b>{{ confirm_action_txt }}</b></div>
&nbsp;
<input type="hidden" name="id" value="{{ id }}">
<div class="clear"><div class="left">
	<button class="btn btn-default formbutton-success" type="button" value="{{ btn_save_txt }}" data-submit-form="pageForm" data-form-action="client/client_del.php">{{ btn_save_txt }}</button>
	<button class="btn btn-default formbutton-default" type="button" value="{{ btn_cancel_txt }}" data-load-content="client/client_list.php">{{ btn_cancel_txt }}</button>
</div></div>
