{% render '../components/heading/h1', slot: '{{ list_head_txt }} {{ contactname }}' %}
{% if number_records %}
	{{ delete_explanation }}:<br /><br />
    {% render '../components/table/start' %}
    {% render '../components/table/head-start' %}
        <tr>
            <th class="tiny-col">{{ table_txt }}</th>
            <th class="tiny-col">{{ data_txt }}</th>
        </tr>
    {% render '../components/table/head-body' %}
		{% loop records %}
			<tr>
				<td>{{ table }} ({{ count }})</td>
				<td>{{ data }}</td>
			</tr>
		{% endloop %}
    {% render '../components/table/end', colspan: '2' %}
{% else %}
	<h3>{{ confirm_client_delete_txt }}</h3>
{% endif %}
&nbsp;
<div> <input type="checkbox" name="confirm" value="yes" /> <b>{{ confirm_action_txt }}</b></div>
&nbsp;
<input type="hidden" name="id" value="{{ id }}">
{% render '../components/form-submit-buttons', cancel_load_content: 'client/client_list.php', save_form_action: 'client/client_del.php' %}
