{% if list_head_txt %}
{% render '../components/heading/h1', slot: '{{ list_head_txt }}' %}
{% endif %}
{% if list_desc_txt %}<p>{{ list_desc_txt }}</p>{% endif %}


            <div class="form-group">
                <label for="circle_name" class="col-sm-3 control-label">{{ circle_name_txt }}*</label>
                <div class="col-sm-9"><input type="text" name="circle_name" id="circle_name" value="{{ circle_name }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="description" class="col-sm-3 control-label">{{ description_txt }}</label>
                <div class="col-sm-9"><textarea class="form-control" name="description" id="description" rows='10' cols='30'>{{ description }}</textarea></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ active_txt }}</label>
                <div class="col-sm-9">
                    {{ active }}
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ client_ids_txt }}</label>
                <div class="col-sm-9">
                    {{ client_ids }}
                </div>
            </div>
            {{ required_fields_txt }}


        <input type="hidden" name="id" value="{{ id }}">

        {% render '../components/form-submit-buttons', cancel_load_content: 'client/client_circle_list.php', save_form_action: 'client/client_circle_edit.php' %}
