              <div class="form-group">
                <label for="company_name" class="col-sm-3 control-label">{{ company_name_txt }}</label>
                <div class="col-sm-9"><input type="text" name="company_name" id="company_name" value="{{ company_name }}" class="form-control" /></div>
              </div>
            <div class="form-group">
                <label for="gender" class="col-sm-3 control-label">{{ gender_txt }}</label>
                <div class="col-sm-9"><select name="gender" id="gender" class="form-control">
                    {{ gender }}
                </select></div>
            </div>
			<div class="form-group">
                <label for="contact_firstname" class="col-sm-3 control-label">{{ contact_firstname_txt }}</label>
                <div class="col-sm-9"><input type="text" name="contact_firstname" id="contact_firstname" value="{{ contact_firstname }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="contact_name" class="col-sm-3 control-label">{{ contact_name_txt }}*</label>
                <div class="col-sm-9"><input type="text" name="contact_name" id="contact_name" value="{{ contact_name }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="customer_no" class="col-sm-3 control-label">{{ customer_no_txt }}</label>
                <div class="col-sm-9"><input type="text" name="customer_no" id="customer_no" value="{{ customer_no }}" class="form-control" /></div><input name="customer_no_org" id="customer_no_org" value="{{ customer_no }}" type="hidden" />
            </div>
            <div class="form-group">
                <label for="username" class="col-sm-3 control-label">{{ username_txt }}*</label>
                <div class="col-sm-9"><input type="text" name="username" id="username" value="{{ username }}" class="form-control" /></div></div>
			<div class="form-group">
                <label for="password" class="col-sm-3 control-label">{{ password_txt }}</label>
                <div class="col-sm-9">
				<div class="input-group">
					<input type="password" name="password" id="password" value="{{ password }}" title="{{ password_click_to_set_txt }}" class="form-control" autocomplete="off" onkeyup="pass_check(this.value);checkPassMatch('password','repeat_password');" />
					<span class="input-group-btn">
						{% render '../components/button/generate-password', password: 'password' %}
					</span>
				</div>
				</div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ password_strength_txt }}</label>
                <div class="col-sm-9 checkbox">
                <div id="passBar"></div>
                <span id="passText">&nbsp;</span>
                </div>
            </div>
            <div class="form-group">
                <label for="repeat_password" class="col-sm-3 control-label">{{ repeat_password_txt }}</label>
                <div class="col-sm-9"><input type="password" name="repeat_password" id="repeat_password" value="" title="{{ password_click_to_set_txt }}" class="form-control" autocomplete="off" onkeyup="checkPassMatch('password','repeat_password');" /></div></div>
            <div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<div id="confirmpasswordError" style="display:none;" class="confirmpassworderror">{{ password_mismatch_txt }}</div>
					<div id="confirmpasswordOK" style="display:none;" class="confirmpasswordok">{{ password_match_txt }}</div>
				</div>
			</div>
            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">{{ email_txt }}*</label>
                <div class="col-sm-9"><input type="text" name="email" id="email" value="{{ email }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="language" class="col-sm-3 control-label">{{ language_txt }}</label>
                <div class="col-sm-9"><select name="language" id="language" class="form-control flags">
                    {{ language }}
                </select></div>
            </div>
            <div class="form-group">
                <label for="usertheme" class="col-sm-3 control-label">{{ usertheme_txt }}</label>
                <div class="col-sm-9"><select name="usertheme" id="usertheme" class="form-control">
                    {{ usertheme }}
                </select></div>
            </div>
            <div class="form-group">
                <label for="street" class="col-sm-3 control-label">{{ street_txt }}</label>
                <div class="col-sm-9"><input type="text" name="street" id="street" value="{{ street }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="zip" class="col-sm-3 control-label">{{ zip_txt }}</label>
                <div class="col-sm-9"><input type="text" name="zip" id="zip" value="{{ zip }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="city" class="col-sm-3 control-label">{{ city_txt }}</label>
                <div class="col-sm-9"><input type="text" name="city" id="city" value="{{ city }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="state" class="col-sm-3 control-label">{{ state_txt }}</label>
                <div class="col-sm-9"><input type="text" name="state" id="state" value="{{ state }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="country" class="col-sm-3 control-label">{{ country_txt }}</label>
                <div class="col-sm-9"><select name="country" id="country" class="form-control flags">
                    {{ country }}
                </select></div>
            </div>
            <div class="form-group">
                <label for="telephone" class="col-sm-3 control-label">{{ telephone_txt }}</label>
                <div class="col-sm-9"><input type="text" name="telephone" id="telephone" value="{{ telephone }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="mobile" class="col-sm-3 control-label">{{ mobile_txt }}</label>
                <div class="col-sm-9"><input type="text" name="mobile" id="mobile" value="{{ mobile }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="fax" class="col-sm-3 control-label">{{ fax_txt }}</label>
                <div class="col-sm-9"><input type="text" name="fax" id="fax" value="{{ fax }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="internet" class="col-sm-3 control-label">{{ internet_txt }}</label>
                <div class="col-sm-9"><input type="text" name="internet" id="internet" value="{{ internet }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="vat_id" class="col-sm-3 control-label">{{ vat_id_txt }}</label>
                <div class="col-sm-9"><input type="text" name="vat_id" id="vat_id" value="{{ vat_id }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="company_id" class="col-sm-3 control-label">{{ company_id_txt }}</label>
                <div class="col-sm-9"><input type="text" name="company_id" id="company_id" value="{{ company_id }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="bank_account_owner" class="col-sm-3 control-label">{{ bank_account_owner_txt }}</label>
                <div class="col-sm-9"><input type="text" name="bank_account_owner" id="bank_account_owner" value="{{ bank_account_owner }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="bank_account_number" class="col-sm-3 control-label">{{ bank_account_number_txt }}</label>
                <div class="col-sm-9"><input type="text" name="bank_account_number" id="bank_account_number" value="{{ bank_account_number }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="bank_code" class="col-sm-3 control-label">{{ bank_code_txt }}</label>
                <div class="col-sm-9"><input type="text" name="bank_code" id="bank_code" value="{{ bank_code }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="bank_name" class="col-sm-3 control-label">{{ bank_name_txt }}</label>
                <div class="col-sm-9"><input type="text" name="bank_name" id="bank_name" value="{{ bank_name }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="bank_account_iban" class="col-sm-3 control-label">{{ bank_account_iban_txt }}</label>
                <div class="col-sm-9"><input type="text" name="bank_account_iban" id="bank_account_iban" value="{{ bank_account_iban }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="bank_account_swift" class="col-sm-3 control-label">{{ bank_account_swift_txt }}</label>
                <div class="col-sm-9"><input type="text" name="bank_account_swift" id="bank_account_swift" value="{{ bank_account_swift }}" class="form-control" /></div></div>
			<div class="form-group">
                <label for="paypal_email" class="col-sm-3 control-label">{{ paypal_email_txt }}</label>
                <div class="col-sm-9"><input type="text" name="paypal_email" id="paypal_email" value="{{ paypal_email }}" class="form-control" /></div></div>
			<div class="form-group">
                <label for="added_date" class="col-sm-3 control-label">{{ added_date_txt }}</label>
                <div class="col-sm-9"><input type="text" name="added_date" id="added_date" value="{{ added_date }}" class="form-control" /></div></div>
			<div class="form-group">
                <label for="added_by" class="col-sm-3 control-label">{{ added_by_txt }}</label>
                <div class="col-sm-9"><input type="text" name="added_by" id="added_by" value="{{ added_by }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="notes" class="col-sm-3 control-label">{{ notes_txt }}</label>
                <div class="col-sm-9"><textarea class="form-control" name="notes" id="notes" rows='10' cols='30'>{{ notes }}</textarea></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ locked_txt }}</label>
                <div class="col-sm-9">
                    {{ locked }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ canceled_txt }}</label>
                <div class="col-sm-9">
                    {{ canceled }}
                </div>
            </div>
            {{ required_fields_txt }}


        <input type="hidden" name="id" value="{{ id }}">

        <div class="clear"><div class="right">
            <button class="btn btn-default formbutton-success" type="button" value="{{ btn_save_txt }}" data-submit-form="pageForm" data-form-action="client/client_edit.php">{{ btn_save_txt }}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{{ btn_cancel_txt }}" data-load-content="{{ session_module }}/client_list.php">{{ btn_cancel_txt }}</button>
        </div></div>
