{% render '../components/heading/h1', slot: '{{ page_head_txt }}' %}

{% if okmsg %}
    {% render '../components/msg', id: 'OKMsg', slot: '{{ okmsg }}' %}
{% endif %}
{% render '../components/error' %}

<div class="form-group">
    <label for="sender"
           class="col-sm-3 control-label">{{ sender_txt }}</label>
    <div class="col-sm-9"><input type="text"
               name="sender"
               id="sender"
               value="{{ sender }}"
               class="form-control" /></div>
</div>
<div class="form-group">
    <label for="recipient"
           class="col-sm-3 control-label">{{ recipient_txt }}</label>
    <div class="col-sm-9"><select name="recipient"
                id="recipient"
                class="form-control">
            {{ recipient }}
        </select></div>
</div>
<div class="form-group">
    <label for="subject"
           class="col-sm-3 control-label">{{ subject_txt }}</label>
    <div class="col-sm-9"><input type="text"
               name="subject"
               id="subject"
               value="{{ subject }}"
               class="form-control" /></div>
</div>
<div class="form-group">
    <label for="message"
           class="col-sm-3 control-label">{{ message_txt }}</label>
    <div class="col-sm-9"><textarea class="form-control"
                  name="message"
                  id="message"
                  rows="10">{{ message }}</textarea></div>
    <div class="col-sm-3 col-text"></div>
    <div class="col-sm-9 col-text">{{ variables_txt }}: {{ message_variables }} <br />{{ variables_description_txt }}</div>
</div>

{% render '../components/form-submit-buttons', cancel_load_content: 'client/client_list.php', save_form_action: 'client/client_message.php' %}