            <div class="form-group">
                <label for="template_type" class="col-sm-3 control-label">{{ template_type_txt }}</label>
                <div class="col-sm-9"><select name="template_type" id="template_type" class="form-control">
                    {{ template_type }}
                </select></div>
            </div>
            <div class="form-group">
                <label for="template_name" class="col-sm-3 control-label">{{ template_name_txt }}</label>
                <div class="col-sm-9"><input type="text" name="template_name" id="template_name" value="{{ template_name }}" class="form-control" /></div></div>
        

        <input type="hidden" name="id" value="{{ id }}">

        {% render '../components/form-submit-buttons', cancel_load_content: 'client/client_template_list.php', save_form_action: 'client/client_template_edit.php' %}
