{% render '../components/heading/h1', slot: '{{ list_head_txt }}' %}
<p>{{ list_desc_txt }}</p>

<div class="flex flex-row justify-end gap-4">

    {% render '../components/button/primary', {
        "slot": "{{ add_new_record_txt }}",
        "attributes": [
            [ "type", "button" ],
            [ "value", "{{ add_new_record_txt }}" ],
            [ "data-load-content", "client/client_circle_edit.php"]
        ]
    } %}

</div>

{% render '../components/table/fieldset-legend', slot: '{{ list_head_txt }}' %}
{% render '../components/table/start' %}
{% render '../components/table/head-start' %}
    <tr>
        {% render '../components/table/th', name: 'circle_id', label: '{{ circle_id_txt }}', class: '' %}
        {% render '../components/table/th', name: 'active', label: '{{ active_txt }}', class: 'w-[8%]' %}
        {% render '../components/table/th', name: 'circle_name', label: '{{ circle_name_txt }}', class: '' %}
        {% render '../components/table/th', name: 'description', label: '{{ description_txt }}', class: '' %}
        {% render '../components/table/th-search-limit' %}
    </tr>
    <tr>
        <td><input class="form-control"
                    type="text"
                    name="search_circle_id"
                    value="{{ search_circle_id }}" /></td>
        <td><select class="form-control"
                    name="search_active">{{ search_active }}</select></td>
        <td><input class="form-control"
                    type="text"
                    name="search_circle_name"
                    value="{{ search_circle_name }}" /></td>
        <td><input class="form-control"
                    type="text"
                    name="search_description"
                    value="{{ search_description }}" /></td>
        <td class="text-right">
            <button type="button"
                    class="btn btn-default formbutton-default formbutton-narrow"
                    name="Filter"
                    id="Filter"
                    value="{{ filter_txt }}"
                    data-submit-form="pageForm"
                    data-form-action="client/client_circle_list.php"><span
                        class="icon icon-filter"></span></button>
        </td>
    </tr>
{% render '../components/table/head-body' %}
    {% loop records %}
    <tr>
        <td><a href="#"
                data-load-content="client/client_circle_edit.php?id={{ id }}">{{ circle_id }}</a></td>
        <td><a href="#"
                data-load-content="client/client_circle_edit.php?id={{ id }}">{{ active }}</a></td>
        <td><a href="#"
                data-load-content="client/client_circle_edit.php?id={{ id }}">{{ circle_name }}</a></td>
        <td><a href="#"
                data-load-content="client/client_circle_edit.php?id={{ id }}">{{ description }}</a></td>
        <td class="text-right">
            <a class="btn btn-default formbutton-danger formbutton-narrow"
                href="javascript: ISPConfig.confirm_action('client/client_circle_del.php?id={{ id }}&_csrf_id={{ csrf_id }}&_csrf_key={{ csrf_key }}&phpsessid={{ phpsessid }}','{{ delete_confirmation }}');"><span
                        class="icon icon-delete"></span></a>
        </td>
    </tr>
    {% endloop %}
{% render '../components/table/end', colspan: '5' %}
