<p>{{ list_desc_txt }}</p>


        
            <div class="form-group">
                <label for="domain" class="col-sm-3 control-label">{{ domain_txt }}</label>
                {% if edit_disabled %}
                <div class="col-sm-9"><input type="text" name="domain" id="domain" value="{{ domain }}" class="form-control" readonly="readonly" /></div>{% else %}
                <div class="col-sm-9"><input type="text" name="domain" id="domain" value="{{ domain }}" class="form-control" /></div>{% endif %}
            </div>
            <div class="form-group">
                <label for="client_group_id" class="col-sm-3 control-label">{{ client_txt }}</label>
                <div class="col-sm-9"><select name="client_group_id" id="client_group_id" class="form-control">
                    {{ client_group_id }}
                </select></div>
            </div>
        

        <input type="hidden" name="id" value="{{ id }}">
        <input type="hidden" name="type" value="local">

        {% render '../components/form-submit-buttons', cancel_load_content: 'client/domain_list.php', save_form_action: 'client/domain_edit.php' %}