<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />

    <title>{{ company_name }}{{ app_title }}</title>

    <meta name="viewport"
          content="width=device-width, user-scalable=yes">
    <meta name="description"
          lang="en"
          content="" />
    <meta name="keywords"
          lang="en"
          content="" />

    <link rel="apple-touch-icon"
          sizes="180x180"
          href="../themes/{{ current_theme }}/assets/favicon/apple-touch-icon.png">
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="../themes/{{ current_theme }}/assets/favicon/favicon-32x32.png">
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="../themes/{{ current_theme }}/assets/favicon/favicon-16x16.png">
    <link rel="manifest"
          href="../themes/{{ current_theme }}/assets/favicon/site.webmanifest">
    <link rel="mask-icon"
          href="../themes/{{ current_theme }}/assets/favicon/safari-pinned-tab.svg"
          color="#cc151c">
    <link rel="shortcut icon"
          href="../themes/{{ current_theme }}/assets/favicon/favicon.ico">
    <meta name="msapplication-TileColor"
          content="#cc151c">
    <meta name="msapplication-config"
          content="../themes/{{ current_theme }}/assets/favicon/browserconfig.xml">
    <meta name="theme-color"
          content="#cc151c">

    <link rel="stylesheet"
          href="../themes/{{ current_theme }}/assets/style.css" />

    <link rel="stylesheet"
          href="../themes/{{ current_theme }}/assets/stylesheets/fonts.min.css" />
    <link rel="stylesheet"
          href="../themes/{{ current_theme }}/assets/stylesheets/login.css" />
</head>

<body x-data="{ modalOpen: false, sidebarOpen: false, darkMode: $persist(window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) }"
    x-effect="document.documentElement.classList.toggle('dark', darkMode)"
    class="bg-slate-100 text-black dark:bg-gray-900 transition-colors duration-300 motion-reduce:transition-none"
    :class="{ 'overflow-hidden sm:overflow-auto': sidebarOpen }">

    <div id="container"
         class="container mx-auto px-2 sm:px-4 md:px-6 lg:px-8 min-h-screen grid items-center justify-center">
        <div class="bg-gray-700 rounded shadow-lg border border-gray-300 dark:border-gray-700">
            <div class="panel-heading text-center p-4 bg-gradient-to-b  from-white to-[#eef0f2] dark:from-gray-700 dark:to-gray-800">
                <img src="{{ base64_logo_txt }}" class=" dark:grayscale dark:brightness-[100]"
                     alt="{{ company_name }}{{ app_title }}" />
            </div>
            <div class="panel-body">
                {% dyninclude "content_tpl" %}
                <br>
                <center><small>{{ custom_login }}</small></center>
            </div>
        </div>
    </div>
    <script type="module"
            src="../themes/{{ current_theme }}/assets/tailwindone.es.js"></script>
    <script type="text/javascript"
            src="../js/jquery.min.js"></script>
    <script src="../themes/{{ current_theme }}/assets/javascripts/bootstrap.min.js"></script>
    <script src="../themes/{{ current_theme }}/assets/javascripts/bootstrap-datetimepicker.min.js"></script>
    <script src="../themes/{{ current_theme }}/assets/javascripts/modernizr.custom.min.js"></script>
    <script src="../js/scrigo.js.php"></script>
    <script type="text/javascript"
            src="../js/jquery.ispconfigsearch.js"></script>
    <script type="text/javascript"
            src="../js/jquery.tipsy.js"></script>
    {% loop js_d_includes %}
    <script type="text/javascript"
            src="../js/js.d/{{ file }}"></script>
    {% endloop %}
</body>

</html>
