<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />

    <title>{{ company_name }}{{ app_title }}</title>

    <meta name="viewport"
          content="width=device-width, user-scalable=yes">
    <meta name="description"
          lang="en"
          content="" />
    <meta name="keywords"
          lang="en"
          content="" />
    <meta name="robots"
          content="noindex, nofollow" />

    <meta name="theme-path"
          content="themes/{{ current_theme }}/assets/" />

    <link rel="apple-touch-icon"
          sizes="180x180"
          href="/themes/{{ current_theme }}/assets/favicon/apple-touch-icon.png">
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="/themes/{{ current_theme }}/assets/favicon/favicon-32x32.png">
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="/themes/{{ current_theme }}/assets/favicon/favicon-16x16.png">
    <link rel="manifest"
          href="/themes/{{ current_theme }}/assets/favicon/site.webmanifest">
    <link rel="mask-icon"
          href="/themes/{{ current_theme }}/assets/favicon/safari-pinned-tab.svg"
          color="#cc151c">
    <link rel="shortcut icon"
          href="/themes/{{ current_theme }}/assets/favicon/favicon.ico">
    <meta name="msapplication-TileColor"
          content="#cc151c">
    <meta name="msapplication-config"
          content="/themes/{{ current_theme }}/assets/favicon/browserconfig.xml">
    <meta name="theme-color"
          content="#cc151c">

    <link rel="stylesheet"
          href="themes/{{ current_theme }}/assets/style.css" />

    <link rel="stylesheet"
          href="themes/{{ current_theme }}/assets/stylesheets/fonts.min.css" />
    <link rel="stylesheet"
          href="themes/{{ current_theme }}/assets/stylesheets/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet"
          href="themes/{{ current_theme }}/assets/stylesheets/select2.css" />
    <link rel="stylesheet"
          href="themes/{{ current_theme }}/assets/stylesheets/select2-bootstrap.css" />
    <link rel="stylesheet"
          href="themes/{{ current_theme }}/assets/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css" />

    {% if logged_in == "n" %}
    <link rel="stylesheet"
          href="themes/{{ current_theme }}/assets/stylesheets/login.css" />
    {% endif %}
</head>

<body x-data="{ modalOpen: false, sidebarOpen: false, darkMode: $persist(window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) }"
    x-effect="document.documentElement.classList.toggle('dark', darkMode)"
    class="bg-slate-100 text-black dark:bg-gray-900 transition-colors duration-300 motion-reduce:transition-none"
    :class="{ 'overflow-hidden sm:overflow-auto': sidebarOpen }">
    <!-- off canvas -->
    <nav id="responsive-navigation"
        data-open="false"
        x-effect="$el.setAttribute('data-open', sidebarOpen.toString())"
        class="flex flex-col -translate-x-full data-[open=true]:-translate-x-0 opacity-0 data-[open=true]:opacity-100 fixed top-0 w-full sm:w-1/2 md:w-80 lg:hidden h-full overflow-y-auto z-50 shadow-lg transition-all p-6 duration-300 motion-reduce:transition-none bg-gray-200 text-black dark:bg-gray-800 dark:text-white">
    </nav>
    <div class="site-overlay"></div>

    <div id="container"
         class="container mx-auto px-2 sm:px-4 md:px-6 lg:px-8 min-h-screen flex flex-col">
        <div id="main-wrapper"
             class="flex-grow">
            <div id="inner-wrapper">
                <div class="flex flex-col gap-4 rounded sm:flex-row w-full sm:justify-between items-center mt-4">
                    <div class="flex w-full gap-4 items-center">
                        <!-- off canvas menu button -->
                        <div class="menu-btn flex items-center cursor-pointer rounded px-4 py-2 lg:hidden hover:bg-gray-800 hover:text-white dark:bg-gray-800 dark:text-white dark:hover:bg-gray-600 dark:hover:text-white"
                             x-show="!sidebarOpen"
                             @click="sidebarOpen = !sidebarOpen">&#9776;</div>
                        <!-- logo -->
                        <div id="logo"
                             class="bg-no-repeat bg-contain w-[200px] h-[65px] dark:grayscale dark:brightness-[100]"
                             style="background: url({{ base64_logo_txt }}) no-repeat;width:{{ base64_logo_width }};height:{{ base64_logo_height }}">
                            <a href="#" class="block w-full h-full"></a></div>
                    </div>
                    <div id="headerbar"
                         class="flex w-full items-center justify-end gap-4">
                         <div class="notification grid place-items-center cursor-pointer text-bold bg-red-500 w-10 h-10 min-w-10 min-h-10 rounded-full animate-pulse"
                              @click="modalOpen = true">
                             <span class="notification_text">{{ datalog_changes_count }}</span>
                         </div>

                        {% if cpuser %}
                            {% if usertype == "normaluser" %}
                            <!-- search field -->
                            <form action="#"
                                method="get"
                                id="searchform"
                                class="flex relative">
                                <div class="flex gap-2 items-stretch">
                                    {% render './components/input/text', id: 'globalsearch', placeholder: '{{ globalsearch_searchfield_watermark_txt }}' %}
                                    {% render './components/button/primary', {
                                        "slot": "<span class=\"icon icon-lens -ml-[5px] text-base group-hover:text-white\"></span>",
                                        "attributes": []
                                    } %}
                                </div>
                            </form>
                            {% endif %}

                            {% render "./components/button/danger", {
                                    "slot": "{{ logout_txt }} {{ cpuser }}",
                                    "attributes": [
                                        ["id", "logout-button"],
                                        ["data-load-content", "login/logout.php"]
                                    ]
                                }
                            %}

                            <div x-show="darkMode"
                                @click="darkMode = false"
                                class="cursor-pointer">
                                {% render './components/button/primary', {
                                    "slot": "<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-5 h-5'><path stroke-linecap='round' stroke-linejoin='round' d='M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z' /></svg>",
                                    "attributes": []
                                } %}
                            </div>
                            <div x-show="!darkMode"
                                @click="darkMode = true"
                                class="cursor-pointer">
                                {% render './components/button/primary', {
                                    "slot": "<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-5 h-5'><path stroke-linecap='round' stroke-linejoin='round' d='M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z' /></svg>",
                                    "attributes": []
                                } %}
                            </div>
                        {% endif %}
                    </div>

                    <!-- Datalogstatus Modal -->
                    <div id="datalogModal"
                         class="modal grid fixed w-full h-full top-0 left-0 items-center justify-center z-50"
                         role="dialog"
                         x-show="modalOpen">
                        <div class="modal-dialog shadow-lg rounded-lg border border-bg-600">
                            <div class="modal-content inline-flex flex-col gap-4 bg-gray-100">
                                <div class="modal-header flex flex-col gap-4 items-end p-4">
                                    <div class="-mt-5 -mr-5">
                                        {% render './components/button/primary', {
                                            "slot": "&times;",
                                            "attributes": [
                                                ["type", "button"],
                                                ["@click", "modalOpen = false"]
                                            ]
                                        } %}
                                    </div>
                                    <h4 class="modal-title font-semibold">{{ datalog_changes_txt }}</h4>
                                </div>
                                <div class="modal-body bg-white p-4 min-h-5">
                                    <ul>
                                        {% loop datalog_changes %}
                                        <li><strong>{{ text }}:</strong> {{ count }}</li>
                                        {% endloop %}
                                    </ul>
                                </div>
                                <div class="modal-footer grid items-center justify-center p-4">
                                    {% render './components/button/primary', {
                                        "slot": "{{ datalog_changes_close_txt }}",
                                        "attributes": [
                                            ["type", "button"],
                                            ["@click", "modalOpen = false"]
                                        ]
                                    } %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Datalogstatus Modal -->
                </div>
                {% if logged_in == "y" %}
                <div id="topnav-container"
                     class="pb-6">
                </div>
                {% endif %}
                <div class="flex flex-wrap gap-6 flex-col lg:flex-row-reverse">
                    <!-- content -->
                    <div id="content"
                         class="flex-1 lg:w-3/4">
                        <noscript>This page needs JavaScript to be enabled.</noscript>
                        <form method="post"
                              action=""
                              id="pageForm"
                              name="pageForm"
                              enctype="multipart/form-data"
                              class="form-horizontal"
                              role="form">
                            <div id="pageContent"
                                 data-startpage="{{ startpage }}"><!-- AJAX CONTENT --></div>
                        </form>
                    </div>
                    <!-- news sidebar -->
                    {% if logged_in == "y" %}
                    <div id="sidebar"
                         class="w-full lg:w-1/5 xl:w-1/6 p-4 border rounded self-start float-right shadow-inner bg-gray-50 text-black dark:border-slate-700 dark:bg-slate-800 dark:text-white">
                    </div>
                    {% endif %}
                </div>
                <footer class="my-8 py-4 border text-center text-xs rounded border-gray-200 bg-gray-100 text-gray-600 dark:bg-slate-800 dark:text-slate-300 dark:border-slate-700">
                    Powered by <a href="{{ app_link }}"
                       target="_blank"
                       class="text-blue-500 hover:underline">{{ app_title }}</a>
                </footer>
            </div>
        </div>
    </div>

    <script type="module"
            src="themes/{{ current_theme }}/assets/tailwindone.es.js"></script>
    <script type="text/javascript"
            src="js/jquery.min.js"></script>
    <script src="themes/{{ current_theme }}/assets/javascripts/bootstrap.min.js"></script>
    <script src="themes/{{ current_theme }}/assets/javascripts/bootstrap-datetimepicker.min.js"></script>
    <script src="themes/{{ current_theme }}/assets/javascripts/modernizr.custom.min.js"></script>
    <script src="js/select2/select2.min.js"></script>
    <script src="js/scrigo.js.php"></script>
    <script type="text/javascript"
            src="js/jquery.ispconfigsearch.js"></script>
    <script type="text/javascript"
            src="js/jquery.tipsy.js"></script>
    {% loop js_d_includes %}
    <script type="text/javascript"
            src="js/js.d/{{ file }}"></script>
    {% endloop %}
    <script>
          window.addEventListener('ispconfig:loaded', function() {
            ISPConfig.tabChangeDiscard = '{{ tabchange_discard_enabled }}';
            ISPConfig.tabChangeWarning = '{{ tabchange_warning_enabled }}';
            ISPConfig.tabChangeWarningTxt = '{{ global_tabchange_warning_txt }}';
            ISPConfig.tabChangeDiscardTxt = '{{ global_tabchange_discard_txt }}';

            {% if use_loadindicator == 'y' %}ISPConfig.setOption('useLoadIndicator', true);{% endif %}
            {% if use_combobox == 'y' %}ISPConfig.setOption('useComboBox', true);{% endif %}
          });

          $(document).ready(function() {
              $('#globalsearch').ispconfigSearch({
                  dataSrc: '/dashboard/ajax_get_json.php?type=globalsearch',
                  resultsLimit: '$ {{ globalsearch_resultslimit_of_txt }} % {{ globalsearch_resultslimit_results_txt }}',
                  noResultsText: '{{ globalsearch_noresults_text_txt }}',
                  noResultsLimit: '{{ globalsearch_noresults_limit_txt }}',
                  searchFieldWatermark: '{{ globalsearch_searchfield_watermark_txt }}',
                  resultBoxPosition: ''
              });

          ISPConfig.loadInitContent();

          });
    </script>
</body>
</html>
