<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8' />

    <title>{{ company_name }}{{ app_title }}</title>

    <meta name='viewport'
          content='width=device-width, user-scalable=yes'>
    <meta name='description'
          lang='en'
          content='' />
    <meta name='keywords'
          lang='en'
          content='' />
    <meta name='robots'
          content='noindex, nofollow' />

    <meta name='theme-path'
          content='themes/{{ current_theme }}/assets/' />

    <link rel='apple-touch-icon'
          sizes='180x180'
          href='/themes/{{ current_theme }}/assets/favicon/apple-touch-icon.png'>
    <link rel='icon'
          type='image/png'
          sizes='32x32'
          href='/themes/{{ current_theme }}/assets/favicon/favicon-32x32.png'>
    <link rel='icon'
          type='image/png'
          sizes='16x16'
          href='/themes/{{ current_theme }}/assets/favicon/favicon-16x16.png'>
    <link rel='manifest'
          href='/themes/{{ current_theme }}/assets/favicon/site.webmanifest'>
    <link rel='mask-icon'
          href='/themes/{{ current_theme }}/assets/favicon/safari-pinned-tab.svg'
          color='#cc151c'>
    <link rel='shortcut icon'
          href='/themes/{{ current_theme }}/assets/favicon/favicon.ico'>
    <meta name='msapplication-TileColor'
          content='#cc151c'>
    <meta name='msapplication-config'
          content='/themes/{{ current_theme }}/assets/favicon/browserconfig.xml'>
    <meta name='theme-color'
          content='#cc151c'>

    <link rel='stylesheet'
          href='themes/{{ current_theme }}/assets/style.css' />

    <link rel='stylesheet'
          href='themes/{{ current_theme }}/assets/stylesheets/fonts.min.css' />
    <link rel='stylesheet'
          href='themes/{{ current_theme }}/assets/stylesheets/pushy.min.css' />
    <link rel='stylesheet'
          href='themes/{{ current_theme }}/assets/stylesheets/bootstrap-datetimepicker.min.css' />
    <link rel='stylesheet'
          href='themes/{{ current_theme }}/assets/stylesheets/select2.css' />
    <link rel='stylesheet'
          href='themes/{{ current_theme }}/assets/stylesheets/select2-bootstrap.css' />
    <link rel='stylesheet'
          href='themes/{{ current_theme }}/assets/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css' />
    {% if logged_in == 'n' %}
    <link rel='stylesheet'
          href='themes/{{ current_theme }}/assets/stylesheets/login.css' />{% endif %}
</head>

<body>
    <!-- off canvas -->
    <nav class='pushy pushy-left'></nav>
    <div class='site-overlay'></div>

    <div id='container'
         class='min-h-screen flex flex-col'
         x-data="{ modalOpen: false }">
        <div id='main-wrapper'
             class='flex-grow'>
            <div id='inner-wrapper'>
                <div class='flex w-full justify-between'>
                    <div class='flex w-full justify-between'>
                        <!-- off canvas menu button -->
                        <div class='menu-btn flex items-center cursor-pointer p-4 lg:hidden'>&#9776;</div>
                        <!-- logo -->
                        <div id='logo'
                             class='bg-no-repeat bg-contain'
                             style="background: url({{ base64_logo_txt }}) no-repeat;width:{{ base64_logo_width }};height:{{ base64_logo_height }}">
                            <a href='#'></a></div>
                    </div>
                    <div id='headerbar'
                         class='flex w-full justify-end mt-4'>
                        {% if cpuser %}
                            {% if usertype == 'normaluser' %}
                            <!-- search field -->
                            <form action='#'
                                method='get'
                                id='searchform'
                                class='flex'>
                                <div class='flex items-center'>
                                    <div class='relative'>
                                        <div class='flex'>
                                            <input id='globalsearch'
                                                type='text'
                                                class='form-input px-4 py-2 w-full rounded-md'
                                                placeholder='{{ globalsearch_searchfield_watermark_txt }}' />
                                            <button
                                                    class='flex justify-center content-center p-2 ml-2 text-gray-600 rounded-md bg-gradient-to-b from-white to-[#eef0f2] hover:from-[#fafafa] hover:to-[#e8ebee]'>
                                                <span class='icon icon-lens'></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            {% endif %}

                            {% render_json 'components/button/danger', {
                                    "slot": "{{ logout_txt }} {{ cpuser }}",
                                    "attributes": [
                                        ["id", "logout-button"],
                                        ["data-load-content", "login/logout.php"]
                                    ]
                                }
                            %}
                        {% endif %}
                    </div>

                    <div class="notification cursor-pointer"
                         @click="modalOpen = true">
                        <span class="notification_text">{{ datalog_changes_count }}</span>
                    </div>

                    <!-- Datalogstatus Modal -->
                    <div id="datalogModal"
                         class="modal fade"
                         role="dialog"
                         x-show="modalOpen">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button"
                                            class="close"
                                            @click="modalOpen = false">&times;</button>
                                    <h4 class="modal-title">{{ datalog_changes_txt }}</h4>
                                </div>
                                <div class="modal-body">
                                    <ul>
                                        {% loop datalog_changes %}
                                        <li><strong>{{ text }}:</strong> {{ count }}</li>
                                        {% endloop %}
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button"
                                            class=""
                                            @click="modalOpen = false">{{ datalog_changes_close_txt }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Datalogstatus Modal -->
                </div>
                {% if logged_in == 'y' %}
                <div id='topnav-container'
                     class='py-4'>
                </div>
                {% endif %}
                <div class='flex flex-wrap flex-col lg:flex-row-reverse'>
                    <!-- content -->
                    <div id='content'
                         class='flex-1 p-4 lg:w-3/4'>
                        <noscript>This page needs JavaScript to be enabled.</noscript>
                        <form method="post"
                              action=""
                              id="pageForm"
                              name="pageForm"
                              enctype="multipart/form-data"
                              class='form-horizontal'
                              role='form'>
                            <div id="pageContent"
                                 data-startpage="{{ startpage }}"><!-- AJAX CONTENT --></div>
                        </form>
                    </div>
                    <!-- news sidebar -->
                    {% if logged_in == 'y' %}
                    <div id='sidebar'
                         class='w-full lg:w-1/4 p-4 border rounded self-start float-right'>
                    </div>
                    {% endif %}
                </div>
                <footer id='footer'
                        class='py-4 text-center bg-gray-100 text-gray-600'>
                    powered by <a href="{{ app_link }}"
                       target="_blank"
                       class='text-blue-500 hover:underline'>{{ app_title }}</a>
                </footer>
            </div>
        </div>
    </div>

    <script type="module"
            src="themes/{{ current_theme }}/assets/tailwindone.es.js"></script>
    <script type="text/javascript"
            src="js/jquery.min.js"></script>
    <script src='themes/{{ current_theme }}/assets/javascripts/bootstrap.min.js'></script>
    <script src='themes/{{ current_theme }}/assets/javascripts/bootstrap-datetimepicker.min.js'></script>
    <script src='themes/{{ current_theme }}/assets/javascripts/modernizr.custom.min.js'></script>
    <script src='themes/{{ current_theme }}/assets/javascripts/pushy.min.js'></script>
    <script src='js/select2/select2.min.js'></script>
    <script src='js/scrigo.js.php'></script>
    <script type="text/javascript"
            src="js/jquery.ispconfigsearch.js"></script>
    <script type="text/javascript"
            src="js/jquery.tipsy.js"></script>
    {% loop js_d_includes %}
    <script type="text/javascript"
            src="js/js.d/{{ file }}"></script>
    {% endloop %}
    <script>
          window.addEventListener('ispconfig:loaded', function() {
            ISPConfig.tabChangeDiscard = '{{ tabchange_discard_enabled }}';
            ISPConfig.tabChangeWarning = '{{ tabchange_warning_enabled }}';
            ISPConfig.tabChangeWarningTxt = '{{ global_tabchange_warning_txt }}';
            ISPConfig.tabChangeDiscardTxt = '{{ global_tabchange_discard_txt }}';

            {% if use_loadindicator == 'y' %}ISPConfig.setOption('useLoadIndicator', true);{% endif %}
            {% if use_combobox == 'y' %}ISPConfig.setOption('useComboBox', true);{% endif %}
          });

          $(document).ready(function() {
              $('#globalsearch').ispconfigSearch({
                  dataSrc: '/dashboard/ajax_get_json.php?type=globalsearch',
                  resultsLimit: '$ {{ globalsearch_resultslimit_of_txt }} % {{ globalsearch_resultslimit_results_txt }}',
                  noResultsText: '{{ globalsearch_noresults_text_txt }}',
                  noResultsLimit: '{{ globalsearch_noresults_limit_txt }}',
                  searchFieldWatermark: '{{ globalsearch_searchfield_watermark_txt }}',
                  resultBoxPosition: ''
              });

          ISPConfig.loadInitContent();

          });
    </script>
</body>
</html>
