{% for nav_left %}
	{% if title %}<header>{% if is_link != 'no' %}{% if startpage %}<a href="#" class="subnav-header" data-load-content="{{ startpage }}">{% endif %}{% endif %}{{ title }}{% if is_link != 'no' %}{% if startpage %}</a>{% endif %}{% endif %}</header>{% endif %}
	<ul id="sub-navigation">
	  {% for items %}
	  <li{% if html_id %} id='{{ html_id }}' {% endif %}>
		{% if link %}
			{% if target == '_blank' %}
				<a href="{{ link }}" target="_blank">
			{% elsif target == '_top' %}
				<a href="{{ link }}" target="_top">
			{% else %}
				<a href="#" data-load-content="{{ link }}">
			{% endif %}
		{% endif %}
		  <div{% if css %} style="{{ css }}"{% endif %}>
			{% if title %}<strong>{{ title }}</strong>{% endif %}
			{% if image %}<div align="center">{{ image }}</div>{% endif %}
		  </div>
		{% if link %}
		</a>
		{% endif %}
	  </li>
	  {% endfor %}
	</ul>
{% endfor %}
