            <div class="form-group">
                <label class="col-sm-3 control-label">{{ email_txt }}</label>
                <div class="col-sm-9">
					<div class="checkbox">{{ email }}</div>
				</div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">{{ password_txt }}</label>
                <div class="col-sm-9">
				<div class="input-group">
					<input type="password" name="password" id="password" value="{{ password }}" title="{{ password_click_to_set_txt }}" class="form-control" autocomplete="off" onkeyup="pass_check(this.value);checkPassMatch('password','repeat_password');" />
					<span class="input-group-btn">
						{% render '../components/button/generate-password', password: 'password' %}
					</span>
				</div>
				</div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ password_strength_txt }}</label>
                <div class="col-sm-9 checkbox">
                <div id="passBar"></div>
                <span id="passText">&nbsp;</span>
                </div>
            </div>
            <div class="form-group">
                <label for="repeat_password" class="col-sm-3 control-label">{{ repeat_password_txt }}</label>
                <div class="col-sm-9"><input type="password" name="repeat_password" id="repeat_password" value="" title="{{ password_click_to_set_txt }}" class="form-control" autocomplete="off" onkeyup="checkPassMatch('password','repeat_password');" /></div></div>
            <div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<div id="confirmpasswordError" style="display:none;" class="confirmpassworderror">{{ password_mismatch_txt }}</div>
					<div id="confirmpasswordOK" style="display:none;" class="confirmpasswordok">{{ password_match_txt }}</div>
				</div>
			</div>

        <input type="hidden" name="id" value="{{ id }}">

        {% render '../components/form-submit-buttons', cancel_load_content: 'mailuser/index.php', save_form_action: 'mailuser/mail_user_password_edit.php' %}
