{% if msg %}
    {% render '../components/msg', id: '', slot: '{{ msg }}' %}
{% endif %}
{% render '../components/error' %}

{% render '../components/heading/h2', slot: '{{ otp_code_txt }}' %}
<p>{{ otp_code_desc_txt }}</p>
<form accept-charset="UTF-8" role="form" method="post" action="otp.php">
<fieldset>
	<div class="form-group">
		<input class="form-control" placeholder="{{ otp_code_placeholder_txt }}" name="code" id="code" type="text" autofocus>
	</div>
	<div class="right">
			<input class="btn btn-default formbutton-default" type="submit" value="{{ login_button_txt }}">
	</div>
	{% if token_sent_message %}{{ token_sent_message }}<br />{% endif %}
	<a href="otp.php?action=resend">{{ otp_code_resend_txt }}</a>


	<input type="hidden" name="_csrf_id" value="{{ _csrf_id }}" />
	<input type="hidden" name="_csrf_key" value="{{ _csrf_key }}" />

</fieldset>
</form>
