{% if msg %}
    {% render '../components/msg', slot: '{{ msg }}' %}
{% endif %}
{% render '../components/error' %}

{% render '../components/heading/h2', slot: '{{ pw_reset_txt }}' %}

<p>{{ list_desc_txt }}</p>

<form accept-charset="UTF-8" role="form" method="post" action="password_reset.php">
<fieldset>
{% render '../components/list-start' %}
    {% render '../components/input/text-group', type: 'email', name: 'email', id: 'email', label: '{{ email_txt }}', placeholder: '{{ email_txt }}', autofocus: 'true' %}
    {% render '../components/input/text-group', name: 'username', id: 'username', label: '{{ username_txt }}', placeholder: '{{ username_txt }}' %}
	<input type="hidden" name="s_mod" value="login" />
	<input type="hidden" name="s_pg" value="index" />
	<div class="flex flex-row justify-end gap-4">
        {% render '../components/button/primary', {
            "slot": "{{ back_txt }}",
            "attributes": [
                [ "type", "button" ],
                [ "onclick", "document.location.href='index.php';" ]
            ]
        } %}

        {% render '../components/button/success', {
            "slot": "{{ pw_button_txt }}",
            "attributes": [
                [ "type", "submit" ]
            ]
        } %}
	</div>
{% render '../components/list-end' %}
</fieldset>
</form>
