            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">{{ name_txt }}</label>
                <div class="col-sm-9"><input type="text" name="name" id="name" value="{{ name }}" class="form-control" /></div>
            </div>
			<div class="form-group">
                <label for="type" class="col-sm-3 control-label">{{ type_txt }}</label>
                <div class="col-sm-9"><select name="type" id="type" class="form-control">
                    {{ type }}
                </select></div>
            </div>
			<div class="form-group">
                <label for="snippet" class="col-sm-3 control-label">{{ snippet_txt }}</label>
                <div class="col-sm-9"><textarea class="form-control" name="snippet" id="snippet" rows='10' cols='50'>{{ snippet }}</textarea>
                &nbsp; Nginx {{ variables_txt }}: <a href="javascript:void(0);" class="addPlaceholder">{DOCROOT}</a>, <a href="javascript:void(0);" class="addPlaceholder">{DOMAIN}</a>, <a href="javascript:void(0);" class="addPlaceholder">{FASTCGIPASS}</a>, <a href="javascript:void(0);" class="addPlaceholder">{PHPFALLBACKFASTCGIPASS}</a><br />
				&nbsp; Apache {{ variables_txt }}: <a href="javascript:void(0);" class="addPlaceholder">{DOCROOT}</a>, <a href="javascript:void(0);" class="addPlaceholder">{DOCROOT_CLIENT}</a>, <a href="javascript:void(0);" class="addPlaceholder">{DOMAIN}</a> <br />
				&nbsp; PHP {{ variables_txt }}: <a href="javascript:void(0);" class="addPlaceholder">{WEBROOT}</a>
				</div>
            </div>
            <div class="form-group php">
                <label class="col-sm-3 control-label">{{ required_php_snippets_txt }}</label>
                <div class="col-sm-9">
                    {{ required_php_snippets }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ customer_viewable_txt }}</label>
                <div class="col-sm-9">
                    {{ customer_viewable }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ active_txt }}</label>
                <div class="col-sm-9">
                    {{ active }}
                </div>
            </div>
			<div class="form-group">
				<label for="update_sites" class="col-sm-3 control-label">{{ update_sites_txt }}</label>
				<div class="col-sm-9">{{ update_sites }}</div>
			</div>

        <input type="hidden" name="id" value="{{ id }}">

        {% render '../components/form-submit-buttons', cancel_load_content: 'admin/directive_snippets_list.php', save_form_action: 'admin/directive_snippets_edit.php' %}
<script language="JavaScript" type="text/javascript">

    if(jQuery('#type').val() == 'nginx'){
        jQuery('.nginx:hidden').show();
    } else {
        jQuery('.nginx:visible').hide();
    }

	if (jQuery('#type').val() != 'nginx' && jQuery('#type').val() != 'apache') {
		jQuery('#customer_viewable').closest('div.ctrlHolder:visible').hide();
		jQuery('.php:visible').hide();
	} else {
		jQuery('#customer_viewable').closest('div.ctrlHolder:hidden').show();
		jQuery('.php:hidden').show();
	}

    jQuery('#type').change(function(){
		if (jQuery(this).val() != 'nginx' && jQuery(this).val() != 'apache') {
			jQuery('#customer_viewable').closest('div.ctrlHolder:visible').hide();
			jQuery('.php:visible').hide();
		} else {
			jQuery('#customer_viewable').closest('div.ctrlHolder:hidden').show();
			jQuery('.php:hidden').show();
		}
        if(jQuery(this).val() == 'nginx'){
            jQuery('.nginx:hidden').show();
        } else {
            jQuery('.nginx:visible').hide();
        }
    });

</script>
