{% render '../components/heading/h1', slot: '{{ list_head_txt }}' %}
<p>{{ list_desc_txt }}</p>

<p class="fieldset-legend">{{ toolsarea_head_txt }}</p>

{% render '../components/button/primary', {
    "slot": "{{ add_new_record_txt }}",
    "attributes": [
        [ "type", "button" ],
        [ "value", "{{ add_new_record_txt }}" ],
        [ "data-load-content", "admin/firewall_edit.php"]
    ]
} %}

{% render '../components/table/fieldset-legend', slot: '{{ list_head_txt }}' %}
{% render '../components/table/start' %}
{% render '../components/table/head-start' %}
    <tr>
        <th class="tiny-col"
            data-column="active">{{ active_txt }}</th>
        <th data-column="server_id">{{ server_id_txt }}</th>
        <th data-column="tcp_port">{{ tcp_port_txt }}</th>
        <th data-column="udp_port">{{ udp_port_txt }}</th>
        <th class="small-col text-right">{{ search_limit }}</th>
    </tr>
    <tr>
        <td><select class="form-control"
                    name="search_active">{{ search_active }}</select></td>
        <td><select class="form-control"
                    name="search_server_id">{{ search_server_id }}</select></td>
        <td><input class="form-control"
                    type="text"
                    name="search_tcp_port"
                    value="{{ search_tcp_port }}" /></td>
        <td><input class="form-control"
                    type="text"
                    name="search_udp_port"
                    value="{{ search_udp_port }}" /></td>
        <td class="text-right">
            <button type="button"
                    class="btn btn-default formbutton-default formbutton-narrow"
                    name="Filter"
                    id="Filter"
                    value="{{ filter_txt }}"
                    data-submit-form="pageForm"
                    data-form-action="admin/firewall_list.php"><span class="icon icon-filter"></span></button>
        </td>
    </tr>
{% render '../components/table/head-body' %}
    {% loop records %}
        <tr>
            <td><a href="#"
                data-load-content="admin/firewall_edit.php?id={{ id }}">{{ active }}</a></td>
            <td><a href="#"
                data-load-content="admin/firewall_edit.php?id={{ id }}">{{ server_id }}</a></td>
            <td><a href="#"
                data-load-content="admin/firewall_edit.php?id={{ id }}">{{ tcp_port }}</a></td>
            <td><a href="#"
                data-load-content="admin/firewall_edit.php?id={{ id }}">{{ udp_port }}</a></td>
            <td class="text-right">
                <a class="btn btn-default formbutton-danger formbutton-narrow"
                href="javascript: ISPConfig.confirm_action('admin/firewall_del.php?id={{ id }}&_csrf_id={{ csrf_id }}&_csrf_key={{ csrf_key }}&phpsessid={{ phpsessid }}','{{ delete_confirmation }}');"><span
                        class="icon icon-delete"></span></a>
            </td>
        </tr>
    {% endloop %}
{% render '../components/table/end', colspan: '5' %}
