{% render '../components/heading/h1', slot: '{{ list_head_txt }}' %}
<p>{{ list_desc_txt }}</p>



            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">{{ name_txt }}</label>
                <div class="col-sm-9"><input type="text" name="name" id="name" value="{{ name }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="description" class="col-sm-3 control-label">{{ description_txt }}</label>
                <div class="col-sm-9"><textarea class="form-control" name="description" id="description" rows='5' cols='30'>{{ description }}</textarea></div>
            </div>


        <input type="hidden" name="id" value="{{ id }}">

        {% render '../components/form-submit-buttons', cancel_load_content: 'admin/groups_list.php', save_form_action: 'admin/groups_edit.php' %}
