{% render '../components/h1', slot: '{{ list_head_txt }}' %}
<p>{{ list_desc_txt }}</p>


            <div class="form-group">
                <label for="server_id" class="col-sm-3 control-label">{{ server_id_txt }}</label>
                <div class="col-sm-9"><select name="server_id" id="server_id" class="form-control">
                    {{ server_id }}
                </select></div>
            </div>
            <div class="form-group">
                <label for="table" class="col-sm-3 control-label">{{ table_txt }}</label>
                <div class="col-sm-9"><select name="table" id="table" class="form-control">
                    {{ table }}
                </select></div>
            </div>
            <div class="form-group">
                <label for="protocol" class="col-sm-3 control-label">{{ protocol_txt }}</label>
                <div class="col-sm-9"><select name="protocol" id="protocol" class="form-control">
                    {{ protocol }}
                </select></div>
            </div>
            <div class="form-group">
                <label for="singleport" class="col-sm-3 control-label">{{ singleport_txt }}</label>
                <div class="col-sm-9"><input type="text" name="singleport" id="singleport" value="{{ singleport }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="multiport" class="col-sm-3 control-label">{{ multiport_txt }}</label>
                <div class="col-sm-9"><input type="text" name="multiport" id="multiport" value="{{ multiport }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="destination_ip" class="col-sm-3 control-label">{{ destination_ip_txt }}</label>
                <div class="col-sm-9"><input type="text" name="destination_ip" id="destination_ip" value="{{ destination_ip }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="source_ip" class="col-sm-3 control-label">{{ source_ip_txt }}</label>
                <div class="col-sm-9"><input type="text" name="source_ip" id="source_ip" value="{{ source_ip }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="state" class="col-sm-3 control-label">{{ state_txt }}</label>
                <div class="col-sm-9"><input type="text" name="state" id="state" value="{{ state }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="target" class="col-sm-3 control-label">{{ target_txt }}</label>
                <div class="col-sm-9"><select name="target" id="target" class="form-control">
                    {{ target }}
                </select></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ active_txt }}</label>
                <div class="col-sm-9">
                    {{ active }}
                </div>
            </div>

        <input type="hidden" name="id" value="{{ id }}">
        <div class="clear"><div class="right">
            <button class="btn btn-default formbutton-success" type="button" value="{{ btn_save_txt }}" data-submit-form="pageForm" data-form-action="admin/iptables_edit.php">{{ btn_save_txt }}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{{ btn_cancel_txt }}" data-load-content="admin/iptables_list.php">{{ btn_cancel_txt }}</button>
        </div></div>
