{% render '../components/heading/h1', slot: '{{ list_head_txt }}' %}
<p>{{ list_desc_txt }}</p>


        <fieldset id="wf_area_language_edit"><legend>{{ lang_file_txt }}: {{ file_path }}</legend>
            <span class="wf_oneField">
                {% loop records %}
                    <span class="wf_oneField">
                        <div class="col-sm-9">
                            <label for="records[{{ key }}]" class="wf_preField">{{ key }}</label>
                            <input class="form-control" type="text" id="records[{{ key }}]" name="records[{{ key }}]" value="{{ val }}" >
                        </div>
                    </span>
                {% endloop %}
            </span>
        </fieldset>


        <input type="hidden" name="id" value="{{ id }}">
        <input type="hidden" name="lang" value="{{ lang }}">
        <input type="hidden" name="lang_file" value="{{ lang_file }}">
        <input type="hidden" name="module" value="{{ module }}">

        <div class="wf_actions buttons">
            <button class="btn btn-default formbutton-success" type="button" value="{{ btn_save_txt }}" data-submit-form="pageForm" data-form-action="admin/language_edit.php">{{ btn_save_txt }}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{{ btn_cancel_txt }}" data-load-content="admin/language_list.php?lng_select={{ lang }}">{{ btn_cancel_txt }}</button>
        </div>
