{% render '../components/heading/h1', slot: '{{ list_head_txt }}' %}
<p>
	{{ list_desc_txt }}
</p>

<div class="panel" style="padding:20px;">
	<div class="pnl_formsarea">
		<div class="form-group">
			<label for="lng_select" class="col-sm-3 control-label">{{ language_select_txt }}</label>
			<div class="col-sm-9"><select name="lng_select" id="language" class="form-control flags">
					{{ language_option }}
				</select></div>
		</div>
		<div class="form-group">
			<label for="lng_new" class="col-sm-3 control-label">{{ language_new_txt }}</label>
			<div class="col-sm-9"><input type="text" name="lng_new" id="lng_new" value="" class="form-control" /></div>
			<p class="formHint">{{ language_new_hint_txt }}</p>
		</div>

		<input type="hidden" name="id" value="{{ id }}">

		{% render '../components/form-submit-buttons', cancel_load_content: 'admin/language_list.php', save_form_action: 'admin/language_add.php' %}
	</div>
