{% render '../components/h1', slot: '{{ list_head_txt }}' %}
<p>
	{{ list_desc_txt }}
</p>

<div class="panel panel_language_import" style="padding:20px;">
	<div class="pnl_formsarea">
		<div class="form-group">
			<label for="lng_select" class="col-sm-3 control-label">{{ language_select_txt }}</label>
			<div class="col-sm-9"><select name="lng_select" id="lng_select" class="form-control flags">
					{{ language_option }}
				</select></div>
		</div>
		{% if msg %}
			<div id="OKMsg">
				<p>
					{{ msg }}
				</p>
			</div>
		{% endif %}

		<input type="hidden" name="id" value="{{ id }}">

		<div class="clear">
			<div class="right">
				<button class="btn btn-default formbutton-success" type="button" value="{{ btn_save_txt }}" data-submit-form="pageForm" data-form-action="admin/language_export.php">{{ btn_save_txt }}</button>
				<button class="btn btn-default formbutton-default" type="button" value="{{ btn_cancel_txt }}" data-load-content="admin/language_list.php">{{ btn_cancel_txt }}</button>
			</div>
		</div>
	</div>
</div>
