{% render '../components/heading/h1', slot: '{{ list_head_txt }}' %}

<div class="panel panel_language_complete">
	<div class="alert alert-info">
		<p>
			{{ list_desc_txt }}
		</p>
	</div>
	{% if msg %}
		<div id="OKMsg">
			{{ msg }}
		</div>
	{% endif %}
	{% if error %}
		<div id="errorMsg">
			{{ error }}
		</div>
	{% endif %}

	<div class="pnl_formsarea">
		<div class="form-group">
			<label for="lng_select" class="col-sm-3 control-label">{{ language_select_txt }}</label>
			<div class="col-sm-9">
				<select name="lng_select" id="language" class="form-control flags">{{ language_option }}</select>
			</div>
		</div>
		{% render '../components/form-submit-buttons', cancel_load_content: 'admin/language_list.php', save_form_action: 'admin/language_complete.php' %}
	</div>

</div>
