{% render '../components/heading/h1', slot: '{{ list_head_txt }}' %}
<p>{{ list_desc_txt }}</p>


                <div class="form-group">
                    <label for="lng_select" class="col-sm-3 control-label">{{ language_select_txt }}</label>
                    <div class="col-sm-9"><select name="lng_select" id="language" class="form-control flags" onChange="ISPConfig.submitForm('pageForm','admin/language_list.php');">
                        {{ language_option }}
                    </select></div>


    </div>


        <p class="fieldset-legend">{{ list_head_txt }}</p>
            <div class="table-wrapper marginTop15">
<table class='table w-full'>
                <thead class="dark">
                    <tr>
                        <th data-column="module">{{ module_txt }}</th>
                        <th data-column="lang_file">{{ lang_file_txt }}</th>
                        <th class="small-col text-right" data-column="lang_file_date">{{ lang_file_date_txt }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% loop records %}
                        <tr>
                            <td><a href="#" data-load-content="admin/language_edit.php?lang_file={{ lang_file }}&module={{ module }}&lang={{ lang }}">{{ module }}</a></td>
                            <td><a href="#" data-load-content="admin/language_edit.php?lang_file={{ lang_file }}&module={{ module }}&lang={{ lang }}">{{ lang_file }}</a></td>
                            <td><a href="#" data-load-content="admin/language_edit.php?lang_file={{ lang_file }}&module={{ module }}&lang={{ lang }}">{{ lang_file_date }}</a></td>
                        </tr>
                    {% endloop %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">{{ paging }}</td>
                    </tr>
                </tfoot>
            </table>
</div>


