{% render '../components/heading/h1', slot: '{{ do_osupdate_caption }}' %}
<div class="panel">
	<div class="pnl_formsarea flex flex-col gap-4">
		<div class="alert alert-warning">
			<p>
				{{ do_osupdate_desc }}
			</p>
		</div>
		<div class="form-group">
			<label for="server_select" class="col-sm-3 control-label">{{ select_server_txt }}</label>
			<div class="col-sm-9"><select name="server_select" id="server" class="form-control" onchange="$('#OKMsg').hide(); ">
					{{ server_option }}
				</select></div>
		</div>

		{% if msg %}
			<div id="OKMsg">
				<p>
					{{ msg }}
				</p>
			</div>
		{% endif %}

        <div class="flex flex-row justify-between gap-4">
            {% render '../components/button/success', {
                "slot": "{{ btn_do_txt }}",
                "attributes": [
                    [ "type", "button" ],
                    [ "data-submit-form", "pageForm" ],
                    [ "data-form-action", "admin/remote_action_osupdate.php" ]
                ]
            } %}
        </div>
	</div>
</div>
