<!--
{% render '../components/h1', slot: '{{ do_ispcupdate_caption }}' %}
<p>{{ do_ispcupdate_desc }}</p>
-->

{% render '../components/h1', slot: '{{ ispconfig_update_title }}' %}
<div class="panel" style="padding:20px;">
	<div class="pnl_formsarea">
		<p style="font-size:14px;">
			{{ ispconfig_update_text }}
		</p>
	</div>
</div>
<!--
          <legend>{{ do_ispcupdate_caption }}</legend>
            <div class="form-group">
              <label for="server_select" class="col-sm-3 control-label">{{ select_server_txt }}</label>
              <div class="col-sm-9"><select name="server_select" id="server" class="form-control" onchange="document.getElementById('OKMsg').style.visibility = 'hidden'; ">
                                              {{ server_option }}
                                      </select></div>
            </div>


              {% if msg %}
              <div id="OKMsg"><p>{{ msg }}</p></div>
        {% endif %}


                <div class="clear"><div class="right">
            <button class="btn btn-default formbutton-success" type="button" value="{{ btn_do_txt }}" data-submit-form="pageForm" data-form-action="admin/remote_action_ispcupdate.php">{{ btn_do_txt }}</button>
          </div></div>
        -->
</div>

</div>
