{% render '../components/h1', slot: '{{ list_head_txt }}' %}
<p>{{ list_desc_txt }}</p>



            <div class="form-group">
                <label for="config" class="col-sm-3 control-label">{{ config_txt }}</label>
                <div class="col-sm-9"><textarea class="form-control" name="config" id="config" rows='20' cols='40'>{{ config }}</textarea></div>
            </div>


        <input type="hidden" name="id" value="{{ id }}">

        <div class="clear"><div class="right">
            <button class="btn btn-default formbutton-success" type="button" value="{{ btn_save_txt }}" data-submit-form="pageForm" data-form-action="admin/server_edit.php">{{ btn_save_txt }}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{{ btn_cancel_txt }}" data-load-content="admin/server_list.php">{{ btn_cancel_txt }}</button>
        </div></div>
