<div class="alert alert-info"><h4 style="text-align:center">{{ config_for_txt }} {{ server_name }}</h4></div>



            <div class="form-group">
                <label for="getmail_config_dir" class="col-sm-3 control-label">{{ getmail_config_dir_txt }}</label>
                <div class="col-sm-9"><input type="text" name="getmail_config_dir" id="getmail_config_dir" value="{{ getmail_config_dir }}" class="form-control" /></div></div>


        <input type="hidden" name="id" value="{{ id }}">

        {% render '../components/form-submit-buttons', cancel_load_content: 'admin/server_config_list.php', save_form_action: 'admin/server_config_edit.php' %}
