{% render '../components/heading/h1', slot: '{{ list_head_txt }}' %}

<div class="flex flex-row justify-end gap-4">

    {% render '../components/button/primary', {
        "slot": "{{ add_new_record_txt }}",
        "attributes": [
            [ "type", "button" ],
            [ "value", "{{ add_new_record_txt }}" ],
            [ "data-load-content", "admin/server_php_edit.php"]
        ]
    } %}

</div>

{% render '../components/table/fieldset-legend', slot: '{{ list_head_txt }}' %}
{% render '../components/table/start' %}
{% render '../components/table/head-start' %}
    <tr>
        {% render '../components/table/th', name: 'active', label: '{{ active_txt }}', class: 'w-[8%]' %}
        {% render '../components/table/th', name: 'server_id', label: '{{ server_id_txt }}'%}
        {% render '../components/table/th', name: 'client_id', label: '{{ client_id_txt }}', class: 'w-[15%]' %}
        {% render '../components/table/th', name: 'name', label: '{{ name_txt }}'%}
        {% render '../components/table/th', name: 'sortprio', label: '{{ sortprio_txt }}', class: 'w-[15%]' %}
        {% render '../components/table/th', name: 'usage', label: '{{ usage_txt }}'%}
        <th class="text-right">{{ search_limit }}</th>
    </tr>
    <tr>
        <td><select class="form-control"
                    name="search_active">{{ search_active }}</select></td>
        <td><select class="form-control"
                    name="search_server_id">{{ search_server_id }}</select></td>
        <td><select class="form-control"
                    name="search_client_id">{{ search_client_id }}</select></td>
        <td><input class="form-control"
                    type="text"
                    name="search_name"
                    value="{{ search_name }}" /></td>
        <td></td>
        <td></td>
        <td class="text-right">
            <button type="button"
                    class="btn btn-default formbutton-default formbutton-narrow"
                    name="Filter"
                    id="Filter"
                    value="{{ filter_txt }}"
                    data-submit-form="pageForm"
                    data-form-action="admin/server_php_list.php"><span class="icon icon-filter"></span></button>
        </td>
    </tr>
{% render '../components/table/head-body' %}
    {% loop records %}
    <tr>
        <td><a href="#"
                data-load-content="admin/server_php_edit.php?id={{ id }}">{{ active }}</a></td>
        <td><a href="#"
                data-load-content="admin/server_php_edit.php?id={{ id }}">{{ server_id }}</a></td>
        <td><a href="#"
                data-load-content="admin/server_php_edit.php?id={{ id }}">{{ client_id }}</a></td>
        <td><a href="#"
                data-load-content="admin/server_php_edit.php?id={{ id }}">{{ name }}</a></td>
        <td class="text-center"><a href="#"
                data-load-content="admin/server_php_edit.php?id={{ id }}">{{ sortprio }}</a></td>
        <td class="text-center"><a href="#"
                data-load-content="admin/server_php_edit.php?id={{ id }}">{{ usage }}</a></td>
        <td class="text-right">
            <a class="btn btn-default formbutton-danger formbutton-narrow"
                href="javascript: ISPConfig.confirm_action('admin/server_php_del.php?id={{ id }}&_csrf_id={{ csrf_id }}&_csrf_key={{ csrf_key }}&phpsessid={{ phpsessid }}','{{ delete_confirmation }}');"><span
                        class="icon icon-delete"></span></a>
        </td>
    </tr>
    {% endloop %}
{% render '../components/table/end', colspan: '7' %}
