{% render '../components/heading/h1', slot: '{{ list_head_txt }}' %}
<p>{{ list_desc_txt }}</p>



            <div class="form-group">
                <label for="config" class="col-sm-3 control-label">{{ config_txt }}</label>
                <div class="col-sm-9"><textarea class="form-control" name="config" id="config" rows='20' cols='40'>{{ config }}</textarea></div>
            </div>


        <input type="hidden" name="id" value="{{ id }}">

        {% render '../components/form-submit-buttons', cancel_load_content: 'admin/server_list.php', save_form_action: 'admin/server_edit.php' %}
