<div class="alert alert-info"><h4 style="text-align:center">{{ config_for_txt }} {{ server_name }}</h4></div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingWeb">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseWeb" aria-expanded="true" aria-controls="collapseWeb">
          {{ web_settings_txt }}
        </a>
      </h4>
    </div>
    <div id="collapseWeb" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingWeb">
      <div class="panel-body">
	  <!-- Begin content -->
	  <div class="form-group">
                <label class="col-sm-3 control-label">{{ server_type_txt }}</label>
                <div class="col-sm-9">
					<select name="server_type" id="server_type" class="form-control">
                        {{ server_type }}
                    </select>
				</div>
            </div>
            <div class="form-group">
                <label for="website_basedir" class="col-sm-3 control-label">{{ website_basedir_txt }}</label>
                <div class="col-sm-9"><input type="text" name="website_basedir" id="website_basedir" value="{{ website_basedir }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="website_path" class="col-sm-3 control-label">{{ website_path_txt }}</label>
                <div class="col-sm-9"><input type="text" name="website_path" id="website_path" value="{{ website_path }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="website_symlinks" class="col-sm-3 control-label">{{ website_symlinks_txt }}</label>
                <div class="col-sm-9"><input type="text" name="website_symlinks" id="website_symlinks" value="{{ website_symlinks }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="website_symlinks_rel" class="col-sm-3 control-label">{{ website_symlinks_rel_txt }}</label>
                <div class="col-sm-9">
                    {{ website_symlinks_rel }}
                </div>
            </div>
			<div class="form-group">
                <label for="website_symlinks_rel" class="col-sm-3 control-label">{{ network_filesystem_txt }}</label>
                <div class="col-sm-9">
                    {{ network_filesystem }}
                </div>
            </div>
            <div class="form-group">
                <label for="website_autoalias" class="col-sm-3 control-label">{{ website_autoalias_txt }}</label>
                <div class="col-sm-6"><input type="text" name="website_autoalias" id="website_autoalias" value="{{ website_autoalias }}" class="form-control" /> &nbsp;{{ website_autoalias_note_txt }} <a href="javascript:void(0);" class="addPlaceholder">[client_id]</a>, <a href="javascript:void(0);" class="addPlaceholder">[client_username]</a>, <a href="javascript:void(0);" class="addPlaceholder">[website_id]</a>, <a href="javascript:void(0);" class="addPlaceholder">[website_domain]</a></div>
            </div>
		<div class="form-group">
			<label for="vhost_rewrite_v6" class="col-sm-3 control-label">{{ vhost_rewrite_v6_txt }}</label>
			<div class="col-sm-9">
				{{ vhost_rewrite_v6 }}
			</div>
		</div>
        <div class="form-group">
            <label for="vhost_proxy_protocol_enabled" class="col-sm-3 control-label">{{ vhost_proxy_protocol_enabled_txt }}</label>
            <div class="col-sm-9">
                <select name="vhost_proxy_protocol_enabled" id="vhost_proxy_protocol_enabled" class="form-control">
                    {{ vhost_proxy_protocol_enabled }}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="vhost_proxy_protocol_protocols" class="col-sm-3 control-label">{{ vhost_proxy_protocol_protocols_txt }}</label>
            <div class="col-sm-9">
                <select name="vhost_proxy_protocol_protocols" id="vhost_proxy_protocol_protocols" class="form-control">
                    {{ vhost_proxy_protocol_protocols }}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="vhost_proxy_protocol_http_port" class="col-sm-3 control-label">{{ vhost_proxy_protocol_http_port_txt }}</label>
            <div class="col-sm-9"><input type="text" name="vhost_proxy_protocol_http_port" id="vhost_proxy_protocol_http_port" value="{{ vhost_proxy_protocol_http_port }}" class="form-control"/></div>
        </div>
        <div class="form-group">
            <label for="vhost_proxy_protocol_https_port" class="col-sm-3 control-label">{{ vhost_proxy_protocol_https_port_txt }}</label>
            <div class="col-sm-9"><input type="text" name="vhost_proxy_protocol_https_port" id="vhost_proxy_protocol_https_port" value="{{ vhost_proxy_protocol_https_port }}" class="form-control"/></div>
        </div>
            <div class="form-group apache">
                <label for="vhost_conf_dir" class="col-sm-3 control-label">{{ vhost_conf_dir_txt }}</label>
                <div class="col-sm-9"><input type="text" name="vhost_conf_dir" id="vhost_conf_dir" value="{{ vhost_conf_dir }}" class="form-control" /></div></div>
            <div class="form-group apache">
                <label for="vhost_conf_enabled_dir" class="col-sm-3 control-label">{{ vhost_conf_enabled_dir_txt }}</label>
                <div class="col-sm-9"><input type="text" name="vhost_conf_enabled_dir" id="vhost_conf_enabled_dir" value="{{ vhost_conf_enabled_dir }}" class="form-control" /></div></div>
            <div class="form-group apache">
                <label for="apache_init_script" class="col-sm-3 control-label">{{ apache_init_script_txt }}</label>
                <div class="col-sm-9"><input type="text" name="apache_init_script" id="apache_init_script" value="{{ apache_init_script }}" class="form-control" />{{ apache_init_script_note_txt }}</div></div>
            <div class="form-group nginx">
                <label for="nginx_enable_pagespeed" class="col-sm-3 control-label">{{ nginx_enable_pagespeed_txt }}</label>
                <div class="col-sm-9">{{ nginx_enable_pagespeed }}</div></div>
            <div class="form-group nginx">
                <label for="nginx_vhost_conf_dir" class="col-sm-3 control-label">{{ nginx_vhost_conf_dir_txt }}</label>
                <div class="col-sm-9"><input type="text" name="nginx_vhost_conf_dir" id="nginx_vhost_conf_dir" value="{{ nginx_vhost_conf_dir }}" class="form-control" /></div></div>
            <div class="form-group nginx">
                <label for="nginx_vhost_conf_enabled_dir" class="col-sm-3 control-label">{{ nginx_vhost_conf_enabled_dir_txt }}</label>
                <div class="col-sm-9"><input type="text" name="nginx_vhost_conf_enabled_dir" id="nginx_vhost_conf_enabled_dir" value="{{ nginx_vhost_conf_enabled_dir }}" class="form-control" /></div></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ security_level_txt }}</label>
                <div class="col-sm-9"><select name="security_level" id="security_level" class="form-control">
                        {{ security_level }}
                    </select></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ check_apache_config_txt }}</label>
                <div class="col-sm-9">
                    {{ check_apache_config }}
                </div>
            </div>
            <div class="form-group apache">
                <label for="user" class="col-sm-3 control-label">{{ web_user_txt }}</label>
                <div class="col-sm-9"><input type="text" name="user" id="user" value="{{ user }}" class="form-control" /></div></div>
            <div class="form-group apache">
                <label for="group" class="col-sm-3 control-label">{{ web_group_txt }}</label>
                <div class="col-sm-9"><input type="text" name="group" id="group" value="{{ group }}" class="form-control" /></div></div>
            <div class="form-group nginx">
                <label for="nginx_user" class="col-sm-3 control-label">{{ nginx_user_txt }}</label>
                <div class="col-sm-9"><input type="text" name="nginx_user" id="nginx_user" value="{{ nginx_user }}" class="form-control" /></div></div>
            <div class="form-group nginx">
                <label for="nginx_group" class="col-sm-3 control-label">{{ nginx_group_txt }}</label>
                <div class="col-sm-9"><input type="text" name="nginx_group" id="nginx_group" value="{{ nginx_group }}" class="form-control" /></div></div>
            <div class="form-group nginx">
                <label for="nginx_cgi_socket" class="col-sm-3 control-label">{{ nginx_cgi_socket_txt }}</label>
                <div class="col-sm-9"><input type="text" name="nginx_cgi_socket" id="nginx_cgi_socket" value="{{ nginx_cgi_socket }}" class="form-control" /></div></div>
            <div class="form-group apache">
                <label for="htaccess_allow_override" class="col-sm-3 control-label">{{ htaccess_allow_override_txt }}</label>
                <div class="col-sm-9"><input type="text" name="htaccess_allow_override" id="htaccess_allow_override" value="{{ htaccess_allow_override }}" class="form-control" /></div></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ enable_ip_wildcard_txt }}</label>
                <div class="col-sm-9">
                    {{ enable_ip_wildcard }}
                </div>
            </div>
			<div class="form-group">
                <label class="col-sm-3 control-label">{{ logging_txt }}</label>
                <div class="col-sm-9">
					<select name="logging" id="logging" class="form-control">
                        {{ logging }}
                    </select> {{ logging_desc_txt }}
				</div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ overtraffic_notify_admin_txt }}</label>
                <div class="col-sm-9">
                    {{ overtraffic_notify_admin }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ overtraffic_notify_reseller_txt }}</label>
                <div class="col-sm-9">
                    {{ overtraffic_notify_reseller }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ overtraffic_notify_client_txt }}</label>
                <div class="col-sm-9">
                    {{ overtraffic_notify_client }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ overtraffic_disable_web_txt }}</label>
                <div class="col-sm-9">
                    {{ overtraffic_disable_web }}
                </div>
            </div>
            <div class="form-group">
                <label for="overquota_notify_threshold" class="col-sm-3 control-label">{{ overquota_notify_threshold_txt }}</label>
                <div class="col-sm-6"><input type="text" name="overquota_notify_threshold" id="overquota_notify_threshold" value="{{ overquota_notify_threshold }}" class="form-control" /></div>
                <div class="col-sm-3 input-sm">%</div>
            </div>
			<div class="form-group">
                <label class="col-sm-3 control-label">{{ overquota_notify_admin_txt }}</label>
                <div class="col-sm-9">
                    {{ overquota_notify_admin }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ overquota_notify_reseller_txt }}</label>
                <div class="col-sm-9">
                    {{ overquota_notify_reseller }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ overquota_notify_client_txt }}</label>
                <div class="col-sm-9">
                    {{ overquota_notify_client }}
                </div>
            </div>
            <div class="form-group">
                <label for="overquota_db_notify_threshold" class="col-sm-3 control-label">{{ overquota_db_notify_threshold_txt }}</label>
                <div class="col-sm-6"><input type="text" name="overquota_db_notify_threshold" id="overquota_db_notify_threshold" value="{{ overquota_db_notify_threshold }}" class="form-control" /></div>
                <div class="col-sm-3 input-sm">%</div>
            </div>
			<div class="form-group">
				<label class="col-sm-3 control-label">{{ overquota_db_notify_admin_txt }}</label>
				<div class="col-sm-9">
					{{ overquota_db_notify_admin }}
				 </div>
			</div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ overquota_db_notify_reseller_txt }}</label>
                <div class="col-sm-9">
                    {{ overquota_db_notify_reseller }}
                </div>
            </div>
			<div class="form-group">
				<label class="col-sm-3 control-label">{{ overquota_db_notify_client_txt }}</label>
				<div class="col-sm-9">
					{{ overquota_db_notify_client }}
				 </div>
			</div>
            <div class="form-group">
                <label for="overquota_notify_freq" class="col-sm-3 control-label">{{ overquota_notify_freq_txt }}</label>
                <div class="col-sm-6"><input type="text" name="overquota_notify_freq" id="overquota_notify_freq" value="{{ overquota_notify_freq }}" class="form-control" /></div><div class="col-sm-3 input-sm">&nbsp;{{ overquota_notify_freq_note_txt }}
            </div></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ overquota_notify_onok_txt }}</label>
                <div class="col-sm-9">
                    {{ overquota_notify_onok }}
                </div>
            </div>
	  <!-- End content -->
	  </div>
	</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSSL">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSSL" aria-expanded="false" aria-controls="collapseSSL">
          {{ ssl_settings_txt }}
        </a>
      </h4>
    </div>
    <div id="collapseSSL" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSSL">
      <div class="panel-body">
	  <!-- Begin content -->
	                  <div class="form-group">
                    <label class="col-sm-3 control-label">{{ enable_sni_txt }}</label>
                    <div class="col-sm-9">
                        {{ enable_sni }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="CA_path" class="col-sm-3 control-label">{{ CA_path_txt }}</label>
                    <div class="col-sm-9"><input type="text" name="CA_path" id="CA_path" value="{{ CA_path }}" autocomplete="new-password" class="form-control" /></div></div>
                <div class="form-group">
                    <label for="CA_pass" class="col-sm-3 control-label">{{ CA_pass_txt }}</label>
                    <div class="col-sm-9"><input type="password" name="CA_pass" id="CA_pass" value="{{ CA_pass }}" autocomplete="new-password" class="form-control" /></div></div>
				<div class="form-group">
					<label class="col-sm-3 control-label">{{ skip_le_check_txt }}</label>
					<div class="col-sm-9">{{ skip_le_check }}</div>
				</div>
	  <!-- End content -->
	  </div>
	</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingPerms">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePerms" aria-expanded="false" aria-controls="collapsePerms">
          {{ permissions_txt }}
        </a>
      </h4>
    </div>
    <div id="collapsePerms" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPerms">
      <div class="panel-body">
	  <!-- Begin content -->
	  <div class="form-group">
                    <label class="col-sm-3 control-label">{{ set_folder_permissions_on_update_txt }}</label>
                    <div class="col-sm-9">
                        {{ set_folder_permissions_on_update }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ web_folder_protection_txt }}</label>
                    <div class="col-sm-9">
                        {{ web_folder_protection }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ add_web_users_to_sshusers_group_txt }}</label>
                    <div class="col-sm-9">
                        {{ add_web_users_to_sshusers_group }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ connect_userid_to_webid_txt }}</label>
                    <div class="col-sm-9">
                        {{ connect_userid_to_webid }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="connect_userid_to_webid_start" class="col-sm-3 control-label">{{ connect_userid_to_webid_start_txt }}</label>
                    <div class="col-sm-9"><input type="text" name="connect_userid_to_webid_start" id="connect_userid_to_webid_start" value="{{ connect_userid_to_webid_start }}" class="form-control" /></div></div>

	  <!-- End content -->
	  </div>
	</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingPHP">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePHP" aria-expanded="false" aria-controls="collapsePHP">
          {{ php_settings_txt }}
        </a>
      </h4>
    </div>
    <div id="collapsePHP" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPHP">
      <div class="panel-body">
      <!-- Begin content -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ php_default_hide_txt }}</label>
                    <div class="col-sm-9">
                        {{ php_default_hide }}
                    </div>
                </div>
				<div class="form-group">
                    <label for="php_default_name" class="col-sm-3 control-label">{{ php_default_name_txt }}</label>
                    <div class="col-sm-9"><input type="text" name="php_default_name" id="php_default_name" value="{{ php_default_name }}" class="form-control" /></div></div>
			    <div class="form-group apache">
                    <label for="php_ini_path_apache" class="col-sm-3 control-label">{{ php_ini_path_apache_txt }}</label>
                    <div class="col-sm-9"><input type="text" name="php_ini_path_apache" id="php_ini_path_apache" value="{{ php_ini_path_apache }}" class="form-control" /></div></div>
                <div class="form-group apache">
                    <label for="php_ini_path_cgi" class="col-sm-3 control-label">{{ php_ini_path_cgi_txt }}</label>
                    <div class="col-sm-9"><input type="text" name="php_ini_path_cgi" id="php_ini_path_cgi" value="{{ php_ini_path_cgi }}" class="form-control" /></div></div>
                <div class="form-group">
                    <label for="php_fpm_init_script" class="col-sm-3 control-label">{{ php_fpm_init_script_txt }}</label>
                    <div class="col-sm-9"><input type="text" name="php_fpm_init_script" id="php_fpm_init_script" value="{{ php_fpm_init_script }}" class="form-control" /></div></div>
                <div class="form-group">
                    <label for="php_fpm_ini_path" class="col-sm-3 control-label">{{ php_fpm_ini_path_txt }}</label>
                    <div class="col-sm-9"><input type="text" name="php_fpm_ini_path" id="php_fpm_ini_path" value="{{ php_fpm_ini_path }}" class="form-control" /></div></div>
                <div class="form-group">
                    <label for="php_fpm_pool_dir" class="col-sm-3 control-label">{{ php_fpm_pool_dir_txt }}</label>
                    <div class="col-sm-9"><input type="text" name="php_fpm_pool_dir" id="php_fpm_pool_dir" value="{{ php_fpm_pool_dir }}" class="form-control" /></div></div>
                <div class="form-group">
                    <label for="php_fpm_start_port" class="col-sm-3 control-label">{{ php_fpm_start_port_txt }}</label>
                    <div class="col-sm-9"><input type="text" name="php_fpm_start_port" id="php_fpm_start_port" value="{{ php_fpm_start_port }}" class="form-control" /></div></div>
                <div class="form-group">
                    <label for="php_fpm_socket_dir" class="col-sm-3 control-label">{{ php_fpm_socket_dir_txt }}</label>
                    <div class="col-sm-9"><input type="text" name="php_fpm_socket_dir" id="php_fpm_socket_dir" value="{{ php_fpm_socket_dir }}" class="form-control" /></div></div>
                <div class="form-group">
                    <label for="php_open_basedir" class="col-sm-3 control-label">{{ php_open_basedir_txt }}</label>
                    <div class="col-sm-9"><input type="text" name="php_open_basedir" id="php_open_basedir" value="{{ php_open_basedir }}" class="form-control" /></div></div>
                <div class="form-group">
                    <label for="php_ini_check_minutes" class="col-sm-3 control-label">{{ php_ini_check_minutes_txt }}</label>
                    <div class="col-sm-6"><input type="text" name="php_ini_check_minutes" id="php_ini_check_minutes" value="{{ php_ini_check_minutes }}" class="form-control" /></div><div class="col-sm-3 input-sm"> &nbsp;{{ php_ini_check_minutes_info_txt }}
                </div></div>
                <div class="form-group">
                    <label for="php_handler" class="col-sm-3 control-label">{{ php_handler_txt }}</label>
                    <div class="col-sm-9"><select name="php_handler" id="php_handler" class="form-control">
                            {{ php_handler }}
                        </select></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ php_fpm_default_chroot_txt }}</label>
                    <div class="col-sm-9">
                        {{ php_fpm_default_chroot }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ php_fpm_incron_reload_txt }}</label>
                    <div class="col-sm-9">
                        {{ php_fpm_incron_reload }}
                    </div>
                </div>
				<div class="form-group">
                <label class="col-sm-3 control-label">{{ php_fpm_reload_mode_txt }}</label>
                <div class="col-sm-9"><select name="php_fpm_reload_mode" id="php_fpm_reload_mode" class="form-control">
                        {{ php_fpm_reload_mode }}
                    </select></div>
            </div>
	  <!-- End content -->
	  </div>
	</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingApps">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseApps" aria-expanded="false" aria-controls="collapseApps">
          {{ apps_vhost_settings_txt }}
        </a>
      </h4>
    </div>
    <div id="collapseApps" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingApps">
      <div class="panel-body">
	  <!-- Begin content -->
	  				<div class="form-group">
					<label for="apps_vhost_enabled" class="col-sm-3 control-label">{{ apps_vhost_enabled_txt }}</label>
					<div class="col-sm-9">{{ apps_vhost_enabled }}</div></div>
                <div class="form-group">
                    <label for="apps_vhost_port" class="col-sm-3 control-label">{{ apps_vhost_port_txt }}</label>
                    <div class="col-sm-9"><input type="text" name="apps_vhost_port" id="apps_vhost_port" value="{{ apps_vhost_port }}" class="form-control" /></div></div>
                <div class="form-group">
                    <label for="apps_vhost_ip" class="col-sm-3 control-label">{{ apps_vhost_ip_txt }}</label>
                    <div class="col-sm-9"><input type="text" name="apps_vhost_ip" id="apps_vhost_ip" value="{{ apps_vhost_ip }}" class="form-control" /></div></div>
                <div class="form-group">
                    <label for="apps_vhost_servername" class="col-sm-3 control-label">{{ apps_vhost_servername_txt }}</label>
                    <div class="col-sm-9"><input type="text" name="apps_vhost_servername" id="apps_vhost_servername" value="{{ apps_vhost_servername }}" class="form-control" /></div></div>

	  <!-- End content -->
	  </div>
	</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingAWStats">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseAWStats" aria-expanded="false" aria-controls="collapseAWStats">
          {{ awstats_settings_txt }}
        </a>
      </h4>
    </div>
    <div id="collapseAWStats" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingAWStats">
      <div class="panel-body">
	  <!-- Begin content -->
	  <div class="form-group">
                    <label for="awstats_conf_dir" class="col-sm-3 control-label">{{ awstats_conf_dir_txt }}</label>
                    <div class="col-sm-9"><input type="text" name="awstats_conf_dir" id="awstats_conf_dir" value="{{ awstats_conf_dir }}" class="form-control" /></div></div>
                <div class="form-group">
                    <label for="awstats_data_dir" class="col-sm-3 control-label">{{ awstats_data_dir_txt }}</label>
                    <div class="col-sm-9"><input type="text" name="awstats_data_dir" id="awstats_data_dir" value="{{ awstats_data_dir }}" class="form-control" /></div></div>
                <div class="form-group">
                    <label for="awstats_pl" class="col-sm-3 control-label">{{ awstats_pl_txt }}</label>
                    <div class="col-sm-9"><input type="text" name="awstats_pl" id="awstats_pl" value="{{ awstats_pl }}" class="form-control" /></div></div>
                <div class="form-group">
                    <label for="awstats_buildstaticpages_pl" class="col-sm-3 control-label">{{ awstats_buildstaticpages_pl_txt }}</label>
                    <div class="col-sm-9"><input type="text" name="awstats_buildstaticpages_pl" id="awstats_buildstaticpages_pl" value="{{ awstats_buildstaticpages_pl }}" class="form-control" /></div></div>

	  <!-- End content -->
	  </div>
	</div>
  </div>
</div>

        <input type="hidden" name="id" value="{{ id }}">

        <div class="clear"><div class="right">
            <button class="btn btn-default formbutton-success" type="button" value="{{ btn_save_txt }}" data-submit-form="pageForm" data-form-action="admin/server_config_edit.php">{{ btn_save_txt }}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{{ btn_cancel_txt }}" data-load-content="admin/server_config_list.php">{{ btn_cancel_txt }}</button>
        </div></div>
<script language="JavaScript" type="text/javascript">
    var serverType = jQuery('#server_type').val();
    jQuery('#server_type').replaceWith('<p>'+serverType+'</p><input type="hidden" name="server_type" value="'+serverType+'">');
    adjustForm();
    jQuery('#server_type').change(function(){
        serverType = $(this).val();
        adjustForm();
    });

    function adjustForm(){
        if(serverType == "nginx"){
            jQuery('.nginx').show();
            jQuery('.apache').hide();
        } else {
            jQuery('.nginx').hide();
            jQuery('.apache').show();
        }
    }
</script>
