<div class="alert alert-info"><h4 style="text-align:center">{{ config_for_txt }} {{ server_name }}</h4></div>



            <div class="form-group">
                <label for="fastcgi_starter_path" class="col-sm-3 control-label">{{ fastcgi_starter_path_txt }}</label>
                <div class="col-sm-9"><input type="text" name="fastcgi_starter_path" id="fastcgi_starter_path" value="{{ fastcgi_starter_path }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="fastcgi_starter_script" class="col-sm-3 control-label">{{ fastcgi_starter_script_txt }}</label>
                <div class="col-sm-9"><input type="text" name="fastcgi_starter_script" id="fastcgi_starter_script" value="{{ fastcgi_starter_script }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="fastcgi_alias" class="col-sm-3 control-label">{{ fastcgi_alias_txt }}</label>
                <div class="col-sm-9"><input type="text" name="fastcgi_alias" id="fastcgi_alias" value="{{ fastcgi_alias }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="fastcgi_phpini_path" class="col-sm-3 control-label">{{ fastcgi_phpini_path_txt }}</label>
                <div class="col-sm-9"><input type="text" name="fastcgi_phpini_path" id="fastcgi_phpini_path" value="{{ fastcgi_phpini_path }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="fastcgi_children" class="col-sm-3 control-label">{{ fastcgi_children_txt }}</label>
                <div class="col-sm-9"><input type="text" name="fastcgi_children" id="fastcgi_children" value="{{ fastcgi_children }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="fastcgi_max_requests" class="col-sm-3 control-label">{{ fastcgi_max_requests_txt }}</label>
                <div class="col-sm-9"><input type="text" name="fastcgi_max_requests" id="fastcgi_max_requests" value="{{ fastcgi_max_requests }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="fastcgi_bin" class="col-sm-3 control-label">{{ fastcgi_bin_txt }}</label>
                <div class="col-sm-9"><input type="text" name="fastcgi_bin" id="fastcgi_bin" value="{{ fastcgi_bin }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="fastcgi_config_syntax" class="col-sm-3 control-label">{{ fastcgi_config_syntax_txt }}</label>
                <div class="col-sm-9"><select name="fastcgi_config_syntax" id="fastcgi_config_syntax" class="form-control">
                    {{ fastcgi_config_syntax }}
                </select></div>
            </div>


        <input type="hidden" name="id" value="{{ id }}">

        {% render '../components/form-submit-buttons', cancel_load_content: 'admin/server_config_list.php', save_form_action: 'admin/server_config_edit.php' %}
