{% render '../components/heading/h1', slot: '{{ list_head_txt }}' %}
<p>{{ list_desc_txt }}</p>

<p class="fieldset-legend">{{ toolsarea_head_txt }}</p>

{% render '../components/button/primary', {
    "slot": "{{ add_new_record_txt }}",
    "attributes": [
        [ "type", "button" ],
        [ "value", "{{ add_new_record_txt }}" ],
        [ "data-load-content", "admin/users_edit.php"]
    ]
} %}

<div class="alert alert-warning">
    <p>{{ warning_txt }}</p>
</div>

{% render '../components/table/fieldset-legend', slot: '{{ list_head_txt }}' %}
{% render '../components/table/start' %}
{% render '../components/table/head-start' %}
    <tr>
        <th class="small-col"
            data-column="client_id">{{ client_id_txt }}</th>
        <th class="tiny-col"
            data-column="active">{{ active_txt }}</th>
        <th data-column="username">{{ username_txt }}</th>
        <th data-column="groups">{{ groups_txt }}</th>
        <th class="small-col text-right">{{ search_limit }}</th>
    </tr>
    <tr>
        <td><input class="form-control"
                    type="text"
                    name="search_client_id"
                    value="{{ search_client_id }}" /></td>
        <td><select class="form-control"
                    name="search_active">{{ search_active }}</select></td>
        <td><input class="form-control"
                    type="text"
                    name="search_username"
                    value="{{ search_username }}" /></td>
        <td><select class="form-control"
                    name="search_groups">{{ search_groups }}</select></td>
        <td class="text-right">
            <button type="button"
                    class="btn btn-default formbutton-default formbutton-narrow"
                    name="Filter"
                    id="Filter"
                    value="{{ filter_txt }}"
                    data-submit-form="pageForm"
                    data-form-action="admin/users_list.php"><span class="icon icon-filter"></span></button>
        </td>
    </tr>
{% render '../components/table/head-body' %}
    {% loop records %}
    <tr>
        <td><a href="#"
                data-load-content="admin/users_edit.php?id={{ id }}">{{ client_id }}</a></td>
        <td><a href="#"
                data-load-content="admin/users_edit.php?id={{ id }}">{{ active }}</a></td>
        <td>
            <div class="icons16 group-{{ typ }}"
                    title="{{ typ }}"><span>{{ typ }}</span></div>
            <div class="group-icon"><a href="#"
                    data-load-content="admin/users_edit.php?id={{ id }}">{{ username }}</a></div>
        </td>
        <td>{{ groups }}</td>
        <td class="text-right">
            {% if client_id != '0' %}
            <a class="btn btn-default formbutton-success formbutton-narrow"
                data-load-content="login/login_as.php?cid={{ client_id }}"><span
                        class="icon icon-loginas"></span></a>
            <a class="btn btn-default formbutton-danger formbutton-narrow"
                href="javascript: ISPConfig.confirm_action('admin/users_del.php?id={{ id }}&_csrf_id={{ csrf_id }}&_csrf_key={{ csrf_key }}&phpsessid={{ phpsessid }}','{{ delete_confirmation }}');"><span
                        class="icon icon-delete"></span></a>
            {% endif %}
        </td>
    </tr>
    {% endloop %}
{% render '../components/table/end', colspan: '5' %}
