{% if list_head_txt %}
{% render '../components/h1', slot: '{{ list_head_txt }}' %}
{% endif %}

{% if success %}
	{{ success_txt }}
{% else %}
	{{ error_txt }}
{% endif %}

<div class="clear">
	<div class="right">
		<button class="btn btn-default formbutton-default" type="button" value="{{ btn_cancel_txt }}" data-load-content="monitor/dataloghistory_list.php">{{ btn_cancel_txt }}</button>
	</div>
</div>
