{% if list_head_txt %}
{% render '../components/heading/h1', slot: '{{ list_head_txt }}' %}
{% endif %}

{% render '../components/table/fieldset-legend', slot: '{{ list_head_txt }}' %}
{% render '../components/table/start' %}
{% render '../components/table/head-start' %}
    <tr>
        {% render '../components/table/th-static', label: '{{ id_txt }}', class: 'w-[25%]' %}
        {% render '../components/table/th-static', label: '{{ id }}'%}
    </tr>
{% render '../components/table/head-body' %}
    <tr>
        {% render '../components/table/td-static', label: '{{ username_txt }}'%}
        {% render '../components/table/td-static', label: '{{ username }}'%}
    </tr>
    <tr>
        {% render '../components/table/td-static', label: '{{ timestamp_txt }}'%}
        {% render '../components/table/td-static', label: '{{ timestamp }}'%}
    </tr>
    <tr>
        {% render '../components/table/td-static', label: '{{ table_txt }}'%}
        {% if table_id %}
            {% render '../components/table/td-static', label: '{{ table }} ({{ table_id }})'%}
        {% else %}
            {% render '../components/table/td-static', label: '{{ table }}'%}
        {% endif %}
    </tr>
    <tr>
        {% render '../components/table/td-static', label: '{{ action_txt }}'%}
        {% render '../components/table/td-static', label: '{{ action_name }}'%}
    </tr>
    <tr>
        {% render '../components/table/td-static', label: '{{ session_id_txt }}'%}
        {% render '../components/table/td-static', label: '{{ session_id }}'%}
    </tr>
</tbody>
</table>
</div>

{% if action_char == 'i' %}
	{% render '../components/heading/h2', slot: '{{ fields_inserted_txt }}' %}
{% endif %}
{% if action_char == 'u' %}
	{% render '../components/heading/h2', slot: '{{ fields_updated_txt }}' %}
{% endif %}
{% if action_char == 'd' %}
	{% render '../components/heading/h2', slot: '{{ fields_deleted_txt }}' %}
{% endif %}

<div class="table-wrapper mt-1">
	<table class='table w-full'>
		{% if action_char == 'i' %}
			<thead class="dark">
				<tr>
					<th width="25%">{{ field_txt }}</th>
					<th>{{ value_txt }}</th>
				</tr>
			</thead>
			{% loop inserts %}
				<tr>
					<td>{{ key }}</td>
					<td>{{ value }}</td>
				</tr>
			{% endloop %}
		{% endif %}
		{% if action_char == 'u' %}
			{% if no_changes %}
				<tbody>
					<tr>
						<td class="text-center"><h3>{{ no_changes_txt }}</h3></td>
					</tr>
				</tbody>
			{% else %}
				<thead class="dark">
					<tr>
						<th width="25%">{{ field_txt }}</th>
						<th>{{ old_txt }}</th>
						<th>{{ new_txt }}</th>
					</tr>
{% render '../components/table/head-body' %}
				{% loop updates %}
					{% if is_diff %}
						<tr>
							<td>{{ key }}</td>
							<td colspan="2">
								<div class="alert alert-warning">{{ is_diff_txt }} (<span class="finediff"><ins>{{ is_diff_inserts_txt }}</ins></span> / <span class="finediff"><del>{{ is_diff_deletes_txt }}</del></span>)</div>
								<div class="finediff">{{ diff }}</div>
							</td>
						</tr>
					{% else %}
						<tr>
							<td>{{ key }}</td>
							<td>{{ old }}</td>
							<td>{{ new }}</td>
						</tr>
					{% endif %}
				{% endloop %}
				</tbody>
			{% endif %}
		{% endif %}
		{% if action_char == 'd' %}
			<thead class="dark">
				<tr>
					<th width="25%">{{ field_txt }}</th>
					<th>{{ value_txt }}</th>
				</tr>
{% render '../components/table/head-body' %}
			{% loop deletes %}
				<tr>
					<td>{{ key }}</td>
					<td>{{ value }}</td>
				</tr>
			{% endloop %}
			</tbody>
		{% endif %}
    </table>
</div>

<div class="clear">
	<div class="right">
		{% if can_undo %}
			<a class="btn btn-default formbutton-danger formbutton-narrow" href="javascript: ISPConfig.confirm_action('monitor/dataloghistory_undo.php?id={{ id }}','{{ undo_confirmation_txt }}');"> {{ undo_txt }}</a>
		{% endif %}
		<button class="btn btn-default formbutton-default" type="button" value="{{ btn_cancel_txt }}" data-load-content="monitor/dataloghistory_list.php">{{ btn_cancel_txt }}</button>
	</div>
</div>
