{% if list_head_txt %}
<div class='page-header'>
	<h1 class="text-4xl pb-4 border-b">{{ list_head_txt }}</h1>
</div>
{% endif %}
<div class="table-wrapper marginTop15">
	<table class='table w-full'>
		<thead class="dark">
			<tr>
				<th width="25%">{{ id_txt }}</th>
				<th>{{ id }}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ username_txt }}</td>
				<td>{{ username }}</td>
			</tr>
			<tr>
				<td>{{ timestamp_txt }}</td>
				<td>{{ timestamp }}</td>
			</tr>
			<tr>
				<td>{{ table_txt }}</td>
				<td>{{ table }}{% if table_id %} ({{ table_id }}){% endif %}</td>
			</tr>
			<tr>
				<td>{{ action_txt }}</td>
				<td>{{ action_name }}</td>
			</tr>
			<tr>
				<td>{{ session_id_txt }}</td>
				<td>{{ session_id }}</td>
			</tr>
		</tbody>
    </table>
</div>

{% if action_char == 'i' %}
	<h2>{{ fields_inserted_txt }}</h2>
{% endif %}
{% if action_char == 'u' %}
	<h2>{{ fields_updated_txt }}</h2>
{% endif %}
{% if action_char == 'd' %}
	<h2>{{ fields_deleted_txt }}</h2>
{% endif %}

<div class="table-wrapper marginTop15">
	<table class='table w-full'>
		{% if action_char == 'i' %}
			<thead class="dark">
				<tr>
					<th width="25%">{{ field_txt }}</th>
					<th>{{ value_txt }}</th>
				</tr>
			</thead>
			{% for inserts %}
				<tr>
					<td>{{ key }}</td>
					<td>{{ value }}</td>
				</tr>
			{% endfor %}
		{% endif %}
		{% if action_char == 'u' %}
			{% if no_changes %}
				<tbody>
					<tr>
						<td class="text-center"><h3>{{ no_changes_txt }}</h3></td>
					</tr>
				</tbody>
			{% else %}
				<thead class="dark">
					<tr>
						<th width="25%">{{ field_txt }}</th>
						<th>{{ old_txt }}</th>
						<th>{{ new_txt }}</th>
					</tr>
				</thead>
				<tbody>
				{% for updates %}
					{% if is_diff %}
						<tr>
							<td>{{ key }}</td>
							<td colspan="2">
								<div class="alert alert-warning">{{ is_diff_txt }} (<span class="finediff"><ins>{{ is_diff_inserts_txt }}</ins></span> / <span class="finediff"><del>{{ is_diff_deletes_txt }}</del></span>)</div>
								<div class="finediff">{{ diff }}</div>
							</td>
						</tr>
					{% else %}
						<tr>
							<td>{{ key }}</td>
							<td>{{ old }}</td>
							<td>{{ new }}</td>
						</tr>
					{% endif %}
				{% endfor %}
				</tbody>
			{% endif %}
		{% endif %}
		{% if action_char == 'd' %}
			<thead class="dark">
				<tr>
					<th width="25%">{{ field_txt }}</th>
					<th>{{ value_txt }}</th>
				</tr>
			</thead>
			<tbody>
			{% for deletes %}
				<tr>
					<td>{{ key }}</td>
					<td>{{ value }}</td>
				</tr>
			{% endfor %}
			</tbody>
		{% endif %}

    </table>
</div>

<div class="clear">
	<div class="right">
		{% if can_undo %}
			<a class="btn btn-default formbutton-danger formbutton-narrow" href="javascript: ISPConfig.confirm_action('monitor/dataloghistory_undo.php?id={{ id }}','{{ undo_confirmation_txt }}');"> {{ undo_txt }}</a>
		{% endif %}
		<button class="btn btn-default formbutton-default" type="button" value="{{ btn_cancel_txt }}" data-load-content="monitor/dataloghistory_list.php">{{ btn_cancel_txt }}</button>
	</div>
</div>
