{% if list_head_txt %}
{% render '../components/heading/h1', slot: '{{ list_head_txt }}' %}
{% endif %}
{% if list_desc_txt %}<p>{{ list_desc_txt }}</p>{% endif %}

{% render '../components/table/fieldset-legend', slot: '{{ list_head_txt }}' %}
{% render '../components/table/start' %}
{% render '../components/table/head-start' %}
    <tr>
        {% render '../components/table/th', name: 'tstamp', label: '{{ tstamp_txt }}', class: '' %}
        {% render '../components/table/th', name: 'server_id', label: '{{ server_id_txt }}', class: '' %}
        {% render '../components/table/th', name: 'action', label: '{{ action_txt }}', class: '' %}
        {% render '../components/table/th', name: 'dbtable', label: '{{ dbtable_txt }}', class: '' %}
        {% render '../components/table/th', name: 'user', label: '{{ user_txt }}', class: '' %}
        {% render '../components/table/th-search-limit' %}
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><select class="form-control" name="search_server_id">{{ search_server_id }}</select></td>
        <td><select class="form-control" name="search_action">{{ search_action }}</select></td>
        <td><input class="form-control" type="text" name="search_dbtable" value="{{ search_dbtable }}" /></td>
        <td><input class="form-control" type="text" name="search_user" value="{{ search_user }}" /></td>

        <td class="text-right">
            <button type="button" class="btn btn-default formbutton-default formbutton-narrow" name="Filter" id="Filter" value="{{ filter_txt }}" data-submit-form="pageForm" data-form-action="monitor/dataloghistory_list.php"><span class="icon icon-filter"></span></button>
        </td>
    </tr>
{% render '../components/table/head-body' %}
    {% loop records %}
        <tr>
            <td><a href="#" data-load-content="monitor/dataloghistory_view.php?id={{ id }}">{{ tstamp }}</a></td>
            <td><a href="#" data-load-content="monitor/dataloghistory_view.php?id={{ id }}">{{ server_id }}</a></td>
            <td><a href="#" data-load-content="monitor/dataloghistory_view.php?id={{ id }}">{{ action }}</a></td>
            <td><a href="#" data-load-content="monitor/dataloghistory_view.php?id={{ id }}">{{ dbtable }}</a></td>
            <td><a href="#" data-load-content="monitor/dataloghistory_view.php?id={{ id }}">{{ user }}</a></td>
            <td class="text-right"></td>
        </tr>
    {% endloop %}
{% render '../components/table/end', colspan: '6' %}