{% render '../components/heading/h1', slot: '{{ list_head_txt }}' %}
<p>{{ list_desc_txt }}</p>

<div class="panel panel_system">
{% if monit_url %}
    <iframe src="{{ monit_url }}" width="100%" height="1000" frameborder="0" style="overflow:visible;"></iframe>
{% else %}
	<div id="errorMsg"><h3>ERROR</h3><ol><li>{{ no_monit_url_defined_txt }} {{ no_permissions_to_view_monit_txt }}<br></li></ol></div>
{% endif %}
</div>
