{% render '../components/h1', slot: '{{ list_head_txt }}' %}
<p>{{ list_desc_txt }}</p>

<div class="panel panel_system">

    <div class="pnl_formarea">
        <p class="fieldset-legend">{{ monTransDate }}{{ time }}</p>
            <div class="systemmonitor">{{ output }}</div>

    </div>

</div>
