{% render '../components/heading/h1', slot: '{{ list_head_txt }}' %}
<p>{{ list_desc_txt }}</p>

{% if datalog_changes_count > '0' %}
    <div>
        <div class="systemmonitor-state state-info">
            <div class="status"></div>
            <div class="statusMsg">
                {{ datalog_changes_txt }}
                <ul>
                    {% loop datalog_changes %}
                    <li><strong>{{ text }}:</strong> {{ count }}</li>
                    {% endloop %}
                </ul>
                {{ datalog_changes_end_txt }}
            </div>
        </div><br />
    </div>
{% endif %}

<div class="flex flex-row justify-end gap-4">

    {% render '../components/button/primary', {
        "slot": "{{ add_new_record_wizard_txt }}",
        "attributes": [
            [ "type", "button" ],
            [ "value", "{{ add_new_record_wizard_txt }}" ],
            [ "data-load-content", "dns/dns_wizard.php"]
        ]
    } %}

    {% render '../components/button/primary', {
        "slot": "{{ add_new_record_txt }}",
        "attributes": [
            [ "type", "button" ],
            [ "value", "{{ add_new_record_txt }}" ],
            [ "data-load-content", "dns/dns_soa_edit.php"]
        ]
    } %}

    {% render '../components/button/primary', {
        "slot": "{{ import_zone_file_txt }}",
        "attributes": [
            [ "type", "button" ],
            [ "value", "{{ import_zone_file_txt }}" ],
            [ "data-load-content", "dns/dns_import.php"]
        ]
    } %}

</div>

{% render '../components/table/fieldset-legend', slot: '{{ list_head_txt }}' %}
{% render '../components/table/start' %}
{% render '../components/table/head-start' %}
    <tr>
        {% render '../components/table/th', name: 'active', label: '{{ active_txt }}', class: 'w-[8%]' %}
        {% render '../components/table/th', name: 'server_id', label: '{{ server_id_txt }}'%}
        {% render '../components/table/th', name: 'origin', label: '{{ origin_txt }}'%}
        {% render '../components/table/th', name: 'ns', label: '{{ ns_txt }}'%}
        {% render '../components/table/th', name: 'mbox', label: '{{ mbox_txt }}'%}
        {% render '../components/table/th-search-limit' %}
    </tr>
    <tr>
        <td><select class="form-control"
                    name="search_active">{{ search_active }}</select></td>
        <td><select class="form-control"
                    name="search_server_id">{{ search_server_id }}</select></td>
        <td><input class="form-control"
                    type="text"
                    name="search_origin"
                    value="{{ search_origin }}" /></td>
        <td><input class="form-control"
                    type="text"
                    name="search_ns"
                    value="{{ search_ns }}" /></td>
        <td><input class="form-control"
                    type="text"
                    name="search_mbox"
                    value="{{ search_mbox }}" /></td>
        <td class="text-right">
            <button type="button"
                    class="btn btn-default formbutton-default formbutton-narrow"
                    name="Filter"
                    id="Filter"
                    value="{{ filter_txt }}"
                    data-submit-form="pageForm"
                    data-form-action="dns/dns_soa_list.php"><span class="icon icon-filter"></span></button>
        </td>
    </tr>
{% render '../components/table/head-body' %}
    {% loop records %}
    <tr>
        <td><a href="#"
                data-load-content="dns/dns_soa_edit.php?id={{ id }}&next_tab=dns_records">{{ active }}{% if
                dnssec_initialized == 'Y' %} <i class="fa fa-key"
                    aria-hidden="true"></i>{% endif %}</td>
        <td><a href="#"
                data-load-content="dns/dns_soa_edit.php?id={{ id }}&next_tab=dns_records"
                x-tooltip.placement.bottom.raw="{{ server_id }}">{{ server_id }}</a></td>
        <td><a href="#"
                data-load-content="dns/dns_soa_edit.php?id={{ id }}&next_tab=dns_records"
                x-tooltip.placement.bottom.raw="{{ origin }}">{{ origin }}</a></td>
        <td><a href="#"
                data-load-content="dns/dns_soa_edit.php?id={{ id }}&next_tab=dns_records"
                x-tooltip.placement.bottom.raw="{{ ns }}">{{ ns }}</a></td>
        <td><a href="#"
                data-load-content="dns/dns_soa_edit.php?id={{ id }}&next_tab=dns_records"
                x-tooltip.placement.bottom.raw="{{ mbox }}">{{ mbox }}</a></td>
        <td class="text-right">
            <a class="btn btn-default formbutton-danger formbutton-narrow"
                href="javascript: ISPConfig.confirm_action('dns/dns_soa_del.php?id={{ id }}&_csrf_id={{ csrf_id }}&_csrf_key={{ csrf_key }}&phpsessid={{ phpsessid }}','{{ delete_confirmation }}');"><span
                        class="icon icon-delete"></span></a>
        </td>
    </tr>
    {% endloop %}
{% render '../components/table/end', colspan: '6' %}
