            {% if is_admin %}
                <div class="form-group">
                    {% if edit_disabled %}
                        <label for="server_id_disabled" class="col-sm-3 control-label">{{ server_id_txt }}</label>
                        <div class="col-sm-9"><select name="server_id_disabled" id="server_id_disabled" class="form-control" disabled="disabled">
                            {{ server_id }}
                        </select></div>
                        <input type="hidden" name="server_id" value="{{ server_id_value }}" />
                    {% else %}
                            <label for="server_id" class="col-sm-3 control-label">{{ server_id_txt }}</label>
                            <div class="col-sm-9"><select name="server_id" id="server_id" class="form-control">
                                {{ server_id }}
                            </select></div>
                    {% endif %}
                </div>
                {% unless domain_option %}
                    <div class="form-group">
                        <label for="client_group_id" class="col-sm-3 control-label">{{ client_txt }}</label>
                        <div class="col-sm-9"><select name="client_group_id" id="client_group_id" class="form-control">
                            {{ client_group_id }}
                        </select></div>
                    </div>
                {% endunless %}
            {% endif %}
            {% if is_reseller %}
                {% unless domain_option %}
                    <div class="form-group">
                        <label for="client_group_id" class="col-sm-3 control-label">{{ client_txt }}</label>
                        <div class="col-sm-9"><select name="client_group_id" id="client_group_id" class="form-control">
                            {{ client_group_id }}
                        </select></div>
                    </div>
                {% endunless %}
            {% endif %}
            <div class="form-group">
                <label for="origin" class="col-sm-3 control-label">{{ origin_txt }}</label>
                {% if domain_option %}
                    <div class="col-sm-9"><select name="origin" id="origin" class="form-control">
                        {{ domain_option }}
                    </select></div>
                    {% else %}
                        <div class="col-sm-9">
							<input type="text" name="origin" id="origin" value="{{ origin }}" class="form-control" />
							<p class="formHint">{{ eg_domain_tld }}</p>
						</div>{% endif %}
                
            </div>
            <div class="form-group">
                <label for="ns" class="col-sm-3 control-label">{{ ns_txt }}</label>
                <div class="col-sm-9">
					<input type="text" name="ns" id="ns" value="{{ ns }}" class="form-control" />
					<p class="formHint">{{ ipv4_form_txt }}</p>
				</div>
            </div>
            <div class="form-group">
                <label for="xfer" class="col-sm-3 control-label">{{ xfer_txt }}</label>
                <div class="col-sm-9"><input type="text" name="xfer" id="xfer" value="{{ xfer }}" class="form-control" /></div></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ active_txt }}</label>
                <div class="col-sm-9">
                    {{ active }}
                </div>
            </div>
        
            
        <input type="hidden" name="id" value="{{ id }}">
        <input name="serial" type="hidden" value="{{ serial }}">
            
        {% render '../components/form-submit-buttons', cancel_load_content: 'dns/dns_slave_list.php', save_form_action: 'dns/dns_slave_edit.php' %}
<script language="JavaScript" type="text/javascript">
    jQuery('#ns').ispconfigSearch({
        dataSrc: '/dns/ajax_get_json.php?type=get_ipv4',
        resultsLimit: '$ {{ globalsearch_resultslimit_of_txt }} % {{ globalsearch_resultslimit_results_txt }}',
        ResultsTextPrefix: '{{ globalsearch_suggestions_text_txt }}',
        noResultsText: '{{ globalsearch_noresults_text_txt }}',
        noResultsLimit: '{{ globalsearch_noresults_limit_txt }}',
        minChars: 0,
        cssPrefix: 'df-',
        fillSearchField: true,
        fillSearchFieldWith: 'fill_text',
        searchFieldWatermark: '',
        resultBoxPosition: ''
    });
    jQuery('#xfer').ispconfigSearch({
        dataSrc: '/dns/ajax_get_json.php?type=get_ipv4',
        resultsLimit: '$ {{ globalsearch_resultslimit_of_txt }} % {{ globalsearch_resultslimit_results_txt }}',
        ResultsTextPrefix: '{{ globalsearch_suggestions_text_txt }}',
        noResultsText: '{{ globalsearch_noresults_text_txt }}',
        noResultsLimit: '{{ globalsearch_noresults_limit_txt }}',
        minChars: 0,
        cssPrefix: 'df-',
        fillSearchField: true,
        fillSearchFieldWith: 'fill_text',
        searchFieldWatermark: '',
        resultBoxPosition: ''
    });	
</script>
