{% if config_error_msg %}
  <div class="alert alert-danger">
    <p>
      {{ configuration_error_txt }}
        <div>
          <div style="float:left;width:150px;">{{ config_error_tstamp }} :&nbsp;</div>
          <div style="padding-left:150px;">{{ config_error_msg }}</div>
        </div>
    </p>
  </div>
{% endif %}
<div class="pnl_toolsarea">
        {% if datalog_changes_count > '0' %}
            <div class="systemmonitor-state state-info">
                <div class="status"></div>
                <div class="statusMsg">
                    {{ datalog_changes_txt }}
                    <ul>
                    {% loop datalog_changes %}
                        <li><strong>{{ text }}:</strong> {{ count }}</li>
                    {% endloop %}
                    </ul>
                    {{ datalog_changes_end_txt }}
                </div>
            </div>
        {% endif %}
    <p class="fieldset-legend">{{ toolsarea_head_txt }}</p>
        <div class="buttons topbuttons">
            <button class="btn btn-default dns-record-btn formbutton-success" type="button" data-load-content="dns/dns_a_edit.php?zone={{ parent_id }}">A</button>
            <button class="btn btn-default dns-record-btn formbutton-success" type="button" data-load-content="dns/dns_aaaa_edit.php?zone={{ parent_id }}">AAAA</button>
            <button class="btn btn-default dns-record-btn formbutton-success" type="button" data-load-content="dns/dns_alias_edit.php?zone={{ parent_id }}">ALIAS</button>
            <button class="btn btn-default dns-record-btn formbutton-success" type="button" data-load-content="dns/dns_caa_edit.php?zone={{ parent_id }}">CAA</button>
            <button class="btn btn-default dns-record-btn formbutton-success" type="button" data-load-content="dns/dns_cname_edit.php?zone={{ parent_id }}">CNAME</button>
            <button class="btn btn-default dns-record-btn formbutton-success" type="button" data-load-content="dns/dns_dname_edit.php?zone={{ parent_id }}">DNAME</button>
            <button class="btn btn-default dns-record-btn formbutton-success" type="button" data-load-content="dns/dns_dkim_edit.php?zone={{ parent_id }}">DKIM</button>
			<button class="btn btn-default dns-record-btn formbutton-success" type="button" data-load-content="dns/dns_ds_edit.php?zone={{ parent_id }}">DS</button>
            <button class="btn btn-default dns-record-btn formbutton-success" type="button" data-load-content="dns/dns_dmarc_edit.php?zone={{ parent_id }}">DMARC</button>
            <button class="btn btn-default dns-record-btn formbutton-success" type="button" data-load-content="dns/dns_hinfo_edit.php?zone={{ parent_id }}">HINFO</button>
			<button class="btn btn-default dns-record-btn formbutton-success" type="button" data-load-content="dns/dns_loc_edit.php?zone={{ parent_id }}">LOC</button>
            <button class="btn btn-default dns-record-btn formbutton-success" type="button" data-load-content="dns/dns_mx_edit.php?zone={{ parent_id }}">MX</button>
            <button class="btn btn-default dns-record-btn formbutton-success" type="button" data-load-content="dns/dns_naptr_edit.php?zone={{ parent_id }}">NAPTR</button>
            <button class="btn btn-default dns-record-btn formbutton-success" type="button" data-load-content="dns/dns_ns_edit.php?zone={{ parent_id }}">NS</button>
            <button class="btn btn-default dns-record-btn formbutton-success" type="button" data-load-content="dns/dns_ptr_edit.php?zone={{ parent_id }}">PTR</button>
            <button class="btn btn-default dns-record-btn formbutton-success" type="button" data-load-content="dns/dns_rp_edit.php?zone={{ parent_id }}">RP</button>
            <button class="btn btn-default dns-record-btn formbutton-success" type="button" data-load-content="dns/dns_spf_edit.php?zone={{ parent_id }}">SPF</button>
            <button class="btn btn-default dns-record-btn formbutton-success" type="button" data-load-content="dns/dns_srv_edit.php?zone={{ parent_id }}">SRV</button>
            <button class="btn btn-default dns-record-btn formbutton-success" type="button" data-load-content="dns/dns_sshfp_edit.php?zone={{ parent_id }}">SSHFP</button>
			<button class="btn btn-default dns-record-btn formbutton-success" type="button" data-load-content="dns/dns_tlsa_edit.php?zone={{ parent_id }}">TLSA</button>
            <button class="btn btn-default dns-record-btn formbutton-success" type="button" data-load-content="dns/dns_txt_edit.php?zone={{ parent_id }}">TXT</button>
        </div>

</div>


    {% render '../components/table/fieldset-legend', slot: '{{ list_head_txt }}' %}
        <div class="table-wrapper mt-1">
<table class='table w-full'>
            <thead class="dark">
                <tr>
                    <th class="tiny-col" data-column="active">{{ active_txt }}</th>
                    <th data-column="type">{{ type_txt }}</th>
                    <th data-column="name">{{ name_txt }}</th>
                    <th data-column="data">{{ data_txt }}</th>
                    <th data-column="aux">{{ aux_txt }}</th>
                    <th data-column="ttl">{{ ttl_txt }}</th>
                    <th class="small-col text-right">{{ search_limit }}</th>
                </tr>
                <tr>
                    <td><select class="form-control" name="search_active">{{ search_active }}</select></td>
                    <td><select class="form-control" name="search_type">{{ search_type }}</select></td>
                    <td><input class="form-control" type="text" name="search_name" value="{{ search_name }}" /></td>
                    <td><input class="form-control" type="text" name="search_data" value="{{ search_data }}" /></td>
                    <td><input class="form-control" type="text" name="search_aux" value="{{ search_aux }}" /></td>
                    <td><input class="form-control" type="text" name="search_ttl" value="{{ search_ttl }}" /></td>
                    <td class="text-right">
                        <button type="button" class="btn btn-default formbutton-default formbutton-narrow" name="Filter" id="Filter" value="{{ filter_txt }}" onclick="return ISPConfig.changeTab('dns_records','dns/dns_soa_edit.php');" data-form-action="dns/dns_a_list.php"><span class="icon icon-filter"></span></button>
                    </td>
                </tr>
{% render '../components/table/head-body' %}
                {% loop records %}
                    <tr>
                        <td><a href="#" data-load-content="dns/dns_{{ type_lowercase }}_edit.php?id={{ id }}">{{ active }}</a></td>
                        <td><a href="#" data-load-content="dns/dns_{{ type_lowercase }}_edit.php?id={{ id }}">{{ type }}</a></td>
                        <td><a href="#" data-load-content="dns/dns_{{ type_lowercase }}_edit.php?id={{ id }}" x-tooltip.placement.bottom.raw="{{ name }}">{{ name }}</a></td>
                        <td><a href="#" data-load-content="dns/dns_{{ type_lowercase }}_edit.php?id={{ id }}" x-tooltip.placement.bottom.raw="{{ data }}">{{ data }}</a></td>
                        <td><a href="#" data-load-content="dns/dns_{{ type_lowercase }}_edit.php?id={{ id }}">{{ aux }}</a></td>
                        <td><a href="#" data-load-content="dns/dns_{{ type_lowercase }}_edit.php?id={{ id }}">{{ ttl }}</a></td>
                        <td class="text-right">
                            <a class="btn btn-default formbutton-danger formbutton-narrow" href="javascript: ISPConfig.confirm_action('dns/dns_rr_del.php?id={{ id }}&_csrf_id={{ csrf_id }}&_csrf_key={{ csrf_key }}&phpsessid={{ phpsessid }}','{{ delete_confirmation }}');"><span class="icon icon-delete"></span></a>
                        </td>
                    </tr>
                {% endloop %}
                {% unless records %}
                    <tr class="tbl_row_noresults tbl_row_{% if __EVEN__ %}even{% else %}uneven{% endif %}">
                        <td colspan="7">{{ globalsearch_noresults_text_txt }}</td>
                    </tr>
                {% endunless %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">{{ paging }}</td>
                </tr>
            </tfoot>
        </table>
</div>
