<div class='page-header'>
	<h1 class="text-4xl pb-4 border-b">
		{{ list_head_txt }}
	</h1>
</div>

<div class="panel panel_language_import" style="padding:20px;">
	<div class="pnl_formsarea">
		{% if error %}
			<div class='alert alert-danger clear'>
				<div class='alert-label'><strong>
						{{ error_txt }}
					</strong></div>
				<div class='alert-content'>
					<ul style="list-style-type:none">
						{{ error }}
					</ul>
				</div>
			</div>
		{% endif %}
		<div class="form-group">
			<label for="template_id" class="col-sm-3 control-label">{{ template_id_txt }}</label>
			<div class="col-sm-9"><select name="template_id" id="template_id" class="form-control" onChange="ISPConfig.submitForm('pageForm','dns/dns_wizard.php')">
					{{ template_id_option }}
				</select></div>
		</div>
		{% if is_admin %}
			<div class="form-group">
				<label for="server_id" class="col-sm-3 control-label">{{ server_id_txt }}</label>
				<div class="col-sm-9"><select name="server_id" id="server_id" class="form-control">
						{{ server_id }}
					</select></div>
			</div>
			{% unless domain_option %}
				<div class="form-group">
					<label for="client_group_id" class="col-sm-3 control-label">{{ client_txt }}</label>
					<div class="col-sm-9"><select name="client_group_id" id="client_group_id" class="form-control">
							{{ client_group_id }}
						</select></div>
				</div>
			{% endunless %}
			{% else %}
				{% if only_one_server %}
					<input type="hidden" id="server_id" name="server_id" value="{{ server_id_value }}" />
					{% else %}
						<div class="form-group">
							<label for="server_id" class="col-sm-3 control-label">{{ server_id_txt }}</label>
							<div class="col-sm-9"><select name="server_id" id="server_id" class="form-control">
									{{ server_id }}
								</select></div>
						</div>
				{% endif %}
		{% endif %}
		{% if is_reseller %}
			{% unless domain_option %}
				<div class="form-group">
					<label for="client_group_id" class="col-sm-3 control-label">{{ client_txt }}</label>
					<div class="col-sm-9"><select name="client_group_id" id="client_group_id" class="form-control">
							{{ client_group_id }}
						</select></div>
				</div>
			{% endunless %}
		{% endif %}
		{% if DOMAIN_VISIBLE %}
			<div class="form-group">
				<label for="domain" class="col-sm-3 control-label">{{ domain_txt }}</label>
				{% if domain_option %}
					<div class="col-sm-9"><select name="domain" id="domain" class="form-control">
							{{ domain_option }}
						</select></div>
					{% else %}
						<div class="col-sm-9"><input type="text" name="domain" id="domain" value="{{ domain }}" class="form-control" /></div>
				{% endif %}
			</div>
		{% endif %}
		{% if IP_VISIBLE %}
			<div class="form-group">
				<label for="ip" class="col-sm-3 control-label">{{ ip_txt }}</label>
				<div class="col-sm-9"><input type="text" name="ip" id="ip" value="{{ ip }}" class="form-control" /></div>
			</div>
		{% endif %}
		{% if IPV6_VISIBLE %}
			<div class="form-group">
				<label for="ipv6" class="col-sm-3 control-label">{{ ipv6_txt }}</label>
				<div class="col-sm-9"><input type="text" name="ipv6" id="ipv6" value="{{ ipv6 }}" class="form-control" /></div>
			</div>
		{% endif %}
		{% if NS1_VISIBLE %}
			<div class="form-group">
				<label for="ns1" class="col-sm-3 control-label">{{ ns1_txt }}</label>
				<div class="col-sm-9"><input type="text" name="ns1" id="ns1" value="{{ ns1 }}" class="form-control" /></div>
			</div>
		{% endif %}
		{% if NS2_VISIBLE %}
			<div class="form-group">
				<label for="ns2" class="col-sm-3 control-label">{{ ns2_txt }}</label>
				<div class="col-sm-9"><input type="text" name="ns2" id="ns2" value="{{ ns2 }}" class="form-control" /></div>
			</div>
		{% endif %}
		{% if EMAIL_VISIBLE %}
			<div class="form-group">
				<label for="email" class="col-sm-3 control-label">{{ email_txt }}</label>
				<div class="col-sm-9"><input type="text" name="email" id="email" value="{{ email }}" class="form-control" /></div>
			</div>
		{% endif %}
		{% if DKIM_VISIBLE %}
			<div class="form-group">
				<label for="dkim" class="col-sm-3 control-label">{{ dkim_txt }}</label>
				<div class="col-sm-9"><input type="checkbox" disabled readonly checked><input name="dkim" type="hidden" maxlength="255" type="text" /></div>
			</div>
		{% endif %}
		{% if DNSSEC_VISIBLE %}
			<div class="form-group">
				<label for="dkim" class="col-sm-3 control-label">{{ dnssec_txt }}</label>
				<div class="col-sm-9"><input type="checkbox" name="dnssec" value="Y"></div>
			</div>
		{% endif %}

		<input type="hidden" name="create" value="0" />

		<div class="clear">
			<div class="right">
				<button class="btn btn-default formbutton-success" type="button" value="{{ btn_save_txt }}" name="btn_create" onclick="document.pageForm.create.value=1; ISPConfig.submitForm('pageForm','dns/dns_wizard.php');">{{ btn_save_txt }}</button>
				<button class="btn btn-default formbutton-default" type="button" value="{{ btn_cancel_txt }}" data-load-content="dns/dns_soa_list.php">{{ btn_cancel_txt }}</button>
			</div>
		</div>
	</div>
</div>
<script language="JavaScript" type="text/javascript">
	jQuery('#ip').ispconfigSearch({
		dataSrc: '/dns/ajax_get_json.php?type=get_ipv4',
		resultsLimit: '$ {{ globalsearch_resultslimit_of_txt }} % {{ globalsearch_resultslimit_results_txt }}',
		ResultsTextPrefix: '{{ globalsearch_suggestions_text_txt }}',
		noResultsText: '{{ globalsearch_noresults_text_txt }}',
		noResultsLimit: '{{ globalsearch_noresults_limit_txt }}',
		minChars: 0,
		cssPrefix: 'df-',
		fillSearchField: true,
		fillSearchFieldWith: 'fill_text',
		searchFieldWatermark: '',
		resultBoxPosition: ''
	});
</script>
<script language="JavaScript" type="text/javascript">
	jQuery('#ipv6').ispconfigSearch({
		dataSrc: '/dns/ajax_get_json.php?type=get_ipv6',
		resultsLimit: '$ {{ globalsearch_resultslimit_of_txt }} % {{ globalsearch_resultslimit_results_txt }}',
		ResultsTextPrefix: '{{ globalsearch_suggestions_text_txt }}',
		noResultsText: '{{ globalsearch_noresults_text_txt }}',
		noResultsLimit: '{{ globalsearch_noresults_limit_txt }}',
		minChars: 0,
		cssPrefix: 'df-',
		fillSearchField: true,
		fillSearchFieldWith: 'fill_text',
		searchFieldWatermark: '',
		resultBoxPosition: ''
	});
</script>
