{% render '../components/heading/h1', slot: '{{ zone_file_import_txt }}' %}
<p>
	{{ list_desc_txt }}
</p>
<div class="panel panel_language_import" style="padding:20px;">
	<div class="pnl_formsarea">
		{% if is_admin %}
			<div class="form-group">
				<label for="server_id" class="col-sm-3 control-label">{{ server_id_txt }}</label>
				<div class="col-sm-9"><select name="server_id" id="server_id" class="form-control">
						{{ server_id }}
					</select></div>
			</div>
			<div class="form-group">
				<label for="client_group_id" class="col-sm-3 control-label">{{ client_txt }}</label>
				<div class="col-sm-9"><select name="client_group_id" id="client_group_id" class="form-control">
						{{ client_group_id }}
					</select></div>
			</div>
			{% else %}
				{% if only_one_server %}
					<input type="hidden" id="server_id" name="server_id" value="{{ server_id_value }}" />
					{% else %}
						<div class="form-group">
							<label for="server_id" class="col-sm-3 control-label">{{ server_id_txt }}</label>
							<div class="col-sm-9"><select name="server_id" id="server_id" class="form-control">
									{{ server_id }}
								</select></div>
						</div>
				{% endif %}
		{% endif %}
		<div class="form-group">
			<label for="domain" class="col-sm-3 control-label">{{ domain_txt }}</label>
			{% if domain_option %}
				<div class="col-sm-9"><select name="domain" id="domain" class="form-control">
						{{ domain_option }}
					</select></div>
				{% else %}
					<div class="col-sm-9"><input type="text" name="domain" id="domain" value="{{ domain }}" class="form-control" onkeydown="keydown(event.which);" /></div>
			{% endif %}
			<div class="col-sm-3 col-text"></div>
			<div class="col-sm-9 col-text">
				{{ domain_field_desc_txt }}</div>
			</div>
			<div class="form-group">
				<label for="file" class="col-sm-3 control-label">{{ zonefile_to_import_txt }}</label>
				<div class="col-sm-9 col-text"><input name="file" id="file" size="30" type="file" class="fileUpload" /></div>
			</div>

			{% if msg %}
				<div id="OKMsg">
					<p>
						{{ msg }}
					</p>
				</div>
			{% endif %}
			{% if error %}
				<div class='alert alert-danger clear'>
					<div class='alert-label'>
						<strong>
							{{ error_txt }}
						</strong>
					</div>
					<div class='alert-content'>
						<ul style="list-style-type:none">
							{{ error }}
						</ul>
					</div>
				</div>
			{% endif %}

			<input type="hidden" name="id" value="{{ id }}">

			<div class="clear">
				<div class="right">
					<button class="btn btn-default formbutton-success" type="button" value="{{ btn_save_txt }}" data-submit-form="pageForm" data-form-action="dns/dns_import.php" data-form-upload="true">{{ btn_save_txt }}</button>
					<button class="btn btn-default formbutton-default" type="button" value="{{ btn_cancel_txt }}" data-load-content="dns/dns_soa_list.php">{{ btn_cancel_txt }}</button>
				</div>
			</div>
		</div>
	</div>
	<script language="JavaScript" type="text/javascript">
		function keydown(keynum) {
			if (keynum == 13) {
				jQuery('.positive').trigger('click');
			}
		}
	</script>
