{% render './password-group', name: '{{ name }}', id: '{{ id }}', value: '{{ value }}', label: '{{ label }}' %}
{% render './group-start' %}
    {% render './label', name: '', slot: '{{ password_strength_txt }}' %}
    <div class="w-9/12 flex flex-row gap-2 items-center">
        <div id="passBar"
            class="flex flex-row flex-1 h-4 rounded items-stretch bg-gray-200 overflow-hidden"></div>
        <span id="passText"
            class="text-xs">&nbsp;</span>
    </div>
{% render './group-end' %}
{% render './group-start' %}
    {% render './label', name: 'repeat_password', slot: '{{ repeat_password_txt }}' %}
    <div class="w-7/12">
        {% render './password', id: 'repeat_password', name: 'repeat_password', value: '{{ value }}' %}
    </div>
    <div class="w-2/12">&nbsp;</div>
{% render './group-end' %}
{% render './group-start' %}
    <div class="w-3/12">&nbsp;</div>
    <div class="w-7/12">
        <div id="confirmpasswordError"
            style="display:none;"
            class="confirmpassworderror text-red-500 italic text-sm">{{ password_mismatch_txt }}</div>
        <div id="confirmpasswordOK"
            style="display:none;"
            class="confirmpasswordok text-emerald-600 italic text-sm">{{ password_match_txt }}</div>
    </div>
    <div class="w-2/12">&nbsp;</div>
{% render './group-end' %}
