{% render './group-start' %}
    {% render './label', name: '{{ name }}', slot: '{{ label }}' %}
    <div class="w-9/12">
        {% render './text', id: '{{ id }}', name: '{{ name }}', value: '{{ value }}' %}
    </div>
{% render './group-end' %}
