{% render '../components/heading/h1', slot: '{{ list_head_txt }}' %}
<p>{{ list_desc_txt }}</p>


        <legend>Settings</legend>
            {% if is_admin %}
                <div class="form-group">
                    {% if edit_disabled %}
                        <label for="server_id_disabled" class="col-sm-3 control-label">{{ server_id_txt }}</label>
                        <div class="col-sm-9"><select name="server_id_disabled" id="server_id_disabled" class="form-control" disabled="disabled">
                            {{ server_id }}
                        </select></div>
                        <input type="hidden" name="server_id" value="{{ server_id_value }}" />
                    {% else %}
                            <label for="server_id" class="col-sm-3 control-label">{{ server_id_txt }}</label>
                            <div class="col-sm-9"><select name="server_id" id="server_id" class="form-control" onChange="ISPConfig.loadOptionInto('ip_address','vm/ajax_get_ip.php?server_id='+document.getElementById('server_id').value)">
                                {{ server_id }}
                            </select></div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="client_group_id" class="col-sm-3 control-label">{{ client_group_id_txt }}</label>
                    <div class="col-sm-9"><select name="client_group_id" id="client_group_id" class="form-control">
                        {{ client_group_id }}
                    </select></div>
                </div>
            {% endif %}
            {% if is_reseller %}
                <div class="form-group">
                    <label for="client_group_id" class="col-sm-3 control-label">{{ client_group_id_txt }}</label>
                    <div class="col-sm-9"><select name="client_group_id" id="client_group_id" class="form-control">
                        {{ client_group_id }}
                    </select></div>
                </div>
            {% endif %}
            {% if edit_disabled %}
                <div class="form-group">
                    <label for="ostemplate_id_disabled" class="col-sm-3 control-label">{{ ostemplate_id_txt }}</label>
                    <div class="col-sm-9"><select name="ostemplate_id_disabled" id="ostemplate_id_disabled" class="form-control" disabled="disabled">
                        {{ ostemplate_id }}
                    </select></div>
                </div>
                <input type="hidden" name="ostemplate_id" value="{{ ostemplate_id_value }}">
            {% else %}
                <div class="form-group">
                    <label for="ostemplate_id" class="col-sm-3 control-label">{{ ostemplate_id_txt }}</label>
                    <div class="col-sm-9"><select name="ostemplate_id" id="ostemplate_id" class="form-control">
                        {{ ostemplate_id }}
                    </select></div>
                </div>
            {% endif %}
            <div class="form-group">
                <label for="template_id" class="col-sm-3 control-label">{{ template_id_txt }}</label>
                <div class="col-sm-9"><select name="template_id" id="template_id" class="form-control">
                    {{ template_id_select }}
                </select></div>
            </div>
            <div class="form-group">
                <label for="ip_address" class="col-sm-3 control-label">{{ ip_address_txt }}</label>
                <div class="col-sm-9"><select name="ip_address" id="ip_address" class="form-control">
                    {{ ip_address }}
                </select></div>
            </div>
            <div class="form-group">
                <label for="hostname" class="col-sm-3 control-label">{{ hostname_txt }}</label>
                <div class="col-sm-9"><input type="text" name="hostname" id="hostname" value="{{ hostname }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="vm_password" class="col-sm-3 control-label">{{ vm_password_txt }}</label>
                <div class="col-sm-9"><input type="text" name="vm_password" id="vm_password" value="{{ vm_password }}" class="form-control" /></div></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ start_boot_txt }}</label>
                <div class="col-sm-9">
                    {{ start_boot }}
                </div>
            </div>
			<div class="form-group">
				<label for="bootorder" class="col-sm-3 control-label">{{ bootorder_txt }}</label>
				<div class="col-sm-9"><input type="text" name="bootorder" id="bootorder" value="{{ bootorder }}" class="form-control" /></div></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ active_txt }}</label>
                <div class="col-sm-9">
                    {{ active }}
                </div>
            </div>
            <div class="form-group">
                <label for="active_until_date" class="col-sm-3 control-label">{{ active_until_date_txt }}</label>
                <div class="col-sm-9"><input type="text" name="active_until_date" id="active_until_date" value="{{ active_until_date }}" class="form-control" data-input-element="date" data-date-format="{{ conf_format_datetime_js }}" /></div></div>
            <div class="form-group">
                <label for="description" class="col-sm-3 control-label">{{ description_txt }}</label>
                <div class="col-sm-9"><textarea class="form-control" name="description" id="description" rows='5' cols='30' style='height:60px;'>{{ description }}</textarea></div>
            </div>


        <input type="hidden" name="id" value="{{ id }}">

        {% render '../components/form-submit-buttons', cancel_load_content: 'vm/openvz_vm_list.php', save_form_action: 'vm/openvz_vm_edit.php' %}
