{% render '../components/heading/h1', slot: '{{ list_head_txt }}' %}
<p>{{ list_desc_txt }}</p>


        <legend>Advanced</legend>
            <div class="form-group">
                <label for="numproc" class="col-sm-3 control-label">{{ numproc_txt }}</label>
                <div class="col-sm-9"><input type="text" name="numproc" id="numproc" value="{{ numproc }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="numtcpsock" class="col-sm-3 control-label">{{ numtcpsock_txt }}</label>
                <div class="col-sm-9"><input type="text" name="numtcpsock" id="numtcpsock" value="{{ numtcpsock }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="numothersock" class="col-sm-3 control-label">{{ numothersock_txt }}</label>
                <div class="col-sm-9"><input type="text" name="numothersock" id="numothersock" value="{{ numothersock }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="vmguarpages" class="col-sm-3 control-label" readonly >{{ vmguarpages_txt }}</label>
                <div class="col-sm-9"><input type="text" name="vmguarpages" id="vmguarpages" value="{{ vmguarpages }}" class="form-control" readonly /></div></div>
            <div class="form-group">
                <label for="kmemsize" class="col-sm-3 control-label">{{ kmemsize_txt }}</label>
                <div class="col-sm-9"><input type="text" name="kmemsize" id="kmemsize" value="{{ kmemsize }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="tcpsndbuf" class="col-sm-3 control-label">{{ tcpsndbuf_txt }}</label>
                <div class="col-sm-9"><input type="text" name="tcpsndbuf" id="tcpsndbuf" value="{{ tcpsndbuf }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="tcprcvbuf" class="col-sm-3 control-label">{{ tcprcvbuf_txt }}</label>
                <div class="col-sm-9"><input type="text" name="tcprcvbuf" id="tcprcvbuf" value="{{ tcprcvbuf }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="othersockbuf" class="col-sm-3 control-label">{{ othersockbuf_txt }}</label>
                <div class="col-sm-9"><input type="text" name="othersockbuf" id="othersockbuf" value="{{ othersockbuf }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="dgramrcvbuf" class="col-sm-3 control-label">{{ dgramrcvbuf_txt }}</label>
                <div class="col-sm-9"><input type="text" name="dgramrcvbuf" id="dgramrcvbuf" value="{{ dgramrcvbuf }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="oomguarpages" class="col-sm-3 control-label">{{ oomguarpages_txt }}</label>
                <div class="col-sm-9"><input type="text" name="oomguarpages" id="oomguarpages" value="{{ oomguarpages }}" class="form-control" readonly /></div></div>
            <div class="form-group">
                <label for="privvmpages" class="col-sm-3 control-label">{{ privvmpages_txt }}</label>
                <div class="col-sm-9"><input type="text" name="privvmpages" id="privvmpages" value="{{ privvmpages }}" class="form-control" readonly /></div></div>
            <div class="form-group">
                <label for="lockedpages" class="col-sm-3 control-label">{{ lockedpages_txt }}</label>
                <div class="col-sm-9"><input type="text" name="lockedpages" id="lockedpages" value="{{ lockedpages }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="shmpages" class="col-sm-3 control-label">{{ shmpages_txt }}</label>
                <div class="col-sm-9"><input type="text" name="shmpages" id="shmpages" value="{{ shmpages }}" class="form-control" readonly /></div></div>
            <div class="form-group">
                <label for="physpages" class="col-sm-3 control-label">{{ physpages_txt }}</label>
                <div class="col-sm-9"><input type="text" name="physpages" id="physpages" value="{{ physpages }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="numfile" class="col-sm-3 control-label">{{ numfile_txt }}</label>
                <div class="col-sm-9"><input type="text" name="numfile" id="numfile" value="{{ numfile }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="avnumproc" class="col-sm-3 control-label">{{ avnumproc_txt }}</label>
                <div class="col-sm-9"><input type="text" name="avnumproc" id="avnumproc" value="{{ avnumproc }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="numflock" class="col-sm-3 control-label">{{ numflock_txt }}</label>
                <div class="col-sm-9"><input type="text" name="numflock" id="numflock" value="{{ numflock }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="numpty" class="col-sm-3 control-label">{{ numpty_txt }}</label>
                <div class="col-sm-9"><input type="text" name="numpty" id="numpty" value="{{ numpty }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="numsiginfo" class="col-sm-3 control-label">{{ numsiginfo_txt }}</label>
                <div class="col-sm-9"><input type="text" name="numsiginfo" id="numsiginfo" value="{{ numsiginfo }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="dcachesize" class="col-sm-3 control-label">{{ dcachesize_txt }}</label>
                <div class="col-sm-9"><input type="text" name="dcachesize" id="dcachesize" value="{{ dcachesize }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="numiptent" class="col-sm-3 control-label">{{ numiptent_txt }}</label>
                <div class="col-sm-9"><input type="text" name="numiptent" id="numiptent" value="{{ numiptent }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="swappages" class="col-sm-3 control-label">{{ swappages_txt }}</label>
                <div class="col-sm-9"><input type="text" name="swappages" id="swappages" value="{{ swappages }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="capability" class="col-sm-3 control-label">{{ capability_txt }}</label>
                <div class="col-sm-9"><input type="text" name="capability" id="capability" value="{{ capability }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="features" class="col-sm-3 control-label">{{ features_txt }}</label>
                <div class="col-sm-9"><input type="text" name="features" id="features" value="{{ features }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="iptables" class="col-sm-3 control-label">{{ iptables_txt }}</label>
                <div class="col-sm-9"><input type="text" name="iptables" id="iptables" value="{{ iptables }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="custom" class="col-sm-3 control-label">{{ custom_txt }}</label>
                <div class="col-sm-9"><textarea class="form-control" name="custom" id="custom" rows='10' cols='30'>{{ custom }}</textarea></div></div>

        <input type="hidden" name="id" value="{{ id }}">

        {% render '../components/form-submit-buttons', cancel_load_content: 'vm/openvz_template_list.php', save_form_action: 'vm/openvz_template_edit.php' %}
