{% render '../components/heading/h1', slot: '{{ list_head_txt }}' %}
<p>{{ list_desc_txt }}</p>


        <legend>Advanced</legend>
            <div class="form-group">
                <label for="veid" class="col-sm-3 control-label">{{ veid_txt }}</label>
                <div class="col-sm-9"><input type="text" name="veid" id="veid" value="{{ veid }}" class="form-control" /></div></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ create_dns_txt }}</label>
                <div class="col-sm-9">
                    {{ create_dns }}
                </div>
            </div>
            <div class="form-group">
                <label for="diskspace" class="col-sm-3 control-label">{{ diskspace_txt }}</label>
                <div class="col-sm-6"><input type="text" name="diskspace" id="diskspace" value="{{ diskspace }}" class="form-control" /></div><div class="col-sm-3 input-sm"> &nbsp;GB
            </div></div>
            <div class="form-group">
                <label for="ram" class="col-sm-3 control-label">{{ ram_txt }}</label>
                <div class="col-sm-6"><input type="text" name="ram" id="ram" value="{{ ram }}" class="form-control" /></div><div class="col-sm-3 input-sm"> &nbsp;MB
            </div></div>
            <div class="form-group">
                <label for="ram_burst" class="col-sm-3 control-label">{{ ram_burst_txt }}</label>
                <div class="col-sm-6"><input type="text" name="ram_burst" id="ram_burst" value="{{ ram_burst }}" class="form-control" /></div><div class="col-sm-3 input-sm"> &nbsp;MB
            </div></div>
            <div class="form-group">
                <label for="cpu_units" class="col-sm-3 control-label">{{ cpu_units_txt }}</label>
                <div class="col-sm-6"><input type="text" name="cpu_units" id="cpu_units" value="{{ cpu_units }}" class="form-control" /></div><div class="col-sm-3 input-sm">&nbsp;(8 - 500000)
            </div></div>
            <div class="form-group">
                <label for="cpu_num" class="col-sm-3 control-label">{{ cpu_num_txt }}</label>
                <div class="col-sm-6"><input type="text" name="cpu_num" id="cpu_num" value="{{ cpu_num }}" class="form-control" /></div><div class="col-sm-3 input-sm">&nbsp;(1 - 64)
            </div></div>
            <div class="form-group">
                <label for="cpu_limit" class="col-sm-3 control-label">{{ cpu_limit_txt }}</label>
                <div class="col-sm-6"><input type="text" name="cpu_limit" id="cpu_limit" value="{{ cpu_limit }}" class="form-control" /></div><div class="col-sm-3 input-sm">&nbsp;(10 - 6400)
            </div></div>
            <div class="form-group">
                <label for="io_priority" class="col-sm-3 control-label">{{ io_priority_txt }}</label>
                <div class="col-sm-6"><input type="text" name="io_priority" id="io_priority" value="{{ io_priority }}" class="form-control" /></div><div class="col-sm-3 input-sm">&nbsp;(0 - 7)
            </div></div>
            <div class="form-group">
                <label for="nameserver" class="col-sm-3 control-label">{{ nameserver_txt }}</label>
                <div class="col-sm-6"><input type="text" name="nameserver" id="nameserver" value="{{ nameserver }}" class="form-control" /></div><div class="col-sm-3 input-sm">&nbsp;{{ nameserver_desc_txt }}
            </div></div>
            <div class="form-group">
                <label for="capability" class="col-sm-3 control-label">{{ capability_txt }}</label>
                <div class="col-sm-9"><input type="text" name="capability" id="capability" value="{{ capability }}" class="form-control" />
			</div></div>
            <div class="form-group">
                <label for="features" class="col-sm-3 control-label">{{ features_txt }}</label>
                <div class="col-sm-9"><input type="text" name="features" id="features" value="{{ features }}" class="form-control" />
			</div></div>
            <div class="form-group">
                <label for="iptables" class="col-sm-3 control-label">{{ iptables_txt }}</label>
                <div class="col-sm-9"><input type="text" name="iptables" id="iptables" value="{{ iptables }}" class="form-control" />
			</div></div>
			<div class="form-group">
				<label for="custom" class="col-sm-3 control-label">{{ custom_txt }}</label>
				<div class="col-sm-9"><textarea class="form-control" name="custom" id="custom" rows='10' cols='30'>{{ custom }}</textarea></div>
			</div>


        <input type="hidden" name="id" value="{{ id }}">

        {% render '../components/form-submit-buttons', cancel_load_content: 'vm/openvz_vm_list.php', save_form_action: 'vm/openvz_vm_edit.php' %}
