{% render '../components/heading/h1', slot: '{{ list_head_txt }}' %}
<p>{{ list_desc_txt }}</p>


        <legend>IP address</legend>
            <div class="form-group">
                <label for="server_id" class="col-sm-3 control-label">{{ server_id_txt }}</label>
                <div class="col-sm-9"><select name="server_id" id="server_id" class="form-control">
                    {{ server_id }}
                </select></div>
            </div>
            <div class="form-group">
                <label for="ip_address" class="col-sm-3 control-label">{{ ip_address_txt }}</label>
                <div class="col-sm-9"><input type="text" name="ip_address" id="ip_address" value="{{ ip_address }}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="vm_id" class="col-sm-3 control-label">{{ vm_id_txt }}</label>
                <div class="col-sm-9"><select name="vm_id" id="vm_id" class="form-control" disabled="disabled">
                    {{ vm_id }}
                </select></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ reserved_txt }}</label>
                <div class="col-sm-9">
                    {{ reserved }}
                </div>
            </div>


        <input type="hidden" name="id" value="{{ id }}">

        {% render '../components/form-submit-buttons', cancel_load_content: 'vm/openvz_ip_list.php', save_form_action: 'vm/openvz_ip_edit.php' %}
<script language="JavaScript" type="text/javascript">
    var vm_id = jQuery('#vm_id').val();
    jQuery('#vm_id').attr({name: 'vm_id_disabled', id: 'vm_id_disabled'});
    jQuery('#vm_id_disabled').after('<input type="hidden" name="vm_id" value="'+vm_id+'">');

</script>
